

{% layout 'theme.tui' %}

<div id="outerMenu">
  
  <main role="main">
    <div id="container" class="multiGallery">
      <div class="gallerySep">
        <section class="secStyle_03 setMrg_39">
          <div class="inner">
            <div class="secStyle_00">
              <h2 class="ttlStyle_17">定期購入について</h2>
              <div class="summaryStyle_07">
                <p>肌への効果をより実感していただくために。<br class="pc">毎日欠かさずお使いいただくスキンケアアイテムだからこそ、<br class="pc">お手元にスムーズにお届けできる定期購入プランをご用意しています。</p>
                <p class="txStyle_07">お届け頻度:1ヶ月<br>
                  
                  <a href="{{ routes.root_url }}pages/rule#subscription" class="linkStyle_02">
                  定期購入の詳しい情報はこちら
                  </a>
                  
                </p>
              </div>
              <!-- /.summaryStyle_07 -->
            </div>
            <!-- /.secStyle_00 -->
            <article class="productSec_01 way">
              <div class="eyeCatch">
                <span>
                  
                  
                    
<img data-src="{{ 'product_img_03.jpg' | file_url }}" alt="" class="lazyload">

                  
                </span>
              </div>
              <!-- /.eyeCatch -->
              <div class="ttl">
                <span class="label">Subscription</span>
                <h1>SET PACKAGE</h1>
                <p>セットパッケージ</p>
              </div>
              <!-- /.ttl -->
              <div class="priceLabel">
                <p><span class="addLabel">1ヶ月定期</span><span class="label"></span><span class="sub">（税込）</span></p>
              </div>
              <!-- /.price -->
              
              <div class="product-template__container page-width"
  id="ProductSection-{{ section.id }}"
  data-section-id="{{ section.id }}"
  data-section-type="product"
  data-enable-history-state="true"
  data-ajax-enabled="{{ settings.enable_ajax }}"
>
  {% comment %}
    Get first variant, or deep linked one
  {% endcomment %}
  {%- assign current_variant = product.selected_or_first_available_variant -%}
  {%- assign product_image_zoom_size = '1024x1024' -%}
  {%- assign product_image_scale = '2' -%}
  {%- assign enable_image_zoom = section.settings.enable_image_zoom -%}
  {%- assign compare_at_price = current_variant.compare_at_price -%}
  {%- assign price = current_variant.price -%}

  {% case section.settings.media_size %}
    {% when 'small' %}
      {%- assign product_media_width = 'medium-up--one-third' -%}
      {%- assign product_description_width = 'medium-up--two-thirds' -%}
      {%- assign height = 345 -%}
    {% when 'medium' %}
      {%- assign product_media_width = 'medium-up--one-half' -%}
      {%- assign product_description_width = 'medium-up--one-half' -%}
      {%- assign height = 530 -%}
    {% when 'large' %}
      {%- assign product_media_width = 'medium-up--two-thirds' -%}
      {%- assign product_description_width = 'medium-up--one-third' -%}
      {%- assign height = 720 -%}
    {% when 'full' %}
      {%- assign product_media_width = '' -%}
      {%- assign product_description_width = '' -%}
      {%- assign height = 1090 -%}
      {%- assign enable_image_zoom = false -%}
  {% endcase %}

  <div class="grid product-single{% if section.settings.enable_payment_button %} product-single--{{ section.settings.media_size }}-media{% endif %}">
    <div class="grid__item product-single__media-group {{ product_media_width }}{% if section.settings.media_size == 'full' %} product-single__media-group--full{% endif %}" data-product-single-media-group>
      {%- assign featured_media = product.selected_or_first_available_variant.featured_media | default: product.featured_media -%}

      {%- for media in product.media -%}
        {% include 'media', media: media, featured_media: featured_media, height: height, enable_image_zoom: enable_image_zoom, image_zoom_size: product_image_zoom_size, image_scale: product_image_scale %}
      {%- endfor -%}

      <noscript>
        {% capture product_image_size %}{{ height }}x{% endcapture %}
        <img src="{{ featured_media | img_url: product_image_size, scale: product_image_scale }}" alt="{{ featured_media.alt }}" id="FeaturedMedia-{{ section.id }}" class="product-featured-media" style="max-width: {{ height }}px;">
      </noscript>

      {% assign first_3d_model = product.media | where: "media_type", "model" | first %}

      {%- if first_3d_model -%}
        <button
          aria-label="{{ 'products.product.view_in_space_label' | t }}"
          class="product-single__view-in-space"
          data-shopify-xr
          data-shopify-model3d-id="{{ first_3d_model.id }}"
          data-shopify-title="{{ product.title | escape }}"
          data-shopify-xr-hidden
        >
          {% include 'icon-3d-badge-full-color' %}<span class='product-single__view-in-space-text'>{{ 'products.product.view_in_space' | t }}</span>
        </button>
      {%- endif -%}


      {% if product.media.size > 1 %}
        {% if product.media.size > 4 %}
          {%- assign enable_thumbnail_slides = true -%}
        {% endif %}

        <div data-thumbnail-slider>
          <div class="thumbnails-wrapper{% if enable_thumbnail_slides == true %} slider-active{% endif %}" data-slider>
            {% if enable_thumbnail_slides == true %}
              <button type="button" class="btn btn--link medium-up--hide thumbnails-slider__btn thumbnails-slider__prev thumbnails-slider__prev--{{ section.id }}" data-slider-button>
                {% include 'icon-chevron-left' %}
                <span class="icon__fallback-text">{{ 'sections.slideshow.previous_slide' | t }}</span>
              </button>
            {% endif %}

            <ul class="product-single__thumbnails product-single__thumbnails-{{ section.id }}" data-slider-container>
              {% if enable_thumbnail_slides == true %}
                <div class="product-single__thumbnails-slider-track" data-slider-track>
              {% endif %}

              {% for media in product.media %}
                <li class="product-single__thumbnails-item product-single__thumbnails-item--{{ section.settings.media_size }} {% if enable_thumbnail_slides == true %} product-single__thumbnails-item-slide{% endif %} js"{% if enable_thumbnail_slides == true %} data-slider-slide-index="{{ forloop.index0 }}" data-slider-item{% endif %}>
                  <a href="{{ media.preview_image | img_url: product_image_zoom_size, scale: product_image_scale }}"
                    class="text-link product-single__thumbnail product-single__thumbnail--{{ section.id }}"
                    data-thumbnail-id="{{ section.id }}-{{ media.id }}"
                    {% if enable_thumbnail_slides == true %} data-slider-item-link{% endif %}
                    {% if enable_image_zoom %}data-zoom="{{ media.preview_image | img_url: product_image_zoom_size, scale: product_image_scale }}"{% endif %}>

                      {%- capture thumbnailAlt -%}
                        {%- if media.media_type == 'video' or media.media_type == 'external_video' -%}
                          {{ 'sections.featured_product.video_thumbnail_alt' | t: imageAlt: media.alt | escape }}
                        {%- elsif media.media_type == 'model' -%}
                          {{ 'sections.featured_product.model_thumbnail_alt' | t: imageAlt: media.alt | escape }}
                        {%- else -%}
                          {{ 'sections.featured_product.gallery_thumbnail_alt' | t: imageAlt: media.alt | escape }}
                        {%- endif -%}
                      {%- endcapture -%}

                      <img class="product-single__thumbnail-image" src="{{ media.preview_image | img_url: '110x110', scale: 2 }}" alt="{{ thumbnailAlt }}">
                      {%- if media.media_type == 'video' or media.media_type =='external_video' -%}
                        <div class="product-single__thumbnail-badge">
                          {% include 'icon-video-badge-full-color' %}
                        </div>
                      {%- endif -%}
                      {%- if media.media_type == 'model' -%}
                        <div class="product-single__thumbnail-badge">
                          {% include 'icon-3d-badge-full-color' %}
                        </div>
                      {%- endif -%}
                  </a>
                </li>
              {% endfor %}

              {% if enable_thumbnail_slides == true %}
                </div>
              {% endif %}
            </ul>
            {% if enable_thumbnail_slides == true %}
              <button type="button" class="btn btn--link medium-up--hide thumbnails-slider__btn thumbnails-slider__next thumbnails-slider__next--{{ section.id }}" data-slider-button data-slider-button-next>
                {% include 'icon-chevron-right' %}
                <span class="icon__fallback-text">{{ 'sections.slideshow.next_slide' | t }}</span>
              </button>
            {% endif %}
          </div>
        </div>
      {% endif %}
    </div>

    <div class="grid__item {{ product_description_width }}">
      <div class="product-single__meta">

        <h1 class="product-single__title">{{ product.title }}</h1>
        <script>window.performance.mark('debut:product:title_visible');</script>

          <div class="product__price">
            {% include 'product-price', variant: current_variant, show_vendor: section.settings.show_vendor %}
          </div>

          {%- if cart.taxes_included or shop.shipping_policy.body != blank -%}
            <div class="product__policies rte" data-product-policies>
              {%- if cart.taxes_included -%}
                {{ 'products.product.include_taxes' | t }}
              {%- endif -%}
              {%- if shop.shipping_policy.body != blank -%}
                {{ 'products.product.shipping_policy_html' | t: link: shop.shipping_policy.url }}
              {%- endif -%}
            </div>
          {%- endif -%}

          {% capture "form_classes" -%}
            product-form product-form-{{ section.id }}
            {%- if section.settings.enable_payment_button and product.has_only_default_variant %} product-form--payment-button-no-variants {%- endif -%}
            {%- if current_variant.available == false %} product-form--variant-sold-out {%- endif -%}
          {%- endcapture %}

          {% form 'product', product, class:form_classes, novalidate: 'novalidate', data-product-form: '' %}


            {{ form | payment_terms }}
{% if content_for_header contains 'mikawaya' %}
{% render 'mikawaya-product-page-widget' %}
{% endif %}

            {% unless product.has_only_default_variant %}
              <div class="product-form__controls-group">
                {% for option in product.options_with_values %}
                  <div class="selector-wrapper js product-form__item">
                    <label for="SingleOptionSelector-{{ forloop.index0 }}">
                      {{ option.name }}
                    </label>
                    <select class="single-option-selector single-option-selector-{{ section.id }} product-form__input"
                      id="SingleOptionSelector-{{ forloop.index0 }}"
                      data-index="option{{ forloop.index }}"
                    >
                      {% for value in option.values %}
                        <option value="{{ value | escape }}"{% if option.selected_value == value %} selected="selected"{% endif %}>{{ value }}</option>
                      {% endfor %}
                    </select>
                  </div>
                {% endfor %}
              </div>
            {% endunless %}

            <select name="id" id="ProductSelect-{{ section.id }}" class="product-form__variants no-js">
              {% for variant in product.variants %}
                <option value="{{ variant.id }}"
                  {%- if variant == current_variant %} selected="selected" {%- endif -%}
                >
                  {{ variant.title }}  {%- if variant.available == false %} - {{ 'products.product.sold_out' | t }}{% endif %}
                </option>
              {% endfor %}
            </select>

            {% if section.settings.show_quantity_selector %}
              <div class="product-form__controls-group">
                <div class="product-form__item">
                  <label for="Quantity-{{ section.id }}">{{ 'products.product.quantity' | t }}</label>
                  <input type="number" id="Quantity-{{ section.id }}"
                    name="quantity" value="1" min="1" pattern="[0-9]*"
                    class="product-form__input product-form__input--quantity" data-quantity-input
                  >
                </div>
              </div>
            {% endif %}

            <div class="product-form__error-message-wrapper product-form__error-message-wrapper--hidden{% if section.settings.enable_payment_button %} product-form__error-message-wrapper--has-payment-button{% endif %}"
              data-error-message-wrapper
              role="alert"
            >
              <span class="visually-hidden">{{ 'general.accessibility.error' | t }} </span>
              {% include 'icon-error' %}
              <span class="product-form__error-message" data-error-message>{{ 'products.product.quantity_minimum_message' | t }}</span>
            </div>

            <div class="product-form__controls-group product-form__controls-group--submit">
              <div class="product-form__item product-form__item--submit
                {%- if section.settings.enable_payment_button %} product-form__item--payment-button {%- endif -%}
                {%- if product.has_only_default_variant %} product-form__item--no-variants {%- endif -%}"
              >
                <button type="submit" name="add"
                  {% unless current_variant.available %} aria-disabled="true"{% endunless %}
                  aria-label="{% unless current_variant.available %}{{ 'products.product.sold_out' | t }}{% else %}{{ 'products.product.add_to_cart' | t }}{% endunless %}"
                  class="btn product-form__cart-submit{% if section.settings.enable_payment_button and product.selling_plan_groups == empty %} btn--secondary-accent{% endif %}"
                  {% if settings.enable_ajax %}aria-haspopup="dialog"{% endif %}
                  data-add-to-cart>
                  <span data-add-to-cart-text>
                    {% unless current_variant.available %}
                      {{ 'products.product.sold_out' | t }}
                    {% else %}
                      {{ 'products.product.add_to_cart' | t }}
                    {% endunless %}
                  </span>
                  <span class="hide" data-loader>
                    {% include 'icon-spinner' %}
                  </span>
                </button>
                {% if section.settings.enable_payment_button %}
                  {{ form | payment_button }}
                {% endif %}
              </div>
            </div>
          {% endform %}
        </div>

        {%- comment -%}
          Live region for announcing updated price and availability to screen readers
        {%- endcomment -%}
        <p class="visually-hidden" data-product-status
          aria-live="polite"
          role="status"
        ></p>

        {%- comment -%}
          Live region for announcing that the product form has been submitted and the
          product is in the process being added to the cart
        {%- endcomment -%}
        <p class="visually-hidden" data-loader-status
          aria-live="assertive"
          role="alert"
          aria-hidden="true"
        >{{ 'products.product.loader_label' | t }}</p>

        <div
          class="product-single__store-availability-container"
          data-store-availability-container
          data-product-title="{{ product.title | escape }}"
          data-has-only-default-variant="{{ product.has_only_default_variant }}"
          data-base-url="{{ shop.url }}{{ routes.root_url }}"
        >
        </div>

        <div class="product-single__description rte">
          {{ product.description }}
        </div>

        {% if section.settings.show_share_buttons %}
          {% include 'social-sharing', share_title: product.title, share_permalink: product.url, share_image: product.featured_media %}
        {% endif %}
    </div>
  </div>
</div>

{% unless product == empty %}
  <script type="application/json" id="ProductJson-{{ section.id }}">
    {{ product | json }}
  </script>
  <script type="application/json" id="ModelJson-{{ section.id }}">
    {{ product.media | where: 'media_type', 'model' | json }}
  </script>
{% endunless %}



{% schema %}
{
  "name": {
    "cs": "Stránky produktů",
    "da": "Produktsider",
    "de": "Produktseiten",
    "en": "Product pages",
    "es": "Páginas de productos",
    "fi": "Tuotesivut",
    "fr": "Pages de produits",
    "it": "Pagine del prodotto",
    "ja": "商品ページ",
    "ko": "제품 페이지",
    "nb": "Produktsider",
    "nl": "Productpagina's",
    "pl": "Strony produktu",
    "pt-BR": "Páginas de produtos",
    "pt-PT": "Páginas de produtos",
    "sv": "Produktsidor",
    "th": "หน้าสินค้า",
    "tr": "Ürün sayfaları",
    "vi": "Trang sản phẩm",
    "zh-CN": "产品页面",
    "zh-TW": "產品頁面"
  },
  "settings": [
    {
      "type": "checkbox",
      "id": "show_quantity_selector",
      "label": {
        "cs": "Zobrazit výběr množství",
        "da": "Vis antalsvælger",
        "de": "Mengenauswahl anzeigen",
        "en": "Show quantity selector",
        "es": "Mostrar selector de cantidad",
        "fi": "Näytä määrän valitsin",
        "fr": "Afficher le sélecteur de quantité",
        "it": "Mostra selettore quantità",
        "ja": "数量セレクターを表示する",
        "ko": "수량 선택기 표시",
        "nb": "Vis mengdevelger",
        "nl": "Hoeveelheidskiezer weergeven",
        "pl": "Pokaż selektor ilości",
        "pt-BR": "Exibir seletor de quantidade",
        "pt-PT": "Mostrar um seletor de quantidade",
        "sv": "Visa kvantitetsväljare",
        "th": "แสดงตัวเลือกจำนวน",
        "tr": "Adet seçiciyi göster",
        "vi": "Hiển thị hộp chọn số lượng",
        "zh-CN": "显示数量选择器",
        "zh-TW": "顯示數量選擇器"
      },
      "default": false
    },
    {
      "type": "checkbox",
      "id": "show_vendor",
      "label": {
        "cs": "Zobrazit dodavatele",
        "da": "Vis leverandør",
        "de": "Lieferanten anzeigen",
        "en": "Show vendor",
        "es": "Mostrar proveedor",
        "fi": "Näytä myyjä",
        "fr": "Afficher les vendeurs",
        "it": "Mostra fornitore",
        "ja": "販売元を表示する",
        "ko": "공급업체 표시",
        "nb": "Vis leverandør",
        "nl": "Leverancier weergeven",
        "pl": "Pokaż dostawcę",
        "pt-BR": "Exibir fabricante",
        "pt-PT": "Mostrar fornecedor",
        "sv": "Visa säljare",
        "th": "แสดงผู้ขาย",
        "tr": "Satıcıyı göster",
        "vi": "Hiển thị nhà cung cấp",
        "zh-CN": "显示厂商",
        "zh-TW": "顯示廠商"
      },
      "default": false
    },
    {
      "type": "checkbox",
      "id": "enable_payment_button",
      "label": {
        "cs": "Zobrazit dynamické tlačítko pokladny",
        "da": "Vis dynamisk betalingsknap",
        "de": "Dynamischen Checkout Button anzeigen",
        "en": "Show dynamic checkout button",
        "es": "Mostrar botón de pago dinámico",
        "fi": "Näytä dynaaminen kassapainike",
        "fr": "Afficher le bouton de paiement dynamique",
        "it": "Mostra pulsante di check-out dinamico",
        "ja": "動的チェックアウトボタンを表示する",
        "ko": "동적 결제 버튼 표시",
        "nb": "Vis dynamisk knapp for å gå til kassen",
        "nl": "Dynamische checkoutknop weergeven",
        "pl": "Pokaż dynamiczny przycisk realizacji zakupu",
        "pt-BR": "Exibir botão de checkout dinâmico",
        "pt-PT": "Mostrar o botão dinâmico de finalização da compra",
        "sv": "Visa dynamiska utcheckningsknappar",
        "th": "แสดงปุ่มชำระเงินแบบไดนามิก",
        "tr": "Dinamik ödeme düğmesini göster",
        "vi": "Hiển thị nút thanh toán nhanh",
        "zh-CN": "显示动态结账按钮",
        "zh-TW": "顯示動態結帳按鈕"
      },
      "info": {
        "cs": "Každý zákazník uvidí platební metodu, kterou ze všech metod dostupných v obchodě (například PayPal nebo Apple Pay) nejvíce preferuje. [Další informace](https://help.shopify.com/manual/using-themes/change-the-layout/dynamic-checkout)",
        "da": "Den enkelte kunde vil se sin foretrukne betalingsmetode blandt dem, der er tilgængelige i din butik, f.eks. PayPal eller Apple Pay. [Få mere at vide](https://help.shopify.com/manual/using-themes/change-the-layout/dynamic-checkout)",
        "de": "Jeder Kunde sieht seine bevorzugte Zahlungsmethode aus den in deinem Shop verfügbaren Zahlungsmethoden wie PayPal oder Apple Pay. [Mehr Informationen](https://help.shopify.com/manual/using-themes/change-the-layout/dynamic-checkout)",
        "en": "Each customer will see their preferred payment method from those available on your store, such as PayPal or Apple Pay. [Learn more](https://help.shopify.com/manual/using-themes/change-the-layout/dynamic-checkout)",
        "es": "Cada cliente verá su forma de pago preferida entre las disponibles en tu tienda, como PayPal o Apple Pay. [Más información](https://help.shopify.com/manual/using-themes/change-the-layout/dynamic-checkout)",
        "fi": "Kukin asiakas näkee ensisijaisen valintansa kauppasi tarjoamista maksutavoista, esim. PayPal tai Apple Pay. [Lisätietoja](https://help.shopify.com/manual/using-themes/change-the-layout/dynamic-checkout)",
        "fr": "Chaque client verra son moyen de paiement préféré parmi ceux qui sont proposés sur votre boutique, tels que PayPal ou Apple Pay. [En savoir plus](https://help.shopify.com/manual/using-themes/change-the-layout/dynamic-checkout)",
        "it": "Ogni cliente vedrà il suo metodo di pagamento preferito tra quelli disponibili nel tuo negozio, come PayPal o Apple Pay. [Maggiori informazioni](https://help.shopify.com/manual/using-themes/change-the-layout/dynamic-checkout)",
        "ja": "PayPalやApple Payなど、ストアで利用可能な希望の決済方法がお客様に表示されます。[詳しくはこちら](https://help.shopify.com/manual/using-themes/change-the-layout/dynamic-checkout)",
        "ko": "각 고객은 PayPal 또는 Apple Pay와 같이 스토어에서 사용 가능한 지불 방법을 확인할 수 있습니다. [자세히 알아보기](https://help.shopify.com/manual/using-themes/change-the-layout/dynamic-checkout)",
        "nb": "Hver enkelt kunde vil se sin foretrukne betalingsmåte blant de som er tilgjengelig i butikken din, som PayPal eller Apple Pay. [Finn ut mer](https://help.shopify.com/manual/using-themes/change-the-layout/dynamic-checkout)",
        "nl": "Elke klant ziet zijn of haar beschikbare voorkeursmethode om af te rekenen, zoals PayPal of Apple Pay. [Meer informatie](https://help.shopify.com/manual/using-themes/change-the-layout/dynamic-checkout)",
        "pl": "Każdy klient zobaczy swoją preferowaną metodę płatności wśród metod dostępnych w Twoim sklepie, np. PayPal lub Apple Pay. [Dowiedz się więcej](https://help.shopify.com/manual/using-themes/change-the-layout/dynamic-checkout)",
        "pt-BR": "Cada cliente verá a forma de pagamento preferencial dele dentre as disponíveis na loja, como PayPal ou Apple Pay. [Saiba mais](https://help.shopify.com/manual/using-themes/change-the-layout/dynamic-checkout)",
        "pt-PT": "Cada cliente irá ver o seu método de pagamento preferido entre os disponíveis na loja, como o PayPal ou Apple Pay. [Saiba mais](https://help.shopify.com/manual/using-themes/change-the-layout/dynamic-checkout)",
        "sv": "Varje kund kommer att se den föredragna betalningsmetoden från de som finns tillgängliga i din butik, till exempel PayPal eller Apple Pay. [Läs mer](https://help.shopify.com/manual/using-themes/change-the-layout/dynamic-checkout)",
        "th": "ลูกค้าแต่ละรายจะเห็นวิธีการชำระเงินที่ต้องการจากวิธีที่ใช้ได้ในร้านค้าของคุณ เช่น PayPal หรือ Apple Pay [ดูข้อมูลเพิ่มเติม](https://help.shopify.com/manual/using-themes/change-the-layout/dynamic-checkout)",
        "tr": "Her müşteri, mağazanız sunulanlar arasından tercih ettikleri ödeme yöntemini görür (ör. PayPal veya Apple Pay). [Daha fazla bilgi edinin](https://help.shopify.com/manual/using-themes/change-the-layout/dynamic-checkout)",
        "vi": "Mỗi khách hàng sẽ thấy phương thức thanh toán ưu tiên trong những phương thức thanh toán được hỗ trợ tại cửa hàng như PayPal hoặc Apple Pay. [Tìm hiểu thêm](https://help.shopify.com/manual/using-themes/change-the-layout/dynamic-checkout)",
        "zh-CN": "每位客户都可在您商店提供的付款方式中看到他们的首选付款方式，例如 PayPal 或 Apple Pay。[了解详细信息](https://help.shopify.com/manual/using-themes/change-the-layout/dynamic-checkout)",
        "zh-TW": "每位顧客都可以在您商店內開放使用的付款方式中看見他們偏好使用的方式，如 PayPal、Apple Pay 等。[深入瞭解](https://help.shopify.com/manual/using-themes/change-the-layout/dynamic-checkout)"
      },
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_share_buttons",
      "label": {
        "cs": "Zobrazit tlačítka pro sdílení na sociálních sítích",
        "da": "Vis knapper til deling på sociale medier",
        "de": "Buttons für Social Media anzeigen",
        "en": "Show social sharing buttons",
        "es": "Mostrar botones para compartir en redes sociales",
        "fi": "Näytä sosiaalisen median jakamispainikkeet",
        "fr": "Affichez les boutons de partage sur les médias sociaux",
        "it": "Mostra i pulsanti per la condivisione sui social",
        "ja": "ソーシャルメディアでの共有ボタンを表示する",
        "ko": "소셜 공유 버튼 표시",
        "nb": "Vis knapper for deling på sosiale medier",
        "nl": "Knoppen voor sociaal delen weergeven",
        "pl": "Pokaż przyciski udostępniania w mediach społecznościowych",
        "pt-BR": "Exibir botões de compartilhamento em redes sociais",
        "pt-PT": "Mostrar botões de partilha nas redes sociais",
        "sv": "Visa knappar för delning i sociala medier",
        "th": "แสดงปุ่มสำหรับแชร์ลงโซเชียล",
        "tr": "Sosyal medya paylaşım düğmelerini göster",
        "vi": "Hiển thị nút chia sẻ qua mạng xã hội",
        "zh-CN": "显示社交分享按钮",
        "zh-TW": "顯示社群分享按鈕"
      },
      "default": true
    },
    {
      "type": "header",
      "content": {
        "cs": "Multimédia",
        "da": "Medie",
        "de": "Medien",
        "en": "Media",
        "es": "Elementos multimedia",
        "fi": "Media",
        "fr": "Support multimédia",
        "it": "Contenuti multimediali",
        "ja": "メディア",
        "ko": "미디어",
        "nb": "Medier",
        "nl": "Media",
        "pl": "Multimedia",
        "pt-BR": "Mídia",
        "pt-PT": "Multimédia",
        "sv": "Media",
        "th": "สื่อ",
        "tr": "Medya",
        "vi": "Nội dung đa phương tiện",
        "zh-CN": "媒体",
        "zh-TW": "媒體"
      },
      "info": {
        "cs": "Další informace o [typech multimédií](https://help.shopify.com/manual/products/product-media)",
        "da": "Få mere at vide om [media types](https://help.shopify.com/manual/products/product-media)",
        "de": "Mehr Informationen über [Medientypen ](https://help.shopify.com/manual/products/product-media)",
        "en": "Learn more about [media types](https://help.shopify.com/manual/products/product-media)",
        "es": "Más información sobre [tipos de archivos multimedia](https://help.shopify.com/manual/products/product-media)",
        "fi": "Lue lisää [mediatyypeistä](https://help.shopify.com/manual/products/product-media)",
        "fr": "En savoir plus sur les [types de supports multimédia](https://help.shopify.com/manual/products/product-media)",
        "it": "Scopri di più sulle [tipologie di file multimediali](https://help.shopify.com/manual/products/product-media)",
        "ja": "[メディアのタイプ](https://help.shopify.com/manual/products/product-media) について詳しくはこちら",
        "ko": "[미디어 유형](https://help.shopify.com/manual/products/product-media)에 대해 자세히 알아보기",
        "nb": "Lær mer om [medietyper](https://help.shopify.com/manual/products/product-media)",
        "nl": "Meer informatie over [mediatypen](https://help.shopify.com/manual/products/product-media)",
        "pl": "Dowiedz się więcej o [typach multimediów](https://help.shopify.com/manual/products/product-media)",
        "pt-BR": "Saiba mais sobre [tipos de mídia](https://help.shopify.com/manual/products/product-media)",
        "pt-PT": "Saiba mais sobre [media types](https://help.shopify.com/manual/products/product-media)",
        "sv": "Läs mer om [mediatyper](https://help.shopify.com/manual/products/product-media)",
        "th": "ดูข้อมูลเพิ่มเติมเกี่ยวกับ [ประเภทของสื่อ](https://help.shopify.com/manual/products/product-media)",
        "tr": "[Medya türleri](https://help.shopify.com/manual/products/product-media) hakkında daha fazla bilgi edinin",
        "vi": "Tìm hiểu thêm về [loại phương tiện](https://help.shopify.com/manual/products/product-media)",
        "zh-CN": "详细了解[媒体类型](https://help.shopify.com/manual/products/product-media)",
        "zh-TW": "深入瞭解 [媒體類型](https://help.shopify.com/manual/products/product-media)"
      }
    },
    {
      "type": "select",
      "id": "media_size",
      "label": {
        "cs": "Velikost",
        "da": "Størrelse",
        "de": "Größe",
        "en": "Size",
        "es": "Tamaño",
        "fi": "Koko",
        "fr": "Taille",
        "it": "Dimensione",
        "ja": "サイズ",
        "ko": "사이즈",
        "nb": "Størrelse",
        "nl": "Grootte",
        "pl": "Rozmiar",
        "pt-BR": "Tamanho",
        "pt-PT": "Tamanho",
        "sv": "Storlek",
        "th": "ขนาด",
        "tr": "Boyut",
        "vi": "Cỡ",
        "zh-CN": "尺寸",
        "zh-TW": "尺寸"
      },
      "options": [
        {
          "value": "small",
          "label": {
            "cs": "Malá",
            "da": "Lille",
            "de": "Klein",
            "en": "Small",
            "es": "Pequeño",
            "fi": "Pieni",
            "fr": "Petit",
            "it": "Piccolo",
            "ja": "スモール",
            "ko": "스몰",
            "nb": "Liten",
            "nl": "Klein",
            "pl": "Mały",
            "pt-BR": "Pequeno",
            "pt-PT": "Pequeno",
            "sv": "Liten",
            "th": "เล็ก",
            "tr": "Küçük",
            "vi": "Nhỏ",
            "zh-CN": "小",
            "zh-TW": "小型"
          }
        },
        {
          "value": "medium",
          "label": {
            "cs": "Střední",
            "da": "Medium",
            "de": "Mittel",
            "en": "Medium",
            "es": "Mediano",
            "fi": "Keskisuuri",
            "fr": "Moyenne",
            "it": "Medio",
            "ja": "中",
            "ko": "보통",
            "nb": "Middels",
            "nl": "Gemiddeld",
            "pl": "Średni",
            "pt-BR": "Médio",
            "pt-PT": "Médio",
            "sv": "Medium",
            "th": "ปานกลาง",
            "tr": "Orta",
            "vi": "Trung bình",
            "zh-CN": "中等",
            "zh-TW": "中等"
          }
        },
        {
          "value": "large",
          "label": {
            "cs": "Velká",
            "da": "Stor",
            "de": "Groß",
            "en": "Large",
            "es": "Grande",
            "fi": "Suuri",
            "fr": "Grande",
            "it": "Grande",
            "ja": "大",
            "ko": "라지",
            "nb": "Stor",
            "nl": "Groot",
            "pl": "Duży",
            "pt-BR": "Grande",
            "pt-PT": "Grande",
            "sv": "Stor",
            "th": "ใหญ่",
            "tr": "Büyük",
            "vi": "Lớn",
            "zh-CN": "大",
            "zh-TW": "大型"
          }
        },
        {
          "value": "full",
          "label": {
            "cs": "Plná šířka",
            "da": "Fuld bredde",
            "de": "Volle Breite",
            "en": "Full-width",
            "es": "Ancho completo",
            "fi": "Täysi leveys",
            "fr": "Pleine largeur",
            "it": "Intera larghezza",
            "ja": "全幅",
            "ko": "전체 폭",
            "nb": "Full bredde",
            "nl": "Volledige breedte",
            "pl": "Pełna szerokość",
            "pt-BR": "Largura completa",
            "pt-PT": "Largura completa",
            "sv": "Full bredd",
            "th": "เต็มความกว้าง",
            "tr": "Tam genişlikli",
            "vi": "Độ rộng đầy đủ",
            "zh-CN": "全宽",
            "zh-TW": "完整寬度"
          }
        }
      ],
      "default": "medium"
    },
    {
      "type": "checkbox",
      "id": "enable_image_zoom",
      "label": {
        "cs": "Povolit zvětšení obrázku",
        "da": "Aktivér billedzoom",
        "de": "Foto-Zoom zulassen",
        "en": "Enable image zoom",
        "es": "Habilitar zoom de imagen",
        "fi": "Ota kuvan zoomaus käyttöön",
        "fr": "Activer le zoom d'image",
        "it": "Abilita lo zoom dell'immagine",
        "ja": "画像ズームを有効にする",
        "ko": "이미지 확대 사용",
        "nb": "Aktiver bildezoom",
        "nl": "Inzoomen op afbeelding inschakelen",
        "pl": "Włącz powiększenie obrazu",
        "pt-BR": "Habilitar o zoom da imagem",
        "pt-PT": "Ativar o zoom da imagem",
        "sv": "Aktivera bildzoom",
        "th": "เปิดใช้การซูมภาพ",
        "tr": "Görsel yakınlaştırmayı etkinleştir",
        "vi": "Bật thu phóng hình ảnh",
        "zh-CN": "启用图片缩放",
        "zh-TW": "啟用圖片縮放"
      },
      "default": true
    },
    {
      "type": "checkbox",
      "id": "enable_video_looping",
      "label": {
        "cs": "Povolit smyčky videa",
        "da": "Aktivér looping af videoer",
        "de": "Videoschleife aktivieren",
        "en": "Enable video looping",
        "es": "Habilitar la reproducción de video en bucle",
        "fi": "Ota käyttöön videosilmukka",
        "fr": "Activer le bouclage de la vidéo",
        "it": "Abilita la riproduzione in loop dei video",
        "ja": "ビデオのループを有効にする",
        "ko": "동영상 루프",
        "nb": "Aktiver løkkeavspilling av video",
        "nl": "Video-looping inschakelen",
        "pl": "Włącz zapętlanie wideo",
        "pt-BR": "Habilitar loop de vídeo",
        "pt-PT": "Ativar ciclo de vídeo",
        "sv": "Aktivera video-loopning",
        "th": "เปิดใช้การวนซ้ำวิดีโอ",
        "tr": "Video döngüsünü etkinleştir",
        "vi": "Bật vòng lặp video",
        "zh-CN": "启用视频循环",
        "zh-TW": "啟用影片循環功能"
      },
      "default": false
    }
  ]
}
{% endschema %}

              
              <div class="btnWrap style_01 setMrg_23">
                <div class="inner">
                  <div class="col">
                    <button type="button" class="btnStyle_05 ja customCartBtn" id="customCartBtn"><span class="normal">カートに追加する</span><span class="out">Out of stock</span></button>
                    <p class="txStyle_08">定期でご購入のお客様は送料無料でお届けいたします。<br>初回ご購入特典として、無料でギフトラッピングしてお届けいたします。<br>セット専用のラッピングボックス単体の販売もございます。<br class="sp">
                      
                      <a href="{{ routes.root_url }}products/set-package#gift" class="linkStyle_03">ご希望の方はこちら</a>
                      </p>
                      <p class="txStyle_08">・商品のお届けの間隔は毎月です。2ヶ月に1回のお届けなどはできかねます。<br>【2回目以降】初回お申し込み後、定期便1回目のお届けは皆様にお約束いただいております。<br>【3回目以降】自動的に継続してお届けいたします。</p>
                  </div>
                  <!-- /.col -->
                </div>
                <!-- /.inner -->
              </div>
              <!-- /.btnWrap -->
              <div class="content">
                <div class="sec">
                  <h3>オイルとセラム、対になるもの</h3>
                  <div class="summary style_01">
                    <p>他に余計なステップはいらず、シンプルかつ、肌への最適化を考え抜かれてうまれた組み合わせ、ブースターオイルとモイスチャーセラム。この二つを併せて使うことで、これまでにない肌の仕上がりを体感します。</p>
                  </div>
                  <!-- /.summary -->
                </div>
                <!-- /.sec -->
                <div class="sec">
                  <dl>
                    <dt>容量</dt>
                    <dd>〈 ブースターオイル 〉30mL     〈 モイスチャーセラム 〉50mL </dd>
                  </dl>
                  <dl>
                    <dt>使い方</dt>
                    <dd>〈 ブースターオイル 〉<br>朝晩の洗顔後に1プッシュを手に取り、お顔全体に優しくなじませてください。<br>〈 モイスチャーセラム 〉<br>ブースターオイル使用後に1〜2プッシュを手に取り、<br>お顔全体に優しくなじませてください。<br>乾燥が気になる箇所には重ね付けしてご使用ください。</dd>
                  </dl>
                  <dl>
                    <dt>全成分</dt>
                    <dd>〈 ブースターオイル 〉<br>ホホバ種子油、リン酸アスコルビルMg、酢酸トコフェロール、水溶性プロテオグリカン、α–アルブチン、ポリリシノレイン酸ポリグリセリル–6、水、BG<br>〈 モイスチャーセラム 〉<br>水、グリセリン、PEG-40水添ヒマシ油、 BG、PEG-60水添ヒマシ油、ホホバ種子油、 リン酸アスコルビルMg、酢酸トコフェロール、ポリリシノレイン酸ポリグリセリル-6、水溶性プロテオグリカン、セラミドEOP、セラミドNP、セラミドAP、 キサンタンガム、(PEG-240/デシルテトラ デセス-20/HDI)コポリマー、ポリソルベート20、PEG-20ソルビタンココエート、フィトスフィンゴシン、コレステロール、カルボマー、ラウロイルラクチレートNa、 カプリリルグリコール、1,2-ヘキサンジオール、フェノキシエタノール</dd>
                  </dl>
                  <p class="strong">パラベン、アルコール、合成香料、合成着色料 不使用</p>
                  <div class="elemWrap">
                    
                    <a href="{{ routes.root_url }}" class="btnStyle_08"><span>Back to Top</span></a>
                    
                  </div>
                </div>
                <!-- /.sec -->
              </div>
              <!-- /.content -->
            </article>
            <!-- /.productSec_01 -->
          </div>
          <!-- /.inner -->
        </section>
        <!-- /.secStyle_03 -->
        <div class="setMrg_24 way pc">
          <section class="secStyle_07">
  <div class="inner">
    <div class="movieStyle_01 setMrg_07 videoWay">
      <div class="inner">
        <div class="videoWrap">
          
          <video class="video lazyload" muted playsinline loop preload="none">
            <source src="{{ 'movie.mp4' | file_url }}" type="video/mp4">
          </video>
          
        </div>
        <!-- /.videoWrap -->
        <div class="mask">
          <span class="head"><svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px"
	 y="0px" viewBox="0 0 10 10" style="enable-background:new 0 0 10 10;" xml:space="preserve">
<path class="st0" d="M10,0H0v10C0,4.5,4.5,0,10,0z"/>
</svg>
</span>
          <span class="head"><svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px"
	 y="0px" viewBox="0 0 10 10" style="enable-background:new 0 0 10 10;" xml:space="preserve">
<path class="st0" d="M0,0l10,0v10C10,4.5,5.5,0,0,0z"/>
</svg>
</span>
          <span class="foot"><svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px"
	 y="0px" viewBox="0 0 10 10" style="enable-background:new 0 0 10 10;" xml:space="preserve">
<path class="st0" d="M0,0l10,0v10C10,4.5,5.5,0,0,0z"/>
</svg>
</span>
          <span class="foot"><svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px"
	 y="0px" viewBox="0 0 10 10" style="enable-background:new 0 0 10 10;" xml:space="preserve">
<path class="st0" d="M10,0H0v10C0,4.5,4.5,0,10,0z"/>
</svg>
</span>
        </div>
        <!-- /.mask -->
      </div>
      <!-- /.inner -->
    </div>
    <!-- /.movieStyle_01 -->
  </div>
  <!-- /.inner -->
  <div class="content">
    <h2 class="ttlStyle_05 setMrg_01">About NtDDS</h2>
    <div class="summaryStyle_03 setMrg_08">
      <p>“角質層のすみずみにまで保湿美容成分を届ける”ことを可能にする、<br class="pc">独自開発したナノ分散浸透技術 “NtDDS”。 皮膚は、肌表面にある角質層が<br class="pc">乾燥と外部刺激から肌を守るため、疎水性が高く、<br class="productsBr">物質を浸透させることが難しいとされてきました。<br class="pc">そこで、肌と親和性の高いナノサイズカプセルで保湿美容成分を覆い、<br class="pc">美容オイルに可溶化することで「浸透性」「安定性」「肌へのやさしさ」を実現。<br class="pc">NtDDSによる角質層すみずみへの浸透効果が、なめらかな素肌へと導きます。</p>
    </div>
    <!-- /.summaryStyle_03 -->
    <h3 class="ttlStyle_06 setMrg_09 onlyProduct">肌が実感する、<br class="sp">角質層へのアプローチ</h3>
    <div class="summaryStyle_03 setMrg_10 onlyProduct">
      <p>水溶性・高分子成分をそのままNtDDS技術で油性素材・水溶性素材にナノ分散することで、<br class="pc">角質層のすみずみまでダイレクトに浸透します。</p>
      <ul class="listStyle_01">
        <li>リン酸アスコルビルMg<span>(ビタミンC誘導体)</span></li>
        <li>酢酸トコフェロール<span>(ビタミンE)</span></li>
        <li>水溶性プロテオグリカン</li>
      </ul>
      <!-- /.listStyle_01 -->
      <p>これらの保湿美容成分をNtDDS技術で角質層のすみずみまで届けることにより、<br class="pc">肌にうるおいを与えハリや肌荒れなどさまざまな肌悩みに多角的にアプローチします。</p>
    </div>
    <!-- /.summaryStyle_02 -->
    <div class="elemWrap onlyProduct">
      <a href="{{ routes.root_url }}pages/about#ntdds" class="btnStyle_08"><span>View more</span></a>
    </div>
  </div>
  <!-- /.inner -->
</section>
<!-- /.secStyle_07 -->

        </div>
        <!-- /.setMrg_24 -->
        <div class="way pc">
          <section class="secStyle_01 setMrg_25">
  <div class="inner">
    <div class="heroStyle_02">
      <div class="inner">
        <a href="{{ routes.root_url }}pages/about#skincare">
          <div class="bgImg">
            <div class="inner">
              
              
                
<picture>
  <!--source
    data-srcset="{{ 'hero_img_17.webp' | file_url }}"
    media="(min-width: 768px)"
    type="image/webp"
  -->
  <source
    data-srcset="{{ 'hero_img_17.jpg' | file_url }}"
    media="(min-width: 768px)"
  >
  <!--source
    data-srcset="{{ 'hero_img_17_sp.webp' | file_url }} 1x,{{ 'hero_img_17_sp_2x.webp' | file_url }} 2x,{{ 'hero_img_17_sp_3x.webp' | file_url }} 3x"
    type="image/webp"
  -->
  <source
    data-srcset="{{ 'hero_img_17_sp.jpg' | file_url }}"
  >
  <img
    data-src="{{ 'hero_img_17.jpg' | file_url }}"
    alt=""
    class="lazyload"
  >
  <div class="loadImg"></div>
  <!-- /.loadImg -->
</picture>

              
            </div>
            <!-- /.inner -->
          </div>
          <!-- /.bgImg -->
          <div class="content way">
            <div class="wrap">
              <div class="inner">
                <div class="col">
                  <h2>Skincare Routine</h2>
                  <div class="summary">
                    <p>ビタミンC<span>（リン酸アスコルビルMg/整肌成分）</span>をはじめとする保湿美容成分を<br class="pc">集中的に角質層のすみずみまで届けることで肌サイクルを取り戻す。<br class="pc">肌全体のコンディションを根本から整えたい方におすすめ。</p>
                  </div>
                  <!-- /.summary -->
                  <div class="btn">
                    <span class="btnStyle_07"><span>View more</span></span>
                  </div>
                  <!-- /.btn -->
                </div>
                <!-- /.col -->
              </div>
              <!-- /.inner -->
            </div>
            <!-- /.wrap -->
          </div>
          <!-- /.content -->
        </a>
      </div>
      <!-- /.inner -->
    </div>
    <!-- /.heroStyle_02 -->
  </div>
  <!-- /.inner -->
</section>
<!-- /.secStyle_01 -->

        </div>
        <!-- /.setMrg_25 -->
        <div class="secStyle_08 setMrg_40">
  <div class="colStyle_05 setMrg_36">
    <div class="col style_01">
      <section class="articleStyle_07">
        <a href="{{ routes.root_url }}pages/about#ntdds">
          <div class="inner">
            <div class="eyeCatch">
              
              
                
<picture>
  <!--source
    data-srcset="{{ 'img_16.webp' | file_url }}"
    media="(min-width: 768px)"
    type="image/webp"
  -->
  <source
    data-srcset="{{ 'img_16.jpg' | file_url }}"
    media="(min-width: 768px)"
  >
  <!--source
    data-srcset="{{ 'img_16_sp.webp' | file_url }} 1x,{{ 'img_16_sp_2x.webp' | file_url }} 2x,{{ 'img_16_sp_3x.webp' | file_url }} 3x"
    type="image/webp"
  -->
  <source
    data-srcset="{{ 'img_16_sp.jpg' | file_url }}"
  >
  <img
    data-src="{{ 'img_16.jpg' | file_url }}"
    alt=""
    class="lazyload"
  >
  <div class="loadImg"></div>
  <!-- /.loadImg -->
</picture>

              
            </div>
            <!-- /.eyeCatch -->
            <div class="content">
              <div class="inner">
                <h2>About NtDDS</h2>
                <h3 class="style_01"><span>肌が実感する、</span><br>角質層へのアプローチ</h3>
                <div class="btn">
                  <span class="btnStyle_07"><span>View more</span></span>
                </div>
                <!-- /.btn -->
              </div>
              <!-- /.inner -->
            </div>
            <!-- /.content -->
          </div>
          <!-- /.inner -->
        </a>
      </section>
      <!-- /.articleStyle_07 -->
    </div>
    <!-- /.col -->
    <div class="col style_01">
      <section class="articleStyle_07">
        <a href="{{ routes.root_url }}pages/about#skincare">
          <div class="inner">
            <div class="eyeCatch">
              
              
                
<picture>
  <!--source
    data-srcset="{{ 'img_17.webp' | file_url }}"
    media="(min-width: 768px)"
    type="image/webp"
  -->
  <source
    data-srcset="{{ 'img_17.jpg' | file_url }}"
    media="(min-width: 768px)"
  >
  <!--source
    data-srcset="{{ 'img_17_sp.webp' | file_url }} 1x,{{ 'img_17_sp_2x.webp' | file_url }} 2x,{{ 'img_17_sp_3x.webp' | file_url }} 3x"
    type="image/webp"
  -->
  <source
    data-srcset="{{ 'img_17_sp.jpg' | file_url }}"
  >
  <img
    data-src="{{ 'img_17.jpg' | file_url }}"
    alt=""
    class="lazyload"
  >
  <div class="loadImg"></div>
  <!-- /.loadImg -->
</picture>

              
            </div>
            <!-- /.eyeCatch -->
            <div class="content">
              <div class="inner">
                <h2>Skincare Routine</h2>
                <h3>余計なステップはいらない、<br>シンプルかつ最適なルーティン</h3>
                <div class="btn">
                  <span class="btnStyle_07"><span>View more</span></span>
                </div>
                <!-- /.btn -->
              </div>
              <!-- /.inner -->
            </div>
            <!-- /.content -->
          </div>
          <!-- /.inner -->
        </a>
      </section>
      <!-- /.articleStyle_07 -->
    </div>
    <!-- /.col -->
  </div>
  <!-- /.colStyle_05 -->
  <div class="colStyle_05">
    <div class="col">
      <section class="articleStyle_06">
        <a href="{{ routes.root_url }}blogs/news">
          <div class="inner">
            <div class="eyeCatch">
              
              
                
<picture>
  <!--source
    data-srcset="{{ 'img_18.webp' | file_url }}"
    media="(min-width: 768px)"
    type="image/webp"
  -->
  <source
    data-srcset="{{ 'img_18.jpg' | file_url }}"
    media="(min-width: 768px)"
  >
  <!--source
    data-srcset="{{ 'img_18_sp.webp' | file_url }} 1x,{{ 'img_18_sp_2x.webp' | file_url }} 2x,{{ 'img_18_sp_3x.webp' | file_url }} 3x"
    type="image/webp"
  -->
  <source
    data-srcset="{{ 'img_18_sp.jpg' | file_url }}"
  >
  <img
    data-src="{{ 'img_18.jpg' | file_url }}"
    alt=""
    class="lazyload"
  >
  <div class="loadImg"></div>
  <!-- /.loadImg -->
</picture>

              
            </div>
            <!-- /.eyeCatch -->
            <div class="content">
              <div class="inner">
                <h2>News</h2>
              </div>
              <!-- /.inner -->
            </div>
            <!-- /.content -->
          </div>
          <!-- /.inner -->
        </a>
      </section>
      <!-- /.articleStyle_06 -->
    </div>
    <!-- /.col -->
    <div class="col">
      <section class="articleStyle_06">
        <a href="{{ routes.root_url }}pages/contact">
          <div class="inner">
            <div class="eyeCatch">
              
              
                
<picture>
  <!--source
    data-srcset="{{ 'img_19.webp' | file_url }}"
    media="(min-width: 768px)"
    type="image/webp"
  -->
  <source
    data-srcset="{{ 'img_19.jpg' | file_url }}"
    media="(min-width: 768px)"
  >
  <!--source
    data-srcset="{{ 'img_19_sp.webp' | file_url }} 1x,{{ 'img_19_sp_2x.webp' | file_url }} 2x,{{ 'img_19_sp_3x.webp' | file_url }} 3x"
    type="image/webp"
  -->
  <source
    data-srcset="{{ 'img_19_sp.jpg' | file_url }}"
  >
  <img
    data-src="{{ 'img_19.jpg' | file_url }}"
    alt=""
    class="lazyload"
  >
  <div class="loadImg"></div>
  <!-- /.loadImg -->
</picture>

              
            </div>
            <!-- /.eyeCatch -->
            <div class="content">
              <div class="inner">
                <h2>Contact</h2>
              </div>
              <!-- /.inner -->
            </div>
            <!-- /.content -->
          </div>
          <!-- /.inner -->
        </a>
      </section>
      <!-- /.articleStyle_06 -->
    </div>
    <!-- /.col -->
  </div>
  <!-- /.colStyle_05 -->
</div>
<!-- /.secStyle_08 -->

      </div>
      <!-- /.gallerySep -->
    </div>
    <!-- /#container -->
  </main>
  
  
  {% include 'footer-tui' %}
  
</div>
<!-- /#outerMenu -->
</div>
<!-- /#wrapper -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/gsap/latest/TweenMax.min.js"></script>

<script src="{{ 'master.js' | asset_url }}" type="text/javascript"></script>


<script>
  $(function() {
    
    setBuyBtn();
    
    setVideo();
    
  });
</script>

<script type="application/json" data-cart-routes>
  {
    "cartUrl": "{{ routes.cart_url }}",
    "cartAddUrl": "{{ routes.cart_add_url }}",
    "cartChangeUrl": "{{ routes.cart_change_url }}"
  }
</script>

<ul hidden>
  <li id="a11y-refresh-page-message">{{ 'general.accessibility.refresh_page' | t }}</li>
  <li id="a11y-selection-message">{{ 'general.accessibility.selection_help' | t }}</li>
</ul>



