

{% layout 'theme.tui' %}

<div id="outerMenu">
  
  <main role="main">
    <div id="mainVis">
      <div class="galleryWidget top" id="homeWidget">
        <div class="inner">
          <div class="item active" id="homeCont">
            <div class="bgImg">
              <div class="inner">
                
                
                  
<picture>
  <!--source
    data-srcset="{{ 'kv_img_01.webp' | file_url }}"
    media="(min-width: 768px)"
    type="image/webp"
  -->
  <source
    data-srcset="{{ 'kv_img_01.jpg' | file_url }}"
    media="(min-width: 768px)"
  >
  <!--source
    data-srcset="{{ 'kv_img_01_sp.webp' | file_url }} 1x,{{ 'kv_img_01_sp_2x.webp' | file_url }} 2x,{{ 'kv_img_01_sp_3x.webp' | file_url }} 3x"
    type="image/webp"
  -->
  <source
    data-srcset="{{ 'kv_img_01_sp.jpg' | file_url }}"
  >
  <img
    data-src="{{ 'kv_img_01.jpg' | file_url }}"
    alt="tui"
    class="lazyload"
  >
  <div class="loadImg"></div>
  <!-- /.loadImg -->
</picture>

                
              </div>
              <!-- /.inner -->
            </div>
            <!-- /.bgImg -->
            <div class="content">
              <h1>浸透力を追求する<br class="sp"><span>スキンケアブランド</span></h1>
            </div>
            <!-- /.content -->
          </div>
          <!-- /.item -->
          <section class="item" id="cont_01_03">
            <a href="{{ routes.root_url }}pages/about">
              <div class="bgImg">
                <div class="inner">
                  
                  
                    
<picture>
  <!--source
    data-srcset="{{ 'kv_img_04.webp' | file_url }}"
    media="(min-width: 768px)"
    type="image/webp"
  -->
  <source
    data-srcset="{{ 'kv_img_04.jpg' | file_url }}"
    media="(min-width: 768px)"
  >
  <!--source
    data-srcset="{{ 'kv_img_04_sp.webp' | file_url }} 1x,{{ 'kv_img_04_sp_2x.webp' | file_url }} 2x,{{ 'kv_img_04_sp_3x.webp' | file_url }} 3x"
    type="image/webp"
  -->
  <source
    data-srcset="{{ 'kv_img_04_sp.jpg' | file_url }}"
  >
  <img
    data-src="{{ 'kv_img_04.jpg' | file_url }}"
    alt=""
    class="lazyload"
  >
  <div class="loadImg"></div>
  <!-- /.loadImg -->
</picture>

                  
                </div>
                <!-- /.inner -->
                <div class="content style_08">
                  <div class="wrap">
                    <div class="inner">
                      <h2>当たり前を、変えるもの</h2>
                      <div class="btn">
                        <span class="btnStyle_06"><span>About us</span></span>
                      </div>
                      <!-- /.btn -->
                    </div>
                    <!-- /.inner -->
                  </div>
                  <!-- /.wrap -->
                </div>
                <!-- /.content -->
              </div>
              <!-- /.bgImg -->
            </a>
          </section>
          <!-- /.item -->
          <div class="mask">
            <span class="head"><svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px"
	 y="0px" viewBox="0 0 10 10" style="enable-background:new 0 0 10 10;" xml:space="preserve">
<path class="st0" d="M10,0H0v10C0,4.5,4.5,0,10,0z"/>
</svg>
</span>
            <span class="head"><svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px"
	 y="0px" viewBox="0 0 10 10" style="enable-background:new 0 0 10 10;" xml:space="preserve">
<path class="st0" d="M0,0l10,0v10C10,4.5,5.5,0,0,0z"/>
</svg>
</span>
            <span class="foot"><svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px"
	 y="0px" viewBox="0 0 10 10" style="enable-background:new 0 0 10 10;" xml:space="preserve">
<path class="st0" d="M0,0l10,0v10C10,4.5,5.5,0,0,0z"/>
</svg>
</span>
            <span class="foot"><svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px"
	 y="0px" viewBox="0 0 10 10" style="enable-background:new 0 0 10 10;" xml:space="preserve">
<path class="st0" d="M10,0H0v10C0,4.5,4.5,0,10,0z"/>
</svg>
</span>
          </div>
          <!-- /.mask -->
        </div>
        <!-- /.inner -->
      </div>
      <!-- /.galleryWidget -->
    </div>
    <!-- /#mainVis -->
    <div id="homeContainer">
      <section class="secStyle_08">
        <div class="inner">
          <div class="secStyle_09 setMrg_35 sp">
            <h2 class="ttlStyle_14">Products</h2>
            <div class="summaryStyle_02">
              <p>独自開発したナノ分散浸透技術 “NtDDS”による角質層すみずみへの浸透効果が、なめらかな素肌へと導きます。</p>
            </div>
            <!-- /.summaryStyle_02 -->
          </div>
          <!-- /.secStyle_09 -->
          <div class="colStyle_06 setMrg_35">
            <div class="col">
              <section class="articleStyle_05">
                <a href="{{ routes.root_url }}products/booster-oil">
                  <div class="inner">
                    <div class="eyeCatch">
                      
                      
                        
<picture>
  <!--source
    data-srcset="{{ 'img_13.webp' | file_url }}"
    media="(min-width: 768px)"
    type="image/webp"
  -->
  <source
    data-srcset="{{ 'img_13.jpg' | file_url }}"
    media="(min-width: 768px)"
  >
  <!--source
    data-srcset="{{ 'img_13_sp.webp' | file_url }} 1x,{{ 'img_13_sp_2x.webp' | file_url }} 2x,{{ 'img_13_sp_3x.webp' | file_url }} 3x"
    type="image/webp"
  -->
  <source
    data-srcset="{{ 'img_13_sp.jpg' | file_url }}"
  >
  <img
    data-src="{{ 'img_13.jpg' | file_url }}"
    alt=""
    class="lazyload"
  >
  <div class="loadImg"></div>
  <!-- /.loadImg -->
</picture>

                      
                    </div>
                    <!-- /.eyeCatch -->
                    <div class="content">
                      <div class="inner style_01">
                        <h2>BOOSTER OIL</h2>
                        <h3>体感する浸透力<span>※</span></h3>
                        <p class="caution">※角質層まで</p>
                        <div class="btn">
                          <span class="btnStyle_07"><span>View more</span></span>
                        </div>
                        <!-- /.btn -->
                      </div>
                      <!-- /.inner -->
                    </div>
                    <!-- /.content -->
                  </div>
                  <!-- /.inner -->
                </a>
              </section>
              <!-- /.articleStyle_05 -->
            </div>
            <!-- /.col -->
            <div class="col">
              <section class="articleStyle_05">
                <a href="{{ routes.root_url }}products/moisture-serum">
                  <div class="inner">
                    <div class="eyeCatch">
                      
                      
                        
<picture>
  <!--source
    data-srcset="{{ 'img_14.webp' | file_url }}"
    media="(min-width: 768px)"
    type="image/webp"
  -->
  <source
    data-srcset="{{ 'img_14.jpg' | file_url }}"
    media="(min-width: 768px)"
  >
  <!--source
    data-srcset="{{ 'img_14_sp.webp' | file_url }} 1x,{{ 'img_14_sp_2x.webp' | file_url }} 2x,{{ 'img_14_sp_3x.webp' | file_url }} 3x"
    type="image/webp"
  -->
  <source
    data-srcset="{{ 'img_14_sp.jpg' | file_url }}"
  >
  <img
    data-src="{{ 'img_14.jpg' | file_url }}"
    alt=""
    class="lazyload"
  >
  <div class="loadImg"></div>
  <!-- /.loadImg -->
</picture>

                      
                    </div>
                    <!-- /.eyeCatch -->
                    <div class="content">
                      <div class="inner style_02">
                        <h2>MOISTURE SERUM</h2>
                        <h3>うるおい、肌にとどまる</h3>
                        <div class="btn">
                          <span class="btnStyle_07"><span>View more</span></span>
                        </div>
                        <!-- /.btn -->
                      </div>
                      <!-- /.inner -->
                    </div>
                    <!-- /.content -->
                  </div>
                  <!-- /.inner -->
                </a>
              </section>
              <!-- /.articleStyle_05 -->
            </div>
            <!-- /.col -->
            <div class="col">
              <section class="articleStyle_05">
                <a href="{{ routes.root_url }}products/set-package">
                  <div class="inner">
                    <div class="eyeCatch">
                      
                      
                        
<picture>
  <!--source
    data-srcset="{{ 'img_20.webp' | file_url }}"
    media="(min-width: 768px)"
    type="image/webp"
  -->
  <source
    data-srcset="{{ 'img_20.jpg' | file_url }}"
    media="(min-width: 768px)"
  >
  <!--source
    data-srcset="{{ 'img_20_sp.webp' | file_url }} 1x,{{ 'img_20_sp_2x.webp' | file_url }} 2x,{{ 'img_20_sp_3x.webp' | file_url }} 3x"
    type="image/webp"
  -->
  <source
    data-srcset="{{ 'img_20_sp.jpg' | file_url }}"
  >
  <img
    data-src="{{ 'img_20.jpg' | file_url }}"
    alt=""
    class="lazyload"
  >
  <div class="loadImg"></div>
  <!-- /.loadImg -->
</picture>

                      
                    </div>
                    <!-- /.eyeCatch -->
                    <div class="content">
                      <div class="inner">
                        <h2>SET PACKAGE</h2>
                        <h3>オイルとセラム、対になるもの</h3>
                        <div class="btn">
                          <span class="btnStyle_07"><span>View more</span></span>
                        </div>
                        <!-- /.btn -->
                      </div>
                      <!-- /.inner -->
                    </div>
                    <!-- /.content -->
                  </div>
                  <!-- /.inner -->
                </a>
              </section>
              <!-- /.articleStyle_05 -->
            </div>
            <!-- /.col -->
            <div class="col">
              <section class="articleStyle_05">
                <a href="{{ routes.root_url }}pages/products#subscription">
                  <div class="inner">
                    <div class="eyeCatch">
                      
                      
                        
<picture>
  <!--source
    data-srcset="{{ 'img_21.webp' | file_url }}"
    media="(min-width: 768px)"
    type="image/webp"
  -->
  <source
    data-srcset="{{ 'img_21.jpg' | file_url }}"
    media="(min-width: 768px)"
  >
  <!--source
    data-srcset="{{ 'img_21_sp.webp' | file_url }} 1x,{{ 'img_21_sp_2x.webp' | file_url }} 2x,{{ 'img_21_sp_3x.webp' | file_url }} 3x"
    type="image/webp"
  -->
  <source
    data-srcset="{{ 'img_21_sp.jpg' | file_url }}"
  >
  <img
    data-src="{{ 'img_21.jpg' | file_url }}"
    alt=""
    class="lazyload"
  >
  <div class="loadImg"></div>
  <!-- /.loadImg -->
</picture>

                      
                    </div>
                    <!-- /.eyeCatch -->
                    <div class="content">
                      <div class="inner">
                        <h2>SUBSCRIPTION</h2>
                        <h3 class="style_01">使い続けるほどに満ち足りた<br>すこやかな肌へ</h3>
                        <div class="btn">
                          <span class="btnStyle_07"><span>View more</span></span>
                        </div>
                        <!-- /.btn -->
                      </div>
                      <!-- /.inner -->
                    </div>
                    <!-- /.content -->
                  </div>
                  <!-- /.inner -->
                </a>
              </section>
              <!-- /.articleStyle_05 -->
            </div>
            <!-- /.col -->
          </div>
          <!-- /.colStyle_06 -->
        </div>
        <!-- /.inner -->
      </section>
      <!-- /.secStyle_08 -->
      <div class="secStyle_08 setMrg_40">
  <div class="colStyle_05 setMrg_36">
    <div class="col style_01">
      <section class="articleStyle_07">
        <a href="{{ routes.root_url }}pages/about#ntdds">
          <div class="inner">
            <div class="eyeCatch">
              
              
                
<picture>
  <!--source
    data-srcset="{{ 'img_16.webp' | file_url }}"
    media="(min-width: 768px)"
    type="image/webp"
  -->
  <source
    data-srcset="{{ 'img_16.jpg' | file_url }}"
    media="(min-width: 768px)"
  >
  <!--source
    data-srcset="{{ 'img_16_sp.webp' | file_url }} 1x,{{ 'img_16_sp_2x.webp' | file_url }} 2x,{{ 'img_16_sp_3x.webp' | file_url }} 3x"
    type="image/webp"
  -->
  <source
    data-srcset="{{ 'img_16_sp.jpg' | file_url }}"
  >
  <img
    data-src="{{ 'img_16.jpg' | file_url }}"
    alt=""
    class="lazyload"
  >
  <div class="loadImg"></div>
  <!-- /.loadImg -->
</picture>

              
            </div>
            <!-- /.eyeCatch -->
            <div class="content">
              <div class="inner">
                <h2>About NtDDS</h2>
                <h3 class="style_01"><span>肌が実感する、</span><br>角質層へのアプローチ</h3>
                <div class="btn">
                  <span class="btnStyle_07"><span>View more</span></span>
                </div>
                <!-- /.btn -->
              </div>
              <!-- /.inner -->
            </div>
            <!-- /.content -->
          </div>
          <!-- /.inner -->
        </a>
      </section>
      <!-- /.articleStyle_07 -->
    </div>
    <!-- /.col -->
    <div class="col style_01">
      <section class="articleStyle_07">
        <a href="{{ routes.root_url }}pages/about#skincare">
          <div class="inner">
            <div class="eyeCatch">
              
              
                
<picture>
  <!--source
    data-srcset="{{ 'img_17.webp' | file_url }}"
    media="(min-width: 768px)"
    type="image/webp"
  -->
  <source
    data-srcset="{{ 'img_17.jpg' | file_url }}"
    media="(min-width: 768px)"
  >
  <!--source
    data-srcset="{{ 'img_17_sp.webp' | file_url }} 1x,{{ 'img_17_sp_2x.webp' | file_url }} 2x,{{ 'img_17_sp_3x.webp' | file_url }} 3x"
    type="image/webp"
  -->
  <source
    data-srcset="{{ 'img_17_sp.jpg' | file_url }}"
  >
  <img
    data-src="{{ 'img_17.jpg' | file_url }}"
    alt=""
    class="lazyload"
  >
  <div class="loadImg"></div>
  <!-- /.loadImg -->
</picture>

              
            </div>
            <!-- /.eyeCatch -->
            <div class="content">
              <div class="inner">
                <h2>Skincare Routine</h2>
                <h3>余計なステップはいらない、<br>シンプルかつ最適なルーティン</h3>
                <div class="btn">
                  <span class="btnStyle_07"><span>View more</span></span>
                </div>
                <!-- /.btn -->
              </div>
              <!-- /.inner -->
            </div>
            <!-- /.content -->
          </div>
          <!-- /.inner -->
        </a>
      </section>
      <!-- /.articleStyle_07 -->
    </div>
    <!-- /.col -->
  </div>
  <!-- /.colStyle_05 -->
  <div class="colStyle_05">
    <div class="col">
      <section class="articleStyle_06">
        <a href="{{ routes.root_url }}blogs/news">
          <div class="inner">
            <div class="eyeCatch">
              
              
                
<picture>
  <!--source
    data-srcset="{{ 'img_18.webp' | file_url }}"
    media="(min-width: 768px)"
    type="image/webp"
  -->
  <source
    data-srcset="{{ 'img_18.jpg' | file_url }}"
    media="(min-width: 768px)"
  >
  <!--source
    data-srcset="{{ 'img_18_sp.webp' | file_url }} 1x,{{ 'img_18_sp_2x.webp' | file_url }} 2x,{{ 'img_18_sp_3x.webp' | file_url }} 3x"
    type="image/webp"
  -->
  <source
    data-srcset="{{ 'img_18_sp.jpg' | file_url }}"
  >
  <img
    data-src="{{ 'img_18.jpg' | file_url }}"
    alt=""
    class="lazyload"
  >
  <div class="loadImg"></div>
  <!-- /.loadImg -->
</picture>

              
            </div>
            <!-- /.eyeCatch -->
            <div class="content">
              <div class="inner">
                <h2>News</h2>
              </div>
              <!-- /.inner -->
            </div>
            <!-- /.content -->
          </div>
          <!-- /.inner -->
        </a>
      </section>
      <!-- /.articleStyle_06 -->
    </div>
    <!-- /.col -->
    <div class="col">
      <section class="articleStyle_06">
        <a href="{{ routes.root_url }}pages/contact">
          <div class="inner">
            <div class="eyeCatch">
              
              
                
<picture>
  <!--source
    data-srcset="{{ 'img_19.webp' | file_url }}"
    media="(min-width: 768px)"
    type="image/webp"
  -->
  <source
    data-srcset="{{ 'img_19.jpg' | file_url }}"
    media="(min-width: 768px)"
  >
  <!--source
    data-srcset="{{ 'img_19_sp.webp' | file_url }} 1x,{{ 'img_19_sp_2x.webp' | file_url }} 2x,{{ 'img_19_sp_3x.webp' | file_url }} 3x"
    type="image/webp"
  -->
  <source
    data-srcset="{{ 'img_19_sp.jpg' | file_url }}"
  >
  <img
    data-src="{{ 'img_19.jpg' | file_url }}"
    alt=""
    class="lazyload"
  >
  <div class="loadImg"></div>
  <!-- /.loadImg -->
</picture>

              
            </div>
            <!-- /.eyeCatch -->
            <div class="content">
              <div class="inner">
                <h2>Contact</h2>
              </div>
              <!-- /.inner -->
            </div>
            <!-- /.content -->
          </div>
          <!-- /.inner -->
        </a>
      </section>
      <!-- /.articleStyle_06 -->
    </div>
    <!-- /.col -->
  </div>
  <!-- /.colStyle_05 -->
</div>
<!-- /.secStyle_08 -->

    </div>
    <!-- /#homeContainer -->
  </main>
  
  
  {% include 'footer-tui' %}
  
</div>
<!-- /#outerMenu -->
</div>
<!-- /#wrapper -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/gsap/latest/TweenMax.min.js"></script>

<script src="{{ 'master.js' | asset_url }}" type="text/javascript"></script>


<script>
  $(function() {
    
    
    
  });
</script>

<script type="application/json" data-cart-routes>
  {
    "cartUrl": "{{ routes.cart_url }}",
    "cartAddUrl": "{{ routes.cart_add_url }}",
    "cartChangeUrl": "{{ routes.cart_change_url }}"
  }
</script>

<ul hidden>
  <li id="a11y-refresh-page-message">{{ 'general.accessibility.refresh_page' | t }}</li>
  <li id="a11y-selection-message">{{ 'general.accessibility.selection_help' | t }}</li>
</ul>



