
<script>
 setTimeout("redirect()", 0);
function redirect(){
    location.href="/pages/products/";
}
</script>


{% layout 'theme.tui' %}

<div id="outerMenu">
  
  <main role="main">
    <div class="heroStyle_01 setMrg_05">
      <div class="inner">
        <div class="imgStyle">
          
          
            
<picture>
  <!--source
    data-srcset="{{ 'hero_img_01.webp' | file_url }}"
    media="(min-width: 768px)"
    type="image/webp"
  -->
  <source
    data-srcset="{{ 'hero_img_01.jpg' | file_url }}"
    media="(min-width: 768px)"
  >
  <!--source
    data-srcset="{{ 'hero_img_01_sp.webp' | file_url }} 1x,{{ 'hero_img_01_sp_2x.webp' | file_url }} 2x,{{ 'hero_img_01_sp_3x.webp' | file_url }} 3x"
    type="image/webp"
  -->
  <source
    data-srcset="{{ 'hero_img_01_sp.jpg' | file_url }}"
  >
  <img
    data-src="{{ 'hero_img_01.jpg' | file_url }}"
    alt="Products"
    class="lazyload"
  >
  <div class="loadImg"></div>
  <!-- /.loadImg -->
</picture>

          
        </div>
        <!-- /.imgStyle -->
      </div>
      <!-- /.inner -->
    </div>
    <!-- /.heroStyle_01 -->
    <div id="container">
      <section class="secStyle_01 setMrg_05">
        <div class="inner">
          <div class="colStyle_01">
            <div class="inner">
              <div class="col-img">
                <ul class="photoChanger style_01">
                  <li>
                    
                    
                      
<picture>
  <!--source
    data-srcset="{{ 'img_01.webp' | file_url }}"
    media="(min-width: 768px)"
    type="image/webp"
  -->
  <source
    data-srcset="{{ 'img_01.jpg' | file_url }}"
    media="(min-width: 768px)"
  >
  <!--source
    data-srcset="{{ 'img_01_sp.webp' | file_url }} 1x,{{ 'img_01_sp_2x.webp' | file_url }} 2x,{{ 'img_01_sp_3x.webp' | file_url }} 3x"
    type="image/webp"
  -->
  <source
    data-srcset="{{ 'img_01_sp.jpg' | file_url }}"
  >
  <img
    data-src="{{ 'img_01.jpg' | file_url }}"
    alt=""
    class="lazyload"
  >
  <div class="loadImg"></div>
  <!-- /.loadImg -->
</picture>

                    
                  </li>
                  <li>
                    
                    
                      
<picture>
  <!--source
    data-srcset="{{ 'img_02.webp' | file_url }}"
    media="(min-width: 768px)"
    type="image/webp"
  -->
  <source
    data-srcset="{{ 'img_02.jpg' | file_url }}"
    media="(min-width: 768px)"
  >
  <!--source
    data-srcset="{{ 'img_02_sp.webp' | file_url }} 1x,{{ 'img_02_sp_2x.webp' | file_url }} 2x,{{ 'img_02_sp_3x.webp' | file_url }} 3x"
    type="image/webp"
  -->
  <source
    data-srcset="{{ 'img_02_sp.jpg' | file_url }}"
  >
  <img
    data-src="{{ 'img_02.jpg' | file_url }}"
    alt=""
    class="lazyload"
  >
  <div class="loadImg"></div>
  <!-- /.loadImg -->
</picture>

                    
                  </li>
                </ul>
                <!-- /.photoChanger -->
              </div>
              <!-- /.col-img -->
              <div class="col-content">
                <div class="inner">
                  <h2 class="ttlStyle_01 setMrg_01">BOOSTER OIL</h2>
                  <h3 class="ttlStyle_02 setMrg_02">
                    
                    
                      
<img data-src="{{ 'tx-05.svg' | file_url }}" alt="体感する浸透力" class="lazyload">

                    
                  </h3>
                  <div class="summaryStyle_01">
                    <p class="setMrg_03">洗顔後すぐに“オイル” の新習慣。<br class="pc">表皮と親和性の高いオイルが肌表面を柔らかく、<br class="pc">ベタつくことなくスーッと肌に馴染んでいく。<br class="pc">独自開発したNtDDS<span class="txStyle_02">（ナノ分散浸透技術）</span>が成分を<br class="pc">角質層までしっかりと届け、肌をすこやかに保ちます。</p>
                    <p class="txStyle_01">※角質層まで</p>
                  </div>
                  <!-- /.summaryStyle_01 -->
                  <div class="elemWrap setMrg_04"><a href="{{ routes.root_url }}products/booster-oil" class="btnStyle_01"><span>View</span></a></div>
                  <!-- /.elemWrap -->
                </div>
                <!-- /.inner -->
              </div>
              <!-- /.col-content -->
            </div>
            <!-- /.inner -->
          </div>
          <!-- /.colStyle_01 -->
        </div>
        <!-- /.inner -->
      </section>
      <!-- /.secStyle_01 -->
      <section class="secStyle_01 setMrg_05">
        <div class="inner">
          <div class="colStyle_02 way">
            <div class="inner">
              <div class="col-content">
                <div class="inner">
                  <h2 class="ttlStyle_01 setMrg_01">MOISTURE SERUM</h2>
                  <h3 class="ttlStyle_03 setMrg_02">
                    
                    
                      
<img data-src="{{ 'tx-06.svg' | file_url }}" alt="うるおい、肌にとどまる" class="lazyload">

                    
                  </h3>
                  <div class="summaryStyle_01">
                    <p class="setMrg_03">化粧水なしで“セラム” だけ。<br class="pc">オイルのカプセルをセラムが包み、想像を超える保湿力。<br class="pc">セラミド成分<sup>※</sup>が肌にうるおいを与え、<br class="pc">そのたっぷりの水分を蓄えたままの肌が持続します。<br class="pc">親油性が高く、オイルとの併用も弾かず馴染む圧巻のセラム。</p>
                    <p class="txStyle_01">※セラミドEOP,セラミドNP,セラミドAP</p>
                  </div>
                  <!-- /.summaryStyle_01 -->
                  <div class="elemWrap setMrg_04"><a href="{{ routes.root_url }}products/moisture-serum" class="btnStyle_02"><span>View</span></a></div>
                  <!-- /.elemWrap -->
                </div>
                <!-- /.inner -->
              </div>
              <!-- /.col-content -->
              <div class="col-img">
                <ul class="photoChanger style_01">
                  <li>
                    
                    
                      
<picture>
  <!--source
    data-srcset="{{ 'img_03.webp' | file_url }}"
    media="(min-width: 768px)"
    type="image/webp"
  -->
  <source
    data-srcset="{{ 'img_03.jpg' | file_url }}"
    media="(min-width: 768px)"
  >
  <!--source
    data-srcset="{{ 'img_03_sp.webp' | file_url }} 1x,{{ 'img_03_sp_2x.webp' | file_url }} 2x,{{ 'img_03_sp_3x.webp' | file_url }} 3x"
    type="image/webp"
  -->
  <source
    data-srcset="{{ 'img_03_sp.jpg' | file_url }}"
  >
  <img
    data-src="{{ 'img_03.jpg' | file_url }}"
    alt=""
    class="lazyload"
  >
  <div class="loadImg"></div>
  <!-- /.loadImg -->
</picture>

                    
                  </li>
                  <li>
                    
                    
                      
<picture>
  <!--source
    data-srcset="{{ 'img_04.webp' | file_url }}"
    media="(min-width: 768px)"
    type="image/webp"
  -->
  <source
    data-srcset="{{ 'img_04.jpg' | file_url }}"
    media="(min-width: 768px)"
  >
  <!--source
    data-srcset="{{ 'img_04_sp.webp' | file_url }} 1x,{{ 'img_04_sp_2x.webp' | file_url }} 2x,{{ 'img_04_sp_3x.webp' | file_url }} 3x"
    type="image/webp"
  -->
  <source
    data-srcset="{{ 'img_04_sp.jpg' | file_url }}"
  >
  <img
    data-src="{{ 'img_04.jpg' | file_url }}"
    alt=""
    class="lazyload"
  >
  <div class="loadImg"></div>
  <!-- /.loadImg -->
</picture>

                    
                  </li>
                </ul>
                <!-- /.photoChanger -->
              </div>
              <!-- /.col-img -->
            </div>
            <!-- /.inner -->
          </div>
          <!-- /.colStyle_02 -->
        </div>
        <!-- /.inner -->
      </section>
      <!-- /.secStyle_01 -->
      <section class="secStyle_01 setMrg_06">
        <div class="inner">
          <div class="colStyle_01 way">
            <div class="inner">
              <div class="col-img">
                <ul class="photoChanger style_01">
                  <li>
                    
                    
                      
<picture>
  <!--source
    data-srcset="{{ 'img_05.webp' | file_url }}"
    media="(min-width: 768px)"
    type="image/webp"
  -->
  <source
    data-srcset="{{ 'img_05.jpg' | file_url }}"
    media="(min-width: 768px)"
  >
  <!--source
    data-srcset="{{ 'img_05_sp.webp' | file_url }} 1x,{{ 'img_05_sp_2x.webp' | file_url }} 2x,{{ 'img_05_sp_3x.webp' | file_url }} 3x"
    type="image/webp"
  -->
  <source
    data-srcset="{{ 'img_05_sp.jpg' | file_url }}"
  >
  <img
    data-src="{{ 'img_05.jpg' | file_url }}"
    alt=""
    class="lazyload"
  >
  <div class="loadImg"></div>
  <!-- /.loadImg -->
</picture>

                    
                  </li>
                  <li>
                    
                    
                      
<picture>
  <!--source
    data-srcset="{{ 'img_06.webp' | file_url }}"
    media="(min-width: 768px)"
    type="image/webp"
  -->
  <source
    data-srcset="{{ 'img_06.jpg' | file_url }}"
    media="(min-width: 768px)"
  >
  <!--source
    data-srcset="{{ 'img_06_sp.webp' | file_url }} 1x,{{ 'img_06_sp_2x.webp' | file_url }} 2x,{{ 'img_06_sp_3x.webp' | file_url }} 3x"
    type="image/webp"
  -->
  <source
    data-srcset="{{ 'img_06_sp.jpg' | file_url }}"
  >
  <img
    data-src="{{ 'img_06.jpg' | file_url }}"
    alt=""
    class="lazyload"
  >
  <div class="loadImg"></div>
  <!-- /.loadImg -->
</picture>

                    
                  </li>
                </ul>
                <!-- /.photoChanger -->
              </div>
              <!-- /.col-img -->
              <div class="col-content">
                <div class="inner">
                  <h2 class="ttlStyle_01 setMrg_01">SET PACKAGE</h2>
                  <h3 class="ttlStyle_04 setMrg_02">
                    
                    
                      
<img data-src="{{ 'tx-07.svg' | file_url }}" alt="オイルとセラム、対になるもの" class="lazyload">

                    
                  </h3>
                  <div class="summaryStyle_01">
                    <p class="setMrg_03">他に余計なステップはいらず、シンプルかつ、<br class="pc">お肌への最適化を考え抜かれてうまれた組み合わせ、<br class="pc">ブースターオイルとモイスチャーセラム。<br class="pc">この⼆つを併せて使うことで最⼤の効果を発揮します。</p>
                  </div>
                  <!-- /.summaryStyle_01 -->
                  <div class="elemWrap setMrg_04"><a href="{{ routes.root_url }}products/set-package" class="btnStyle_03"><span>View</span></a></div>
                  <!-- /.elemWrap -->
                </div>
                <!-- /.inner -->
              </div>
              <!-- /.col-content -->
            </div>
            <!-- /.inner -->
          </div>
          <!-- /.colStyle_01 -->
        </div>
        <!-- /.inner -->
      </section>
      <!-- /.secStyle_01 -->
      <div class="pc setMrg_11 way">
        <section class="secStyle_01">
  <div class="inner">
    <div class="movieStyle_01 setMrg_07">
      <div class="inner">
        <div class="cover">
          
          
            
<picture>
  <!--source
    data-srcset="{{ 'cover_01.webp' | file_url }}"
    media="(min-width: 768px)"
    type="image/webp"
  -->
  <source
    data-srcset="{{ 'cover_01.jpg' | file_url }}"
    media="(min-width: 768px)"
  >
  <!--source
    data-srcset="{{ 'cover_01_sp.webp' | file_url }} 1x,{{ 'cover_01_sp_2x.webp' | file_url }} 2x,{{ 'cover_01_sp_3x.webp' | file_url }} 3x"
    type="image/webp"
  -->
  <source
    data-srcset="{{ 'cover_01_sp.jpg' | file_url }}"
  >
  <img
    data-src="{{ 'cover_01.jpg' | file_url }}"
    alt=""
    class="lazyload"
  >
  <div class="loadImg"></div>
  <!-- /.loadImg -->
</picture>

          
        </div>
        <!-- /.cover -->
      </div>
      <!-- /.inner -->
    </div>
    <!-- /.movieStyle_01 -->
    <div class="secStyle_02 style_01">
      <div class="inner">
        <h2 class="ttlStyle_05 setMrg_01">About NtDDS</h2>
        <div class="summaryStyle_03 setMrg_08">
          <p>角質層のすみずみにまで保湿美容成分を届ける”ことを可能にする、<br class="pc">エビデンスに基づき独自開発した浸透技術 “NtDDS”。 皮膚は、肌表面にある角質層が<br class="pc">乾燥と外部刺激から肌を守るため、疎水性が高く、物質を浸透させることが難しいとされてきました。<br class="pc">肌と親和性の高いナノサイズカプセルで保湿美容成分を覆い、美容オイルに可溶化することで<br class="pc">「浸透性」「安定性」「肌へのやさしさ」を実現。<br class="pc">NtDDSによる角質層すみずみへの浸透効果が、なめらかな素肌へと導きます。</p>
        </div>
        <!-- /.summaryStyle_03 -->
        <h3 class="ttlStyle_06 setMrg_09 onlyProduct">肌が実感する、<br class="sp">角質層へのアプローチ</h3>
        <div class="summaryStyle_02 setMrg_10 onlyProduct">
          <p>水溶性・高分子成分をそのままNtDDS 技術で油性素材・水溶性素材にナノ分散することで、<br class="pc">角質層のすみずみまでダイレクトに浸透します。</p>
          <ul class="listStyle_01">
            <li>リン酸アスコルビルMg<span>(ビタミンC誘導体)</span></li>
            <li>酢酸トコフェロール<span>(ビタミンE)</span></li>
            <li>水溶性プロテオグリカン</li>
          </ul>
          <!-- /.listStyle_01 -->
          <p>これらの保湿美容成分を NtDDS 技術で角質層のすみずみまで届けることにより、<br class="pc">肌にうるおいを与えハリや肌荒れなどさまざまな肌悩みに多角的にアプローチします。</p>
        </div>
        <!-- /.summaryStyle_02 -->
        <div class="elemWrap onlyProduct"><a href="{{ routes.root_url }}pages/about#ntdds" class="btnStyle_04 style_01"><span>View</span></a></div>
      </div>
      <!-- /.inner -->
    </div>
    <!-- /.secStyle_02 -->
  </div>
  <!-- /.inner -->
</section>
<!-- /.secStyle_01 -->

      </div>
      <!-- /.pc -->
      <div class="secStyle_01">
        <div class="colStyle_03 way">
          <div class="col sp">
            <section class="articleStyle_01 way">
              <a href="{{ routes.root_url }}pages/about#ntdds">
                <div class="inner">
                  <div class="eyeCatch">
                    
                    
                      
<picture>
  <!--source
    data-srcset="{{ 'img_10.webp' | file_url }}"
    media="(min-width: 768px)"
    type="image/webp"
  -->
  <source
    data-srcset="{{ 'img_10.jpg' | file_url }}"
    media="(min-width: 768px)"
  >
  <!--source
    data-srcset="{{ 'img_10_sp.webp' | file_url }} 1x,{{ 'img_10_sp_2x.webp' | file_url }} 2x,{{ 'img_10_sp_3x.webp' | file_url }} 3x"
    type="image/webp"
  -->
  <source
    data-srcset="{{ 'img_10_sp.jpg' | file_url }}"
  >
  <img
    data-src="{{ 'img_10.jpg' | file_url }}"
    alt=""
    class="lazyload"
  >
  <div class="loadImg"></div>
  <!-- /.loadImg -->
</picture>

                    
                  </div>
                  <!-- /.eyeCatch -->
                  <div class="content">
                    <div class="inner">
                      <h2>About NtDDS</h2>
                    </div>
                    <!-- /.inner -->
                  </div>
                  <!-- /.content -->
                </div>
                <!-- /.inner -->
              </a>
            </section>
            <!-- /.articleStyle_01 -->
          </div>
          <!-- /.col -->
          <div class="col">
            <section class="articleStyle_01 way">
              <a href="{{ routes.root_url }}pages/about#skincare">
                <div class="inner">
                  <div class="eyeCatch">
                    
                    
                      
<picture>
  <!--source
    data-srcset="{{ 'img_07.webp' | file_url }}"
    media="(min-width: 768px)"
    type="image/webp"
  -->
  <source
    data-srcset="{{ 'img_07.jpg' | file_url }}"
    media="(min-width: 768px)"
  >
  <!--source
    data-srcset="{{ 'img_07_sp.webp' | file_url }} 1x,{{ 'img_07_sp_2x.webp' | file_url }} 2x,{{ 'img_07_sp_3x.webp' | file_url }} 3x"
    type="image/webp"
  -->
  <source
    data-srcset="{{ 'img_07_sp.jpg' | file_url }}"
  >
  <img
    data-src="{{ 'img_07.jpg' | file_url }}"
    alt=""
    class="lazyload"
  >
  <div class="loadImg"></div>
  <!-- /.loadImg -->
</picture>

                    
                  </div>
                  <!-- /.eyeCatch -->
                  <div class="content">
                    <div class="inner">
                      <h2>Skincare Routine</h2>
                    </div>
                    <!-- /.inner -->
                  </div>
                  <!-- /.content -->
                </div>
                <!-- /.inner -->
              </a>
            </section>
            <!-- /.articleStyle_01 -->
          </div>
          <!-- /.col -->
          <div class="col">
            <section class="articleStyle_01 way">
              <a href="{{ routes.root_url }}blogs/news">
                <div class="inner">
                  <div class="eyeCatch">
                    
                    
                      
<picture>
  <!--source
    data-srcset="{{ 'img_08.webp' | file_url }}"
    media="(min-width: 768px)"
    type="image/webp"
  -->
  <source
    data-srcset="{{ 'img_08.jpg' | file_url }}"
    media="(min-width: 768px)"
  >
  <!--source
    data-srcset="{{ 'img_08_sp.webp' | file_url }} 1x,{{ 'img_08_sp_2x.webp' | file_url }} 2x,{{ 'img_08_sp_3x.webp' | file_url }} 3x"
    type="image/webp"
  -->
  <source
    data-srcset="{{ 'img_08_sp.jpg' | file_url }}"
  >
  <img
    data-src="{{ 'img_08.jpg' | file_url }}"
    alt=""
    class="lazyload"
  >
  <div class="loadImg"></div>
  <!-- /.loadImg -->
</picture>

                    
                  </div>
                  <!-- /.eyeCatch -->
                  <div class="content">
                    <div class="inner">
                      <h2>News</h2>
                    </div>
                    <!-- /.inner -->
                  </div>
                  <!-- /.content -->
                </div>
                <!-- /.inner -->
              </a>
            </section>
            <!-- /.articleStyle_01 -->
          </div>
          <!-- /.col -->
          <div class="col">
            <section class="articleStyle_01 way">
              <a href="{{ routes.root_url }}pages/contact">
                <div class="inner">
                  <div class="eyeCatch">
                    
                    
                      
<picture>
  <!--source
    data-srcset="{{ 'img_09.webp' | file_url }}"
    media="(min-width: 768px)"
    type="image/webp"
  -->
  <source
    data-srcset="{{ 'img_09.jpg' | file_url }}"
    media="(min-width: 768px)"
  >
  <!--source
    data-srcset="{{ 'img_09_sp.webp' | file_url }} 1x,{{ 'img_09_sp_2x.webp' | file_url }} 2x,{{ 'img_09_sp_3x.webp' | file_url }} 3x"
    type="image/webp"
  -->
  <source
    data-srcset="{{ 'img_09_sp.jpg' | file_url }}"
  >
  <img
    data-src="{{ 'img_09.jpg' | file_url }}"
    alt=""
    class="lazyload"
  >
  <div class="loadImg"></div>
  <!-- /.loadImg -->
</picture>

                    
                  </div>
                  <!-- /.eyeCatch -->
                  <div class="content">
                    <div class="inner">
                      <h2>Contact</h2>
                    </div>
                    <!-- /.inner -->
                  </div>
                  <!-- /.content -->
                </div>
                <!-- /.inner -->
              </a>
            </section>
            <!-- /.articleStyle_01 -->
          </div>
          <!-- /.col -->
        </div>
        <!-- /.colStyle_03 -->
      </div>
      <!-- /.secStyle_01 -->
    </div>
    <!-- /#container -->
  </main>
  
  
  {% include 'footer-tui' %}
  
</div>
<!-- /#outerMenu -->
</div>
<!-- /#wrapper -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<script src="{{ 'master.js' | asset_url }}" type="text/javascript"></script>


<script>
  $(function() {
    
    setPhotoChanger ()
    
  });
</script>

<script type="application/json" data-cart-routes>
  {
    "cartUrl": "{{ routes.cart_url }}",
    "cartAddUrl": "{{ routes.cart_add_url }}",
    "cartChangeUrl": "{{ routes.cart_change_url }}"
  }
</script>

<ul hidden>
  <li id="a11y-refresh-page-message">{{ 'general.accessibility.refresh_page' | t }}</li>
  <li id="a11y-selection-message">{{ 'general.accessibility.selection_help' | t }}</li>
</ul>



