

{% layout 'theme.tui' %}

<div id="outerMenu">
  
  <main role="main">
    <div id="container">
      <div class="secStyle_04 setMrg_27 way">
        <div class="inner">
          <section class="secStyle_06">
            <div class="inner counterTtl">
              <h1 class="ttlStyle_08">プライバシーポリシー</h1>
              <div class="setMrg_28">
                <div class="summaryStyle_04">
                  <p>株式会社tui beauty（以下、「当社」といいます）ではお客様に当社をご利用していただく際に、当社の個人情報保護の取り扱いに関する基本方針に基づいて、常に皆様の個人情報を適切に取り扱っています。また、当社における個人情報の利用目的は、次に掲げる事項です。</p>
                </div>
                <!-- /.summaryStyle_04 -->
              </div>
              <!-- /.setMrg_28 -->
              <div class="setMrg_28">
                <h3 class="ttlStyle_09">個人情報の収集・利用について</h3>
                <div class="summaryStyle_04">
                  <p>当社は、利用者が本サービス（当社が提供するサービスの一切を「本サービス」とします）利用の際に登録された氏名、性別、生年月日、郵便番号、現住所、メールアドレス等の特定の個人を識別することのできる情報（以下、「個人情報」といいます）を収集するものとします。<br>利用者は、当社が収集した個人情報について、その取り扱いを定めた当社の「プライバシーポリシー」の内容に、あらかじめご承諾いただいたものとします。<br>当社は、適正に取得した利用者情報を、以下の目的で利用します。当社は利用者ご本人の同意なく利用目的の範囲を超えて利用者情報を利用することはありません。</p>
                  <ul class="listStyle_03">
                    <li>商品の発送および代金の請求のために必要な事項の把握（個人情報）</li>
                    <li>商品を安全に使用していただくために必要な事項の把握（副作用歴、既往歴、アレルギー、体質、併用薬、氏名、年齢、性別、ご住所や緊急時の連絡先など）</li>
                    <li>本サービスの、各種キャンペーン・アンケート・モニター等に関連した景品等を発送するため</li>
                    <li>本サービスの利用に伴うご連絡、メールマガジン、ダイレクトメール（DM）、当サービス（ポイント付与、各種キャンペーン、クーポン企画等）に関する情報提供等のメール発送のため<br><span>※メールマガジン等の登録・解除につきましては、ページ下の「7). メールマガジンの登録・解除について」を参照ください。</span></li>
                    <li>お客様からのご要望やお問い合わせに対する回答をするため</li>
                    <li>病院、診療所、薬局、訪問看護ステーション、介護サービス事業者などとの必要な連携をするため</li>
                    <li>病院、診療所などからの照会への回答をするため</li>
                    <li>家族などへの薬に関する説明をするため</li>
                    <li>薬剤師賠償責任保険などに係る保険会社への相談または届出をするため</li>
                    <li>外部監査機関への情報提供をするため</li>
                  </ul>
                </div>
                <!-- /.summaryStyle_04 -->
              </div>
              <!-- /.setMrg_28 -->
              <div class="setMrg_28">
                <h3 class="ttlStyle_09">個人情報の保有・管理について</h3>
                <div class="summaryStyle_04">
                  <p>当社は以下の体制で個人情報を管理します。</p>
                  <ul class="listStyle_03">
                    <li>個人情報保護法およびガイドラインをはじめ、関連する法令を遵守します。</li>
                    <li>個人情報の適切な保管のために安全管理措置を講じ、漏洩・滅失・棄損の防止に努めます。</li>
                    <li>個人情報を適切に取り扱っていることを定期的に確認し、問題が認められた場合には、これを改善します。</li>
                    <li>個人情報の取得にあたっては、あらかじめ利用目的を明示し、その目的以外には使用しません。<br>ただし、本人の了解を得ている場合、法令にもとづく場合、個人を識別できないよう匿名化した場合などは除きます。</li>
                    <li>システムに保存されている個人情報については、業務上必要な社員だけが利用できるようアカウントとパスワードを用意し、アクセス権限管理を実施します。なお、アカウントとパスワードは漏えい、滅失のないよう厳重に管理します。</li>
                    <li>サービスに支障が生じないことを前提として、個人情報の受領時から一定期間経過後、個人情報は随時削除していきます。</li>
                  </ul>
                </div>
                <!-- /.summaryStyle_04 -->
              </div>
              <!-- /.setMrg_28 -->
              <div class="setMrg_28">
                <h3 class="ttlStyle_09">アクセスログ・セキュリティーについて</h3>
                <div class="summaryStyle_04 setMrg_29">
                  <h4 class="ttlStyle_10">Cookie（クッキー）の使用について</h4>
                  <p>当社は、お客様により良いサービスを提供するためCookieを使用することがありますが、これにより個人を特定できる情報の収集を行えるものではなく、お客様のプライバシーを侵害することはございません。<br>Cookieは、あくまでコンピューターを識別するために利用され、住所・氏名などの個人情報やID・パスワードといった情報は含まれておりません。<br>また、Cookieの受け入れを希望されない場合は、ブラウザの設定で変更することができます。なお、その際は一部コンテンツによっては正しく機能しない場合もありますので、あらかじめご了承ください。</p>
                </div>
                <!-- /.summaryStyle_04 -->
                <div class="summaryStyle_04 setMrg_29">
                  <h4 class="ttlStyle_10">SSL（暗号化通信）の使用について</h4>
                  <p>当社のウェブサイトでは、お客様の個人情報を安全に保護するために、SSL（Secure Socket Layer）技術を利用した暗号化通信を使用しています。SSLに対応したブラウザを使用することで、お客様の個人情報を自動的に暗号化して送受信しています。<br>ただし、SSLに対応していないブラウザをご使用の場合は、該当ページにアクセスできない、情報の入力ができない等の場合がありますのでご注意ください。<br>※ SSLは情報を暗号化することで、盗聴防止やデータの改ざん防止送受信する機能のことです。SSLを利用する事でより安全に情報を送信する事が可能となります。</p>
                </div>
                <!-- /.summaryStyle_04 -->
                <div class="summaryStyle_04 setMrg_29">
                  <h4 class="ttlStyle_10">Google Analyticsの情報取得について</h4>
                  <p>当サイトでは、当サイトのアクセス解析ために、Google社の提供するサービスであるGoogle アナリティクスを利用し、訪問履歴を収集・分析します。しかしながら、このアクセス情報は匿名で収集されており、閲覧者の個人情報を関連づけるものではありません。また、それらの情報は、Google社により同社のプライバシーポリシーにもとづいて管理されます。<br>Google アナリティクスによる情報収集を無効化したい場合は、Google社が提供する「Google アナリティクス オプトアウト アドオン」からオプトアウトの設定をすることで実施可能です。<br>なお、Google AnalyticsおよびGoogle アナリティクス オプトアウト アドオンのサービス利用、およびブラウザの設定による損害については、当サイト運営者は責任を負わないものとします。</p>
                  <p>・Google アナリティクス利用規約<br><a href="https://marketingplatform.google.com/about/analytics/terms/jp/" target="_blank" class="linkStyle_01">https://marketingplatform.google.com/about/analytics/terms/jp/</a><br>・Google プライバシーポリシー<br><a href="https://policies.google.com/privacy?hl=ja" target="_blank" class="linkStyle_01">https://policies.google.com/privacy?hl=ja</a><br>・Google アナリティクス オプトアウト アドオン<br><a href="https://tools.google.com/dlpage/gaoptout?hl=ja" target="_blank" class="linkStyle_01">https://tools.google.com/dlpage/gaoptout?hl=ja</a></p>
                </div>
                <!-- /.summaryStyle_04 -->
              </div>
              <!-- /.setMrg_28 -->
              <div class="setMrg_28">
                <h3 class="ttlStyle_09">個人情報の第三者への開示・提供について</h3>
                <div class="summaryStyle_04">
                  <p>本サービスでは、お客様の許可なく第三者にお客様の個人情報を提供することはありません。ただし、業務によっては外部の業者に委託する場合があるため、お客様により提供された個人情報を他の目的に使用しない義務を課した上で、当該業務の遂行上、当然必要と思われる範囲において当該業者に開示することがあります。なお、法令による開示の要求があった場合に、お客様の個人情報を開示することがあります。<br>お客様が、当社から購入された商品等に関して、メーカー等より商品回収（リコール）の要請があった場合、当該商品等を購入されたお客様の連絡先等の情報を当該メーカー等に開示することがあります。</p>
                </div>
                <!-- /.summaryStyle_04 -->
              </div>
              <!-- /.setMrg_28 -->
              <div class="setMrg_28">
                <h3 class="ttlStyle_09">個人情報の第三者への訂正・削除・利用停止について</h3>
                <div class="summaryStyle_04">
                  <p>当社は、ご本人様からの要請にもとづいて、ご本人様の個人情報に誤りや変更があった場合には、第三者によるご本人様の個人情報の改ざんを防止するため、当社が定める方法によりご本人様ご自身であることが確認できた場合に限り、訂正、追加または削除、利用の停止、消去および第三者への提供の停止をさせていただきます。<br>個人情報を削除、利用停止、または第三者への提供を停止した場合、ご本人様が現在ご利用されているサービスなどを受けることができなくなる場合がございます。<br>当社がご本人様の債権を保有している場合など、当社で保有している個人情報の削除、利用停止または第三者への提供の停止を要請されても、一部の個人情報については対応できない場合がございます。</p>
                </div>
                <!-- /.summaryStyle_04 -->
              </div>
              <!-- /.setMrg_28 -->
              <div class="setMrg_28">
                <h3 class="ttlStyle_09">プライバシーポリシーの変更について</h3>
                <div class="summaryStyle_04">
                  <p>当社は、法令等の定めがある場合を除き、改善することが必要であると当サービス運営側が判断した場合、プライバシーポリシーを随時変更することができるものとします。変更後の内容は当社のウェブページにおいて掲載するものとし、プライバシーポリシー変更後に個人情報の提供が必要な本サービスをご利用いただいた場合、変更に同意されたものとみなします。</p>
                </div>
                <!-- /.summaryStyle_04 -->
              </div>
              <!-- /.setMrg_28 -->
              <div class="setMrg_28">
                <h3 class="ttlStyle_09">メールマガジンの登録・解除について</h3>
                <div class="summaryStyle_04">
                  <p>新規会員の登録時に、メールマガジン配信等の希望または拒否の選択が行えます。<br>メールマガジン等のサービスを無効にしたい場合は、<a href="{{ routes.root_url }}pages/contact" class="linkStyle_01">お問い合わせフォーム</a>よりお問い合せください。</p>
                </div>
                <!-- /.summaryStyle_04 -->
              </div>
              <!-- /.setMrg_28 -->
              <div class="setMrg_28">
                <h3 class="ttlStyle_09">個人情報に関するお問い合わせ・相談窓口</h3>
                <div class="summaryStyle_04">
                  <p>当社は、次の事項についてご本人から申し出があった場合、適切かつ迅速に対応します。</p>
                  <ul class="listStyle_03">
                    <li>個人情報の利用目的に同意しがたい場合</li>
                    <li>個人情報の開示、訂正、利用停止など（法令により応じられない場合を除く）</li>
                    <li>個人情報が漏洩・滅失・棄損した場合、または、その可能性が疑われる場合</li>
                    <li>その他、個人情報の取り扱いについてご質問やご不明な点がある場合</li>
                  </ul>
                </div>
                <!-- /.summaryStyle_04 -->
              </div>
              <!-- /.setMrg_28 -->
              <div>
                <h3 class="ttlStyle_11">≪お問い合わせ窓口≫</h3>
                <div class="summaryStyle_04">
                  <p>開示等のお申出、ご意見、ご質問、苦情のお申出その他個人情報の取扱いに関するお問い合わせは、当ショップの<a href="{{ routes.root_url }}pages/sctl" class="linkStyle_01">「特定商取引法に基づく表記」</a>内にある連絡先へご連絡いただくか、ショップページ内の<a href="{{ routes.root_url }}pages/contact" class="linkStyle_01">お問い合わせフォーム</a>よりお問い合わせください。</p>
                </div>
                <!-- /.summaryStyle_04 -->
              </div>
            </div>
            <!-- /.inner -->
          </section>
          <!-- /.secStyle_06 -->
        </div>
        <!-- /.inner -->
      </div>
      <!-- /.secStyle_04 -->
    </div>
    <!-- /#container -->
  </main>
  
  
  {% include 'footer-tui' %}
  
</div>
<!-- /#outerMenu -->
</div>
<!-- /#wrapper -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/gsap/latest/TweenMax.min.js"></script>

<script src="{{ 'master.js' | asset_url }}" type="text/javascript"></script>


<script>
  $(function() {
    
    
    
  });
</script>

<script type="application/json" data-cart-routes>
  {
    "cartUrl": "{{ routes.cart_url }}",
    "cartAddUrl": "{{ routes.cart_add_url }}",
    "cartChangeUrl": "{{ routes.cart_change_url }}"
  }
</script>

<ul hidden>
  <li id="a11y-refresh-page-message">{{ 'general.accessibility.refresh_page' | t }}</li>
  <li id="a11y-selection-message">{{ 'general.accessibility.selection_help' | t }}</li>
</ul>



