

{% layout 'theme.tui' %}

<div id="outerMenu">
  
  <main role="main">
    <div id="container">
      <div class="secStyle_04 setMrg_26 way">
        <div class="inner">
          <div class="secStyle_06">
            <div class="navStyle_01 setMrg_45" id="faqNav">
              <nav>
                <ul>
                  <li><a href="javascript:void(0);" class="active type_0">ALL</a></li>
                  <li><a href="javascript:void(0);" class="type_1">製品について</a></li>
                  <li><a href="javascript:void(0);" class="type_2">使い方</a></li>
                  <li><a href="javascript:void(0);" class="type_3">配送・その他</a></li>
                </ul>
              </nav>
            </div>
            <!-- /.navStyle_01 -->
            <div class="inner">
              <div id="faqWrap">
                <section class="type_1">
                  <!-- /対応するカテゴリのクラスをsectionに付与 -->
                  <h2>各商品の成分および使用期限について</h2>
                  <div class="content">
                    <p>商品の成分については、下記の各商品詳細ページに掲載しております。</p>
                    <p><a href="{{ routes.root_url }}products/booster-oil" class="linkStyle_02">【ブースターオイル】</a><br>未開封：製造後3年、開封後：出来るだけ早めに使いきるようにしてください。</p>
                    <p><a href="{{ routes.root_url }}products/moisture-serum" class="linkStyle_02">【モイスチャーセラム】</a><br>未開封：製造後3年、開封後：出来るだけ早めに使いきるようにしてください。</p>
                  </div>
                  <!-- /.content -->
                </section>
                <!-- /.faq section -->
                <section class="type_1">
                  <!-- /対応するカテゴリのクラスをsectionに付与 -->
                  <h2>香料・着色料は使用していますか？</h2>
                  <div class="content">
                    <p>使用しておりません。</p>
                  </div>
                  <!-- /.content -->
                </section>
                <!-- /.faq section -->
                <section class="type_1">
                  <!-- /対応するカテゴリのクラスをsectionに付与 -->
                  <h2>NtDDSとはどんな技術ですか？</h2>
                  <div class="content">
                    <p>NtDDSとは、角質層すみずみまで保湿美容成分を届けることが可能なナノ分散浸透技術です。<br>詳しくは<a href="{{ routes.root_url }}pages/about#ntdds" class="linkStyle_02">こちら</a>をご覧ください。</p>
                  </div>
                  <!-- /.content -->
                </section>
                <!-- /.faq section -->
                <section class="type_1">
                  <!-- /対応するカテゴリのクラスをsectionに付与 -->
                  <h2>オイルとセラム、それぞれの効果を教えてください</h2>
                  <div class="content">
                    <p>【ブースターオイル】<br>表皮と親和性の高いオイルで浸透※を高め、柔らかくなった肌表面からNtDDS技術で保湿美容成分を角質層まで届けることで、肌にハリ・弾力を与えます。<br>※ 角質層まで</p>
                    <p>【モイスチャーセラム】<br>バリア機能を担うセラミド配合※により、肌にうるおいを蓄え、もっちりとした肌へと導きます。親油性が高いテクスチャーは、オイルと併用しても弾かず馴染み、肌を整えます。<br>※ セラミドEOP、セラミドNP、セラミドAP</p>
                  </div>
                  <!-- /.content -->
                </section>
                <!-- /.faq section -->
                <section class="type_1">
                  <!-- /対応するカテゴリのクラスをsectionに付与 -->
                  <h2>日本製ですか？</h2>
                  <div class="content">
                    <p>tuiの商品は全て日本製です。</p>
                  </div>
                  <!-- /.content -->
                </section>
                <!-- /.faq section -->
                <section class="type_1">
                  <!-- /対応するカテゴリのクラスをsectionに付与 -->
                  <h2>動物実験は行っていますか？</h2>
                  <div class="content">
                    <p>製品では行っておりません。</p>
                  </div>
                  <!-- /.content -->
                </section>
                <!-- /.faq section -->
                <section class="type_1">
                  <!-- /対応するカテゴリのクラスをsectionに付与 -->
                  <h2>アレルギーテストは行っていますか？</h2>
                  <div class="content">
                    <p>製品では行っておりません。</p>
                  </div>
                  <!-- /.content -->
                </section>
                <!-- /.faq section -->
                <section class="type_2">
                  <!-- /対応するカテゴリのクラスをsectionに付与 -->
                  <h2>オイルとセラムそれぞれの使い方を教えてください。</h2>
                  <div class="content">
                    <p>どちらも洗顔後すぐに全顔に優しく塗布してください。<br>併用する際は、ブースターオイル→モイスチャーセラムの順にお使いください。<br>ブースターオイルを先に使うことで、次に使うモイスチャーセラムの浸透をサポートし、うるおいをお肌に感じていただけるはずです。</p>
                  </div>
                  <!-- /.content -->
                </section>
                <!-- /.faq section -->
                <section class="type_2">
                  <!-- /対応するカテゴリのクラスをsectionに付与 -->
                  <h2>オイルだけ／セラムだけなど単体でも使えますか？</h2>
                  <div class="content">
                    <p>製品として個々にお使いできるように設計をしております。</p>
                  </div>
                  <!-- /.content -->
                </section>
                <!-- /.faq section -->
                <section class="type_2">
                  <!-- /対応するカテゴリのクラスをsectionに付与 -->
                  <h2>保管方法が知りたいです</h2>
                  <div class="content">
                    <p class="txStyle_06">使用後は必ずしっかり蓋をしめてください。<br>極端に高温又は低温の場所、直射日光のあたる場所には保管しないでください。<br>また、ブースターオイルの特性上、低温状態で白濁したり固まったりすることがありますが、品質には問題ありません。<br>凍ったような状態となりますので、暖かい場所に置くか、ボトルをぬるま湯につけて、溶かしてからご使用ください。</p>
                  </div>
                  <!-- /.content -->
                </section>
                <!-- /.faq section -->
                <section class="type_2">
                  <!-- /対応するカテゴリのクラスをsectionに付与 -->
                  <h2>1回の使用量と、使用想定期間は？</h2>
                  <div class="content">
                    <p>1回ワンプッシュ、朝晩2回のご使用で約1ヵ月分となります。</p>
                  </div>
                  <!-- /.content -->
                </section>
                <!-- /.faq section -->
                <section class="type_2">
                  <!-- /対応するカテゴリのクラスをsectionに付与 -->
                  <h2>開封してからどれくらいの期間使用可能ですか？</h2>
                  <div class="content">
                    <p>使用後に容器の蓋をきちんとしめていても、長く使っている間には中身が少しずつ空気に触れます。<br>品質低下を防ぐため、開封後の化粧品はできるだけ早めに使い切るようにしてください。</p>
                  </div>
                  <!-- /.content -->
                </section>
                <!-- /.faq section -->
                <section class="type_2">
                  <!-- /対応するカテゴリのクラスをsectionに付与 -->
                  <h2>オイル・セラムの他にスキンケアは必要ですか？</h2>
                  <div class="content">
                    <p>乾燥が気になる方はスキンケアの最後に、乳液やクリームでの保湿を心がけていただくよう推奨しております。ぜひお試しください。</p>
                  </div>
                  <!-- /.content -->
                </section>
                <!-- /.faq section -->
                <section class="type_2">
                  <!-- /対応するカテゴリのクラスをsectionに付与 -->
                  <h2>使用直後から赤み・かゆみなどが出てしまいました</h2>
                  <div class="content">
                    <p>使用中、赤み、はれ、かゆみ、刺激等の異常が現われたときは使用を中止し、皮膚科専門医等へのご相談をおすすめします。<br>また、傷、湿疹等、肌に異常のあるときは使用しないでください。</p>
                  </div>
                  <!-- /.content -->
                </section>
                <!-- /.faq section -->
                <section class="type_3">
                  <!-- /対応するカテゴリのクラスをsectionに付与 -->
                  <h2>注文を間違えた・商品をキャンセルしたい</h2>
                  <div class="content">
                    <p><a href="{{ routes.root_url }}pages/contact" class="linkStyle_02">お問い合わせフォーム</a>よりご連絡お願いいたします。</p>
                  </div>
                  <!-- /.content -->
                </section>
                <!-- /.faq section -->
                <section class="type_3">
                  <!-- /対応するカテゴリのクラスをsectionに付与 -->
                  <h2>注文内容はどこから確認できますか？</h2>
                  <div class="content">
                    <p>こちらのURLよりご確認ください<br><a href="{{ routes.root_url }}account" class="linkStyle_02">【https://tui-beauty.com/account】</a></p>
                  </div>
                  <!-- /.content -->
                </section>
                <!-- /.faq section -->
                <section class="type_3">
                  <!-- /対応するカテゴリのクラスをsectionに付与 -->
                  <h2>送料はかかりますか？</h2>
                  <div class="content">
                    <p>税込550円発生いたします。</p>
                  </div>
                  <!-- /.content -->
                </section>
                <!-- /.faq section -->
                <section class="type_3">
                  <!-- /対応するカテゴリのクラスをsectionに付与 -->
                  <h2>配送先の変更をしたい</h2>
                  <div class="content">
                    <p>申し訳ありませんが配送日時の指定は承っておりません。ご了承ください。</p>
                  </div>
                  <!-- /.content -->
                </section>
                <!-- /.faq section -->
                <section class="type_3">
                  <!-- /対応するカテゴリのクラスをsectionに付与 -->
                  <h2>配送には注文からどれくらい時間がかかりますか？</h2>
                  <div class="content">
                    <p>年末年始・長期休業期間を除き、ご入金日より3~5営業日を目安としております。</p>
                  </div>
                  <!-- /.content -->
                </section>
                <!-- /.faq section -->
                <section class="type_3">
                  <!-- /対応するカテゴリのクラスをsectionに付与 -->
                  <h2>ギフトでも送れますか？</h2>
                  <div class="content">
                    <p>申し訳ございませんがラッピングのご対応は承っておりません。<br>別途販売となりますが、ブースターオイル・モイスチャーセラムのセット購入の場合に限り、<a href="{{ routes.root_url }}products/set-package#gift" class="linkStyle_02">ギフトラッピング</a>の販売を行っておりますので、ぜひご検討くださいませ。</p>
                  </div>
                  <!-- /.content -->
                </section>
                <!-- /.faq section -->
                <section class="type_3">
                  <!-- /対応するカテゴリのクラスをsectionに付与 -->
                  <h2>初期不良品だった（商品に不純物が混ざっていたなど？）</h2>
                  <div class="content">
                    <p>大変申し訳ございません。<a href="{{ routes.root_url }}pages/contact" class="linkStyle_02">お問い合わせフォーム</a>よりご連絡をお願いいたします。</p>
                  </div>
                  <!-- /.content -->
                </section>
                <!-- /.faq section -->
                <section class="type_3">
                  <!-- /対応するカテゴリのクラスをsectionに付与 -->
                  <h2>海外発送をしたい</h2>
                  <div class="content">
                    <p>申し訳ありませんが承っておりません。ご了承ください。</p>
                  </div>
                  <!-- /.content -->
                </section>
                <!-- /.faq section -->
              </div>
              <!-- /.faqWrap -->
            </div>
            <!-- /.inner -->
          </div>
          <!-- /.secStyle_06 -->
        </div>
        <!-- /.inner -->
      </div>
      <!-- /.secStyle_04 -->
    </div>
    <!-- /#container -->
  </main>
  
  
  {% include 'footer-tui' %}
  
</div>
<!-- /#outerMenu -->
</div>
<!-- /#wrapper -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/gsap/latest/TweenMax.min.js"></script>

<script src="{{ 'master.js' | asset_url }}" type="text/javascript"></script>


<script>
  $(function() {
    
    setCateFilter ();
    
  });
</script>

<script type="application/json" data-cart-routes>
  {
    "cartUrl": "{{ routes.cart_url }}",
    "cartAddUrl": "{{ routes.cart_add_url }}",
    "cartChangeUrl": "{{ routes.cart_change_url }}"
  }
</script>

<ul hidden>
  <li id="a11y-refresh-page-message">{{ 'general.accessibility.refresh_page' | t }}</li>
  <li id="a11y-selection-message">{{ 'general.accessibility.selection_help' | t }}</li>
</ul>



