{{ 'seikyo.css' | asset_url | stylesheet_tag }}
<div class="seikyo__header">
    <p class="seikyo__subttl"><span>保湿を追求したスキンケアブランド「tui(ツイ)」</span></p>
    <p class="seikyo__subttl2"><span>購読者様限定!</span></p>
    
</div>

<main class="seikyo__main" role="main" tabindex="-1">
    <style>
        header {
            display: none !important
        }   

        footer {
            display: none !important
        }
    </style>

    <div class="seikyo__main--discount">
        <span>50%OFF 初回 定期購入</span>
    </div>
    <p class="seikyo__main--list">保湿美容に特化したtuiの導入オイル＆＆美容保湿セラム</p>
    <p class="seikyo__main--txt2">他に余計なステップはいらず、シンプルかつ、肌への最適化を考え抜かれてうまれた組み合わせ、ブースターオイルとモイスチャーセラム。この二つを併せて使うことで、これまでにない肌の仕上がりを体感します。</p>
    <div class="seikyo__product1">
        <img src="{{ 'seikyo_img1.png' | asset_url  }}" alt="セット"  width="auto" height="auto" loading="lazy">
        <div class="seikyo__product1--price">
            <div class="seikyo__product1--price01">
                <img src="{{ 'seikyo_price.svg' | asset_url  }}" alt="値段"  width="auto" height="auto" loading="lazy">
            </div> 
            <div class="seikyo__product1--btn">
                <a href="https://tui-beauty.com/cart/clear?return_to=/cart/add?items[][id]=43019828134147%26items[][quantity]=1%26items[][selling_plan]=3074752771%26return_to=/checkout" class="seikyo__btn">定期購読する</a>
            </div>
        </div>
        <img src="{{ 'seikyo_price1.svg' | asset_url  }}" alt="値段"  width="auto" height="auto" loading="lazy">
        <p class="seikyo__note">※分量：ブースターオイル / 30ml（約1ヶ月分:朝晩1プッシュ毎）、モイスチャーセラム / 50ml（約1ヶ月分:朝晩1〜2プッシュ毎）</p>
        <p class="seikyo__note">※セットの定期購入2回分の合計金額は12,000円（税込）となります。</p>
        <p class="seikyo__note">※セットをご購入の方に、各5回分持ち運びセットをプレゼントいたします。</p>
        <p class="seikyo__note">※初回の配送のみ、無料でギフトラッピングしてお届けいたします。</p>

        

    </div>  
    <div class="seikyo__main--products">
        <div class="seikyo__product2">
            <img src="{{ 'seikyo_img2.png' | asset_url  }}" alt="ブースターオイル"  width="auto" height="auto" loading="lazy">
            <a href="https://tui-beauty.com/cart/clear?return_to=/cart/add?items[][id]=43019853955331%26items[][quantity]=1%26items[][selling_plan]=3074752771%26return_to=/checkout" class="seikyo__btn">定期購読する</a>

            <img src="{{ 'seikyo_price2.svg' | asset_url  }}" alt="値段"  width="auto" height="auto" loading="lazy">
            <p class="seikyo__note">※分量：ブースターオイル / 30ml（約1ヶ月分:朝晩1プッシュ毎）</p>
            <p class="seikyo__note">※ブースターオイルの定期購入2回分の合計金額は7,176円（税込）となります。</p>

        </div>
        <div class="seikyo__product3">
            <img src="{{ 'seikyo_img3.png' | asset_url  }}" alt="モイスチャーセラム"  width="auto" height="auto" loading="lazy">
            <a href="https://tui-beauty.com/cart/clear?return_to=/cart/add?items[][id]=43019855659267%26items[][quantity]=1%26items[][selling_plan]=3074752771%26return_to=/checkout" class="seikyo__btn">定期購読する</a>
            <img src="{{ 'seikyo_price3.svg' | asset_url  }}" alt="値段"  width="auto" height="auto" loading="lazy">
            <p class="seikyo__note">※分量：モイスチャーセラム / 50ml（約1ヶ月分:朝晩1〜2プッシュ毎）</p>
            <p class="seikyo__note">※モイスチャーセラムの定期購入2回分の合計金額は5,976円（税込）となります。</p>

        </div>
    </div>

    <div class="seikyo__howto">
        <p>使い方:<br>
            〈 ブースターオイル 〉<br>
            朝晩の洗顔後に1プッシュを手に取り、お顔全体に優しくなじませてください。<br><br>
            〈 モイスチャーセラム 〉<br>
            ブースターオイル使用後に1〜2プッシュを手に取り、<br>
            お顔全体に優しくなじませてください。<br>
            乾燥が気になる箇所には重ね付けしてご使用ください。</p>
    </div>

    <div class="seikyo__seibun">
        <p>全成分:</p>
        <p>〈 ブースターオイル 〉<br>
            ホホバ種子油、リン酸アスコルビルMg、酢酸トコフェロール、水溶性プロテオグリカン、α–アルブチン、ポリリシノレイン酸ポリグリセリル–6、水、BG</p>
        <p>〈 モイスチャーセラム 〉<br>
            水、グリセリン、PEG-40水添ヒマシ油、BG、PEG-60水添ヒマシ油、ホホバ種子油、リン酸アスコルビルMg、酢酸トコフェロール、ポリリシノレイン酸ポリグリセリル-6、水溶性プロテオグリカン、セラミドEOP、セラミドNP、セラミドAP、キサンタンガム、(PEG-240/デシルテトラデセス-20/HDI)コポリマー、ポリソルベート20、PEG-20ソルビタンココエート、フィトスフィンゴシン、コレステロール、カルボマー、ラウロイルラクチレートNa、カプリリルグリコール、1,2-ヘキサンジオール、フェノキシエタノール
       </p>
        <p class="seikyo__seibun--line">パラベン、アルコール、合成香料、合成着色料 不使用</p>
    </div>

</main>

<div class="seikyo__explain">
    <div class="seikyo__explain--inner">
            <p class="seikyo__note">※特別料金＆送料無料でのご提供は、上記定期購入ボタンからに限らせていただきます。</p>
            <p class="seikyo__note">※商品は35日ごとにお届けいたします。</p>
            <p class="seikyo__note">※お一人様1回限りのキャンペーンとさせていただきます。</p>
        <div class="seikyo__blc">
            <p class="seikyo__note2"><strong>配送料</strong>：無料（定期購入に限る）</p>
        </div>

        <div class="seikyo__blc">
            <p class="seikyo__note2"><strong>発送方法</strong>：宅急便</p>
        </div>
        <div class="seikyo__blc">
            <p class="seikyo__note2"><strong>お届け時期</strong>：ご注文完了後、通常、約3営業日から5営業日での発送となります。2回目以降のお届けについては、1回目の配送後35日間隔にて配送いたします。</p>
        </div>
        <div class="seikyo__blc">
            <p class="seikyo__note2"><strong>代金の支払い方法</strong>：クレジットカード決済（Visa・Mastercard・American Express・JCB）</p>
        </div>
        <div class="seikyo__blc">
            <p class="seikyo__note2"><strong>お支払い時期について</strong>：ご注文完了時に決済処理をいたします。</p>
        </div>
        <div class="seikyo__blc">
            <p class="seikyo__note2"><strong>定期購入の解約について</strong>：<br>
            定期購入2回目の商品到着後、解約が可能です。<br>
            定期購入の内容や変更・解約は「マイページ ＞ サブスクリプションを管理 ＞ 詳細の確認・変更する」にて確認できます。</p>
        </div>
        <div class="seikyo__blc">
            <p class="seikyo__note2"><strong>ご注文完了後のキャンセル・返品について</strong>：<br>
                別途 <a href="{{ routes.root_url }}policies/refund-policy" target="_blank">「キャンセル・返品・交換ポリシー」</a>をご参照ください。</p>
            <p class="seikyo__note3">【住所の間違いや長期不在、受取拒否にて商品が返送された場合】<br>
                お客様には配送費として「往復分の送料」の実費を請求させていただきます。<br>
                その際、弊社からの連絡にご返信をいただけない場合は内容証明郵便の送付及び法的手続きを行う場合がございます。<br>
                ご注文の際は住所に記載漏れ等がないかをご確認いただくようお願いいたします。</p>
        </div>
    </div>
</div>
<div class="seikyo__footer">
    <div class="seikyo__footer--inner">
        <div class="seikyo__footer--links">
            <a href="{{ routes.root_url }}pages/sctl">特定商取引法に基づく表記</a>
            <a href="{{ routes.root_url }}pages/company">会社概要</a>

            <a href="{{ routes.root_url }}pages/rule">利用規約</a>
            <a href="{{ routes.root_url }}pages/privacy-policy">プライバシーポリシー</a>
        </div>

        <small class="seikyo__footer--copy">＠tui beauty</small>
    </div>

</div>