

{% layout 'theme.tui' %}

<div id="outerMenu">
  
  <main role="main">
    <div id="container">
      <div class="secStyle_10 setMrg_37 way">
        <div class="inner">
          <p class="ttlStyle_16 sp">Products</p>
          <h1 class="ttlStyle_15">独自開発したナノ分散浸透技術 “NtDDS”による<br>角質層すみずみへの浸透効果が、なめらかな素肌へと導きます。</h1>
          <div class="articleWrap_03">
            <article class="articleStyle_09">
              
              <a href="{{ routes.root_url }}products/booster-oil">
                <div class="inner">
                  <div class="col-content">
                    <div class="secTtl">
                      <h2>BOOSTER OIL</h2>
                      <h3>体感する浸透力<span>※</span></h3>
                    </div>
                    <!-- /.secTtl -->
                    <div class="summary">
                      <p>洗顔後すぐに“オイル” の新習慣。表皮と親和性の高いオイルが肌表面を柔らかく、ベタつくことなくスーッと肌に馴染んでいく。独自開発したNtDDS<span class="txStyle_02">（ナノ分散浸透技術）</span>が保湿美容成分を角質層までしっかりと届け、肌をすこやかに保ちます。</p>
                      <p class="txStyle_02">※角質層まで</p>
                    </div>
                    <!-- /.summary -->
                    <div class="btn">
                      <span class="btnStyle_08"><span>View more</span></span>
                    </div>
                    <!-- /.btn -->
                  </div>
                  <!-- /.col-content -->
                  <div class="col-img">
                    <div class="eyeCatch">
                      <span>
                        
                        
                          
<picture>
  <!--source
    data-srcset="{{ 'product_img_01_02.webp' | file_url }}"
    media="(min-width: 768px)"
    type="image/webp"
  -->
  <source
    data-srcset="{{ 'product_img_01_02.jpg' | file_url }}"
    media="(min-width: 768px)"
  >
  <!--source
    data-srcset="{{ 'product_img_01_02_sp.webp' | file_url }} 1x,{{ 'product_img_01_02_sp_2x.webp' | file_url }} 2x,{{ 'product_img_01_02_sp_3x.webp' | file_url }} 3x"
    type="image/webp"
  -->
  <source
    data-srcset="{{ 'product_img_01_02_sp.jpg' | file_url }}"
  >
  <img
    data-src="{{ 'product_img_01_02.jpg' | file_url }}"
    alt=""
    class="lazyload"
  >
  <div class="loadImg"></div>
  <!-- /.loadImg -->
</picture>

                        
                      </span>
                    </div>
                    <!-- /.eyeCatch -->
                  </div>
                  <!-- /.col-img -->
                </div>
                <!-- /.inner -->
              </a>
            </article>
            <!-- /.articleStyle_09 -->
            <article class="articleStyle_09">
              
              <a href="{{ routes.root_url }}products/moisture-serum">
                <div class="inner">
                  <div class="col-content">
                    <div class="secTtl">
                      <h2>MOISTURE SERUM</h2>
                      <h3>うるおい、肌にとどまる</h3>
                    </div>
                    <!-- /.secTtl -->
                    <div class="summary">
                      <p>化粧水なしで“セラム” だけ。オイルのカプセルをセラムが包み、想像を超える保湿力。セラミド成分<sup>※</sup>が肌にうるおいを与え、そのたっぷりの水分を蓄えたままの肌が持続します。親油性が高く、オイルとの併用も弾かず馴染む圧巻のセラム。</p>
                      <p class="txStyle_02">※セラミドEOP、セラミドNP、セラミドAP</p>
                    </div>
                    <!-- /.summary -->
                    <div class="btn">
                      <span class="btnStyle_08"><span>View more</span></span>
                    </div>
                    <!-- /.btn -->
                  </div>
                  <!-- /.col-content -->
                  <div class="col-img">
                    <div class="eyeCatch">
                      <span>
                        
                        
                          
<picture>
  <!--source
    data-srcset="{{ 'product_img_02_02.webp' | file_url }}"
    media="(min-width: 768px)"
    type="image/webp"
  -->
  <source
    data-srcset="{{ 'product_img_02_02.jpg' | file_url }}"
    media="(min-width: 768px)"
  >
  <!--source
    data-srcset="{{ 'product_img_02_02_sp.webp' | file_url }} 1x,{{ 'product_img_02_02_sp_2x.webp' | file_url }} 2x,{{ 'product_img_02_02_sp_3x.webp' | file_url }} 3x"
    type="image/webp"
  -->
  <source
    data-srcset="{{ 'product_img_02_02_sp.jpg' | file_url }}"
  >
  <img
    data-src="{{ 'product_img_02_02.jpg' | file_url }}"
    alt=""
    class="lazyload"
  >
  <div class="loadImg"></div>
  <!-- /.loadImg -->
</picture>

                        
                      </span>
                    </div>
                    <!-- /.eyeCatch -->
                  </div>
                  <!-- /.col-img -->
                </div>
                <!-- /.inner -->
              </a>
            </article>
            <!-- /.articleStyle_09 -->
            <article class="articleStyle_09">
              
              <a href="{{ routes.root_url }}products/set-package">
                <div class="inner">
                  <div class="col-content">
                    <div class="secTtl">
                      <h2>SET PACKAGE</h2>
                      <h3 class="style_01">オイルとセラム、対になるもの</h3>
                    </div>
                    <!-- /.secTtl -->
                    <div class="summary">
                      <p>他に余計なステップはいらず、シンプルかつ、お肌への最適化を考え抜かれてうまれた組み合わせ、ブースターオイルとモイスチャーセラム。この⼆つを併せて使うことで、これまでにない肌の仕上がりを体感します。</p>
                    </div>
                    <!-- /.summary -->
                    <div class="btn">
                      <span class="btnStyle_08"><span>View more</span></span>
                    </div>
                    <!-- /.btn -->
                  </div>
                  <!-- /.col-content -->
                  <div class="col-img">
                    <div class="eyeCatch">
                      <span>
                        
                        
                          
<picture>
  <!--source
    data-srcset="{{ 'product_img_03_02.webp' | file_url }}"
    media="(min-width: 768px)"
    type="image/webp"
  -->
  <source
    data-srcset="{{ 'product_img_03_02.jpg' | file_url }}"
    media="(min-width: 768px)"
  >
  <!--source
    data-srcset="{{ 'product_img_03_02_sp.webp' | file_url }} 1x,{{ 'product_img_03_02_sp_2x.webp' | file_url }} 2x,{{ 'product_img_03_02_sp_3x.webp' | file_url }} 3x"
    type="image/webp"
  -->
  <source
    data-srcset="{{ 'product_img_03_02_sp.jpg' | file_url }}"
  >
  <img
    data-src="{{ 'product_img_03_02.jpg' | file_url }}"
    alt=""
    class="lazyload"
  >
  <div class="loadImg"></div>
  <!-- /.loadImg -->
</picture>

                        
                      </span>
                    </div>
                    <!-- /.eyeCatch -->
                  </div>
                  <!-- /.col-img -->
                </div>
                <!-- /.inner -->
              </a>
            </article>
            <!-- /.articleStyle_09 -->
            <article class="articleStyle_09" id="subscription">
              <div class="wrap">
                <div class="inner">
                  <div class="col-content">
                    <div class="secTtl">
                      <h2>SUBSCRIPTION</h2>
                      <h3>使い続けるほどに満ち足りた<br>すこやかな肌へ</h3>
                    </div>
                    <!-- /.secTtl -->
                    <div class="summary">
                      <p>肌への効果をより実感していただくために。毎日欠かさずお使いいただくスキンケアアイテムだからこそ、お手元にスムーズにお届けできる定期購入プランをご用意しています。</p>
                    </div>
                    <!-- /.summary -->
                    <div class="btn">
                      
                      <a href="{{ routes.root_url }}products/booster-oil-s" class="btnStyle_08"><span>BOOSTER OIL</span></a>
                      
                      <a href="{{ routes.root_url }}products/moisture-serum-s" class="btnStyle_08"><span>MOISTURE SERUM</span></a>
                      
                      <a href="{{ routes.root_url }}products/set-package-s" class="btnStyle_08"><span>SET PACKAGE</span></a>
                    </div>
                    <!-- /.btn -->
                  </div>
                  <!-- /.col-content -->
                  <div class="col-img">
                    <div class="eyeCatch">
                      <span>
                        
                        
                          
<picture>
  <!--source
    data-srcset="{{ 'product_img_04_02.webp' | file_url }}"
    media="(min-width: 768px)"
    type="image/webp"
  -->
  <source
    data-srcset="{{ 'product_img_04_02.jpg' | file_url }}"
    media="(min-width: 768px)"
  >
  <!--source
    data-srcset="{{ 'product_img_04_02_sp.webp' | file_url }} 1x,{{ 'product_img_04_02_sp_2x.webp' | file_url }} 2x,{{ 'product_img_04_02_sp_3x.webp' | file_url }} 3x"
    type="image/webp"
  -->
  <source
    data-srcset="{{ 'product_img_04_02_sp.jpg' | file_url }}"
  >
  <img
    data-src="{{ 'product_img_04_02.jpg' | file_url }}"
    alt=""
    class="lazyload"
  >
  <div class="loadImg"></div>
  <!-- /.loadImg -->
</picture>

                        
                      </span>
                    </div>
                    <!-- /.eyeCatch -->
                  </div>
                  <!-- /.col-img -->
                </div>
                <!-- /.inner -->
              </div>
              <!-- /.wrap -->
            </article>
            <!-- /.articleStyle_09 -->
          </div>
          <!-- /.articleWrap_03 -->
        </div>
        <!-- /.inner -->
      </div>
      <!-- /.secStyle_10 -->
      <div class="pc style_01 setMrg_11 way">
        <section class="secStyle_07">
  <div class="inner">
    <div class="movieStyle_01 setMrg_07 videoWay">
      <div class="inner">
        <div class="videoWrap">
          
          <video class="video lazyload" muted playsinline loop preload="none">
            <source src="{{ 'movie.mp4' | file_url }}" type="video/mp4">
          </video>
          
        </div>
        <!-- /.videoWrap -->
        <div class="mask">
          <span class="head"><svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px"
	 y="0px" viewBox="0 0 10 10" style="enable-background:new 0 0 10 10;" xml:space="preserve">
<path class="st0" d="M10,0H0v10C0,4.5,4.5,0,10,0z"/>
</svg>
</span>
          <span class="head"><svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px"
	 y="0px" viewBox="0 0 10 10" style="enable-background:new 0 0 10 10;" xml:space="preserve">
<path class="st0" d="M0,0l10,0v10C10,4.5,5.5,0,0,0z"/>
</svg>
</span>
          <span class="foot"><svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px"
	 y="0px" viewBox="0 0 10 10" style="enable-background:new 0 0 10 10;" xml:space="preserve">
<path class="st0" d="M0,0l10,0v10C10,4.5,5.5,0,0,0z"/>
</svg>
</span>
          <span class="foot"><svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px"
	 y="0px" viewBox="0 0 10 10" style="enable-background:new 0 0 10 10;" xml:space="preserve">
<path class="st0" d="M10,0H0v10C0,4.5,4.5,0,10,0z"/>
</svg>
</span>
        </div>
        <!-- /.mask -->
      </div>
      <!-- /.inner -->
    </div>
    <!-- /.movieStyle_01 -->
  </div>
  <!-- /.inner -->
  <div class="content">
    <h2 class="ttlStyle_05 setMrg_01">About NtDDS</h2>
    <div class="summaryStyle_03 setMrg_08">
      <p>“角質層のすみずみにまで保湿美容成分を届ける”ことを可能にする、<br class="pc">独自開発したナノ分散浸透技術 “NtDDS”。 皮膚は、肌表面にある角質層が<br class="pc">乾燥と外部刺激から肌を守るため、疎水性が高く、<br class="productsBr">物質を浸透させることが難しいとされてきました。<br class="pc">そこで、肌と親和性の高いナノサイズカプセルで保湿美容成分を覆い、<br class="pc">美容オイルに可溶化することで「浸透性」「安定性」「肌へのやさしさ」を実現。<br class="pc">NtDDSによる角質層すみずみへの浸透効果が、なめらかな素肌へと導きます。</p>
    </div>
    <!-- /.summaryStyle_03 -->
    <h3 class="ttlStyle_06 setMrg_09 onlyProduct">肌が実感する、<br class="sp">角質層へのアプローチ</h3>
    <div class="summaryStyle_03 setMrg_10 onlyProduct">
      <p>水溶性・高分子成分をそのままNtDDS技術で油性素材・水溶性素材にナノ分散することで、<br class="pc">角質層のすみずみまでダイレクトに浸透します。</p>
      <ul class="listStyle_01">
        <li>リン酸アスコルビルMg<span>(ビタミンC誘導体)</span></li>
        <li>酢酸トコフェロール<span>(ビタミンE)</span></li>
        <li>水溶性プロテオグリカン</li>
      </ul>
      <!-- /.listStyle_01 -->
      <p>これらの保湿美容成分をNtDDS技術で角質層のすみずみまで届けることにより、<br class="pc">肌にうるおいを与えハリや肌荒れなどさまざまな肌悩みに多角的にアプローチします。</p>
    </div>
    <!-- /.summaryStyle_02 -->
    <div class="elemWrap onlyProduct">
      <a href="{{ routes.root_url }}pages/about#ntdds" class="btnStyle_08"><span>View more</span></a>
    </div>
  </div>
  <!-- /.inner -->
</section>
<!-- /.secStyle_07 -->

      </div>
      <!-- /.pc -->
      <div class="secStyle_01">
        <div class="colStyle_03 way">
          <div class="col sp">
            <section class="articleStyle_01 way">
              <a href="{{ routes.root_url }}pages/about#ntdds">
                <div class="inner">
                  <div class="eyeCatch">
                    
                    
                      
<picture>
  <!--source
    data-srcset="{{ 'img_10.webp' | file_url }}"
    media="(min-width: 768px)"
    type="image/webp"
  -->
  <source
    data-srcset="{{ 'img_10.jpg' | file_url }}"
    media="(min-width: 768px)"
  >
  <!--source
    data-srcset="{{ 'img_10_sp.webp' | file_url }} 1x,{{ 'img_10_sp_2x.webp' | file_url }} 2x,{{ 'img_10_sp_3x.webp' | file_url }} 3x"
    type="image/webp"
  -->
  <source
    data-srcset="{{ 'img_10_sp.jpg' | file_url }}"
  >
  <img
    data-src="{{ 'img_10.jpg' | file_url }}"
    alt=""
    class="lazyload"
  >
  <div class="loadImg"></div>
  <!-- /.loadImg -->
</picture>

                    
                  </div>
                  <!-- /.eyeCatch -->
                  <div class="content">
                    <div class="inner">
                      <h2>About NtDDS</h2>
                    </div>
                    <!-- /.inner -->
                  </div>
                  <!-- /.content -->
                </div>
                <!-- /.inner -->
              </a>
            </section>
            <!-- /.articleStyle_01 -->
          </div>
          <!-- /.col -->
          <div class="col">
            <section class="articleStyle_01 way">
              <a href="{{ routes.root_url }}pages/about#skincare">
                <div class="inner">
                  <div class="eyeCatch">
                    
                    
                      
<picture>
  <!--source
    data-srcset="{{ 'img_07.webp' | file_url }}"
    media="(min-width: 768px)"
    type="image/webp"
  -->
  <source
    data-srcset="{{ 'img_07.jpg' | file_url }}"
    media="(min-width: 768px)"
  >
  <!--source
    data-srcset="{{ 'img_07_sp.webp' | file_url }} 1x,{{ 'img_07_sp_2x.webp' | file_url }} 2x,{{ 'img_07_sp_3x.webp' | file_url }} 3x"
    type="image/webp"
  -->
  <source
    data-srcset="{{ 'img_07_sp.jpg' | file_url }}"
  >
  <img
    data-src="{{ 'img_07.jpg' | file_url }}"
    alt=""
    class="lazyload"
  >
  <div class="loadImg"></div>
  <!-- /.loadImg -->
</picture>

                    
                  </div>
                  <!-- /.eyeCatch -->
                  <div class="content">
                    <div class="inner">
                      <h2>Skincare Routine</h2>
                    </div>
                    <!-- /.inner -->
                  </div>
                  <!-- /.content -->
                </div>
                <!-- /.inner -->
              </a>
            </section>
            <!-- /.articleStyle_01 -->
          </div>
          <!-- /.col -->
          <div class="col">
            <section class="articleStyle_01 way">
              <a href="{{ routes.root_url }}blogs/news">
                <div class="inner">
                  <div class="eyeCatch">
                    
                    
                      
<picture>
  <!--source
    data-srcset="{{ 'img_08.webp' | file_url }}"
    media="(min-width: 768px)"
    type="image/webp"
  -->
  <source
    data-srcset="{{ 'img_08.jpg' | file_url }}"
    media="(min-width: 768px)"
  >
  <!--source
    data-srcset="{{ 'img_08_sp.webp' | file_url }} 1x,{{ 'img_08_sp_2x.webp' | file_url }} 2x,{{ 'img_08_sp_3x.webp' | file_url }} 3x"
    type="image/webp"
  -->
  <source
    data-srcset="{{ 'img_08_sp.jpg' | file_url }}"
  >
  <img
    data-src="{{ 'img_08.jpg' | file_url }}"
    alt=""
    class="lazyload"
  >
  <div class="loadImg"></div>
  <!-- /.loadImg -->
</picture>

                    
                  </div>
                  <!-- /.eyeCatch -->
                  <div class="content">
                    <div class="inner">
                      <h2>News</h2>
                    </div>
                    <!-- /.inner -->
                  </div>
                  <!-- /.content -->
                </div>
                <!-- /.inner -->
              </a>
            </section>
            <!-- /.articleStyle_01 -->
          </div>
          <!-- /.col -->
          <div class="col">
            <section class="articleStyle_01 way">
              <a href="{{ routes.root_url }}pages/contact">
                <div class="inner">
                  <div class="eyeCatch">
                    
                    
                      
<picture>
  <!--source
    data-srcset="{{ 'img_09.webp' | file_url }}"
    media="(min-width: 768px)"
    type="image/webp"
  -->
  <source
    data-srcset="{{ 'img_09.jpg' | file_url }}"
    media="(min-width: 768px)"
  >
  <!--source
    data-srcset="{{ 'img_09_sp.webp' | file_url }} 1x,{{ 'img_09_sp_2x.webp' | file_url }} 2x,{{ 'img_09_sp_3x.webp' | file_url }} 3x"
    type="image/webp"
  -->
  <source
    data-srcset="{{ 'img_09_sp.jpg' | file_url }}"
  >
  <img
    data-src="{{ 'img_09.jpg' | file_url }}"
    alt=""
    class="lazyload"
  >
  <div class="loadImg"></div>
  <!-- /.loadImg -->
</picture>

                    
                  </div>
                  <!-- /.eyeCatch -->
                  <div class="content">
                    <div class="inner">
                      <h2>Contact</h2>
                    </div>
                    <!-- /.inner -->
                  </div>
                  <!-- /.content -->
                </div>
                <!-- /.inner -->
              </a>
            </section>
            <!-- /.articleStyle_01 -->
          </div>
          <!-- /.col -->
        </div>
        <!-- /.colStyle_03 -->
      </div>
      <!-- /.secStyle_01 -->
    </div>
    <!-- /#container -->
  </main>
  
  
  {% include 'footer-tui' %}
  
</div>
<!-- /#outerMenu -->
</div>
<!-- /#wrapper -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/gsap/latest/TweenMax.min.js"></script>

<script src="{{ 'master.js' | asset_url }}" type="text/javascript"></script>


<script>
  $(function() {
    
    setPhotoChanger ()
    
    startScroll ();
    
    setVideo();
    
  });
</script>

<script type="application/json" data-cart-routes>
  {
    "cartUrl": "{{ routes.cart_url }}",
    "cartAddUrl": "{{ routes.cart_add_url }}",
    "cartChangeUrl": "{{ routes.cart_change_url }}"
  }
</script>

<ul hidden>
  <li id="a11y-refresh-page-message">{{ 'general.accessibility.refresh_page' | t }}</li>
  <li id="a11y-selection-message">{{ 'general.accessibility.selection_help' | t }}</li>
</ul>



