

{% layout 'theme.tui' %}

<div id="outerMenu">
  
  <main role="main">
    <div id="container" class="multiGallery">
      <div class="heroStyle_09 setMrg_12">
        <div class="inner">
          <div class="bgImg">
            <div class="inner">
              
              
                
<picture>
  <!--source
    data-srcset="{{ 'hero_img_03.webp' | file_url }}"
    media="(min-width: 768px)"
    type="image/webp"
  -->
  <source
    data-srcset="{{ 'hero_img_03.jpg' | file_url }}"
    media="(min-width: 768px)"
  >
  <!--source
    data-srcset="{{ 'hero_img_03_sp.webp' | file_url }} 1x,{{ 'hero_img_03_sp_2x.webp' | file_url }} 2x,{{ 'hero_img_03_sp_3x.webp' | file_url }} 3x"
    type="image/webp"
  -->
  <source
    data-srcset="{{ 'hero_img_03_sp.jpg' | file_url }}"
  >
  <img
    data-src="{{ 'hero_img_03.jpg' | file_url }}"
    alt=""
    class="lazyload"
  >
  <div class="loadImg"></div>
  <!-- /.loadImg -->
</picture>

              
            </div>
            <!-- /.inner -->
            <div class="content way">
              <div class="wrap">
                <div class="inner">
                  <div class="col">
                    <h2>当たり前を、変えるもの</h2>
                    <div class="summary">
                      <p>この年齢ならこれくらい、この肌質ならこんなもの。<br class="pc">そうした“当たり前” を変えるものがあるとしたら。<br class="pc">自分の中に眠っている可能性を引き出すように、まだ見ぬ“うつくしさ” を追求する。<br class="pc">あなたの当たり前を、変えるもの。いま一度、根幹から。</p>
                    </div>
                    <!-- /.summary -->
                  </div>
                  <!-- /.col -->
                </div>
                <!-- /.inner -->
              </div>
              <!-- /.wrap -->
            </div>
            <!-- /.content -->
          </div>
          <!-- /.bgImg -->
        </div>
        <!-- /.inner -->
      </div>
      <!-- /.heroStyle_01 -->
      <div class="gallerySep">
        <section class="secStyle_02 setMrg_14 way">
          <div class="inner">
            <h2 class="ttlStyle_07">肌のしくみ</h2>
            <div class="imgStyle_01 setMrg_13">
              <span>
                
                
                  
<picture>
  <!--source
    data-srcset="{{ 'img_22.webp' | file_url }}"
    media="(min-width: 768px)"
    type="image/webp"
  -->
  <source
    data-srcset="{{ 'img_22.jpg' | file_url }}"
    media="(min-width: 768px)"
  >
  <!--source
    data-srcset="{{ 'img_22_sp.webp' | file_url }} 1x,{{ 'img_22_sp_2x.webp' | file_url }} 2x,{{ 'img_22_sp_3x.webp' | file_url }} 3x"
    type="image/webp"
  -->
  <source
    data-srcset="{{ 'img_22_sp.jpg' | file_url }}"
  >
  <img
    data-src="{{ 'img_22.jpg' | file_url }}"
    alt=""
    class="lazyload"
  >
  <div class="loadImg"></div>
  <!-- /.loadImg -->
</picture>

                
              </span>
            </div>
            <!-- /.imgStyle_01 -->
            <div class="articleWrap_01">
              <div class="articleStyle_02">
                <h3>角質層の乱れが、<br class="sp">肌を無防備な状態に</h3>
                <div class="summary">
                  <p>細胞間脂質、NMF、皮脂膜が減少、不足すると角質層の水分が蒸発しやすくなり、<br class="pc">肌の乾燥、肌荒れなどのトラブルを招きます。</p>
                </div>
                <!-- /.summary -->
              </div>
              <!-- /.articleStyle_02 -->
              <div class="articleStyle_02">
                <h3>表皮の新陳代謝と、<br class="sp">肌荒れはつながっている</h3>
                <div class="summary">
                  <p>表皮の新陳代謝が鈍化すると、肌の生まれ変わり<span>（ターンオーバー）</span>が不安定になり、<br class="pc">キメの乱れ、肌荒れ、保湿機能の衰えを招きます。</p>
                </div>
                <!-- /.summary -->
              </div>
              <!-- /.articleStyle_02 -->
              <div class="articleStyle_02">
                <h3>バリア機能が低下することで<br class="sp">さまざまなトラブルが発生</h3>
                <div class="summary">
                  <p>間違ったスキンケアをしたり食事や睡眠などの生活が乱れると、角質層の代謝が乱れて健康な角質細胞が育たなくなります。<br class="pc">細胞間脂質も作られにくく、スカスカの状態になると外的刺激が侵入し、<br class="pc">さまざまな肌トラブルを引き起こしやすくなります。</p>
                </div>
                <!-- /.summary -->
              </div>
              <!-- /.articleStyle_02 -->
            </div>
            <!-- /.articleWrap_01 -->
          </div>
          <!-- /.inner -->
        </section>
        <!-- /.secStyle_02 -->
        <div class="setMrg_15 way" id="ntdds">
          <section class="secStyle_07">
  <div class="inner">
    <div class="movieStyle_01 setMrg_07 videoWay">
      <div class="inner">
        <div class="videoWrap">
          
          <video class="video lazyload" muted playsinline loop preload="none">
            <source src="{{ 'movie.mp4' | file_url }}" type="video/mp4">
          </video>
          
        </div>
        <!-- /.videoWrap -->
        <div class="mask">
          <span class="head"><svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px"
	 y="0px" viewBox="0 0 10 10" style="enable-background:new 0 0 10 10;" xml:space="preserve">
<path class="st0" d="M10,0H0v10C0,4.5,4.5,0,10,0z"/>
</svg>
</span>
          <span class="head"><svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px"
	 y="0px" viewBox="0 0 10 10" style="enable-background:new 0 0 10 10;" xml:space="preserve">
<path class="st0" d="M0,0l10,0v10C10,4.5,5.5,0,0,0z"/>
</svg>
</span>
          <span class="foot"><svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px"
	 y="0px" viewBox="0 0 10 10" style="enable-background:new 0 0 10 10;" xml:space="preserve">
<path class="st0" d="M0,0l10,0v10C10,4.5,5.5,0,0,0z"/>
</svg>
</span>
          <span class="foot"><svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px"
	 y="0px" viewBox="0 0 10 10" style="enable-background:new 0 0 10 10;" xml:space="preserve">
<path class="st0" d="M10,0H0v10C0,4.5,4.5,0,10,0z"/>
</svg>
</span>
        </div>
        <!-- /.mask -->
      </div>
      <!-- /.inner -->
    </div>
    <!-- /.movieStyle_01 -->
  </div>
  <!-- /.inner -->
  <div class="content">
    <h2 class="ttlStyle_05 setMrg_01">About NtDDS</h2>
    <div class="summaryStyle_03 setMrg_08">
      <p>“角質層のすみずみにまで保湿美容成分を届ける”ことを可能にする、<br class="pc">独自開発したナノ分散浸透技術 “NtDDS”。 皮膚は、肌表面にある角質層が<br class="pc">乾燥と外部刺激から肌を守るため、疎水性が高く、<br class="productsBr">物質を浸透させることが難しいとされてきました。<br class="pc">そこで、肌と親和性の高いナノサイズカプセルで保湿美容成分を覆い、<br class="pc">美容オイルに可溶化することで「浸透性」「安定性」「肌へのやさしさ」を実現。<br class="pc">NtDDSによる角質層すみずみへの浸透効果が、なめらかな素肌へと導きます。</p>
    </div>
    <!-- /.summaryStyle_03 -->
    <h3 class="ttlStyle_06 setMrg_09 onlyProduct">肌が実感する、<br class="sp">角質層へのアプローチ</h3>
    <div class="summaryStyle_03 setMrg_10 onlyProduct">
      <p>水溶性・高分子成分をそのままNtDDS技術で油性素材・水溶性素材にナノ分散することで、<br class="pc">角質層のすみずみまでダイレクトに浸透します。</p>
      <ul class="listStyle_01">
        <li>リン酸アスコルビルMg<span>(ビタミンC誘導体)</span></li>
        <li>酢酸トコフェロール<span>(ビタミンE)</span></li>
        <li>水溶性プロテオグリカン</li>
      </ul>
      <!-- /.listStyle_01 -->
      <p>これらの保湿美容成分をNtDDS技術で角質層のすみずみまで届けることにより、<br class="pc">肌にうるおいを与えハリや肌荒れなどさまざまな肌悩みに多角的にアプローチします。</p>
    </div>
    <!-- /.summaryStyle_02 -->
    <div class="elemWrap onlyProduct">
      <a href="{{ routes.root_url }}pages/about#ntdds" class="btnStyle_08"><span>View more</span></a>
    </div>
  </div>
  <!-- /.inner -->
</section>
<!-- /.secStyle_07 -->

        </div>
        <!-- /.setMrg_15 -->
        <div class="heroStyle_04 setMrg_41">
          <div class="inner">
            <div class="bgImg">
              <div class="inner">
                
                
                  
<picture>
  <!--source
    data-srcset="{{ 'hero_img_18.webp' | file_url }}"
    media="(min-width: 768px)"
    type="image/webp"
  -->
  <source
    data-srcset="{{ 'hero_img_18.jpg' | file_url }}"
    media="(min-width: 768px)"
  >
  <!--source
    data-srcset="{{ 'hero_img_18_sp.webp' | file_url }} 1x,{{ 'hero_img_18_sp_2x.webp' | file_url }} 2x,{{ 'hero_img_18_sp_3x.webp' | file_url }} 3x"
    type="image/webp"
  -->
  <source
    data-srcset="{{ 'hero_img_18_sp.jpg' | file_url }}"
  >
  <img
    data-src="{{ 'hero_img_18.jpg' | file_url }}"
    alt=""
    class="lazyload"
  >
  <div class="loadImg"></div>
  <!-- /.loadImg -->
</picture>

                
              </div>
              <!-- /.inner -->
            </div>
            <!-- /.bgImg -->
            <div class="content style_04 way">
              <div class="wrap">
                <div class="inner">
                  <h2>肌が実感する、<br class="sp">角質層へのアプローチ</h2>
                  <div class="summary">
                    <p>水溶性・高分子成分をそのままNtDDS技術で油性素材・水溶性素材に<br class="pc">ナノ分散することで、 角質層のすみずみまでダイレクトに浸透します。<br class="pc">これらの保湿美容成分をNtDDS技術で角質層のすみずみまで届けることにより、<br class="pc">肌にうるおいを与えハリや肌荒れなどさまざまな肌悩みに多角的にアプローチします。</p>
                  </div>
                  <!-- /.summary -->
                  <div class="childWrap">
                    <div class="sec">
                      <div class="inner">
                        <div class="eyeCatch">
                          <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px"
	 y="0px" viewBox="0 0 129 129" style="enable-background:new 0 0 129 129;" xml:space="preserve">
<path class="st0" d="M64.5,129v-1c35,0,63.5-28.5,63.5-63.5C128,29.5,99.5,1,64.5,1V0C100.1,0,129,28.9,129,64.5S100.1,129,64.5,129
	z"/>
<path class="st0" d="M64.5,129C28.9,129,0,100.1,0,64.5S28.9,0,64.5,0v1C29.5,1,1,29.5,1,64.5c0,35,28.5,63.5,63.5,63.5V129z"/>
<g>
	<path class="st0" d="M16.7,53.5c0,0.2,0,0.5,0,0.7v3.2c0,0.2,0,0.6,0,0.7h-0.9c0-0.2,0-0.5,0-0.7v-3.2c0-0.2,0-0.5,0-0.7H16.7z
		 M21.1,53.4c0,0.2,0,0.5,0,0.8v1.5c0,2.3-0.3,3-1,3.9c-0.6,0.7-1.6,1.1-2.3,1.4l-0.6-0.7c0.9-0.2,1.7-0.6,2.3-1.3
		c0.7-0.8,0.8-1.6,0.8-3.4v-1.5c0-0.3,0-0.6,0-0.8H21.1z"/>
	<path class="st0" d="M27.3,58.7c1.5-0.9,2.6-2.3,3.2-3.5L31,56c-1.4,2.6-4.1,4.4-7,4.9l-0.5-0.8C25.2,59.8,26.4,59.2,27.3,58.7z
		 M26.7,55.6l-0.6,0.6c-0.5-0.5-1.7-1.5-2.4-2l0.5-0.6C25,54.1,26.2,55.1,26.7,55.6z"/>
	<path class="st0" d="M32.2,53.7v-0.6H36v0.6h-1.1v1.2h1v1.8c0.9-0.3,1.2-0.8,1.3-1.7L36.1,55l0-0.6l0.8,0c0.3-0.5,0.6-1.2,0.8-1.7
		l0.7,0.2c-0.2,0.5-0.5,1-0.8,1.5l2.1-0.1c-0.2-0.2-0.4-0.5-0.6-0.6l0.5-0.3c0.5,0.5,1.1,1.2,1.4,1.6l-0.5,0.3
		c-0.1-0.2-0.2-0.3-0.3-0.5l-0.8,0.1V56c0,0.2,0,0.2,0.2,0.2h0.6c0.2,0,0.2-0.1,0.2-0.7c0.1,0.1,0.4,0.2,0.5,0.2
		c-0.1,0.8-0.2,1-0.7,1h-0.8c-0.6,0-0.8-0.2-0.8-0.8v-1.2l-0.8,0c-0.1,1.1-0.4,1.8-1.5,2.2c-0.1-0.1-0.2-0.4-0.4-0.5v2.2
		c0.8-0.5,1.5-1.3,1.9-2.2l0.6,0.2c-0.1,0.3-0.2,0.5-0.4,0.7h1.7l0.1,0l0.4,0.2c-0.3,0.9-0.8,1.6-1.4,2.2c0.6,0.4,1.2,0.8,2,1
		c-0.1,0.1-0.3,0.4-0.4,0.6c-0.8-0.2-1.5-0.6-2-1.1c-0.6,0.5-1.4,0.8-2.2,1.1c-0.1-0.2-0.2-0.4-0.4-0.5v0.4h-0.6v-0.5h-2.5v0.7h-0.6
		v-6.5h1v-1.2H32.2z M32.8,57.8v0.8h2.5v-1.1h-0.5c-0.4,0-0.5-0.1-0.5-0.5v-1.5h-0.5v0.7c0,0.6-0.1,1.3-0.7,1.8
		C33,57.9,32.9,57.8,32.8,57.8z M32.8,55.5v2.2c0.5-0.5,0.6-1,0.6-1.5v-0.7H32.8z M35.4,60.1v-1h-2.5v1H35.4z M33.8,54.9h0.5v-1.2
		h-0.5V54.9z M34.9,57.1h0.4c0.1,0,0.1,0,0.1,0v-1.6h-0.6V57C34.7,57.1,34.8,57.1,34.9,57.1z M38,59.8c-0.3-0.3-0.6-0.7-0.8-1.2
		c-0.3,0.3-0.6,0.5-0.9,0.7c-0.1-0.1-0.2-0.3-0.4-0.4v1.8C36.7,60.6,37.4,60.3,38,59.8z M37.6,58.2c0.2,0.5,0.5,0.9,0.9,1.2
		c0.4-0.4,0.7-0.8,1-1.3L37.6,58.2L37.6,58.2z"/>
	<path class="st0" d="M50.2,54.2c-0.1,0.1-0.2,0.2-0.3,0.3c-0.4,0.6-1.3,1.9-2.4,2.6L47,56.7c0.9-0.5,1.8-1.5,2.1-2.1h-5.4
		c-0.4,0-0.7,0-1.1,0.1v-0.9c0.3,0,0.7,0.1,1.1,0.1h5.5c0.2,0,0.5,0,0.7-0.1L50.2,54.2z M46.4,55.5c0,2.6-0.2,4.3-2.7,5.5l-0.7-0.6
		c0.3-0.1,0.6-0.2,0.8-0.4c1.5-0.9,1.7-2.3,1.7-3.9c0-0.2,0-0.4,0-0.7H46.4z"/>
	<path class="st0" d="M58.2,54.3c-0.1,0.1-0.2,0.3-0.2,0.4c-0.3,0.8-0.9,1.9-1.6,2.8c1,0.9,2.2,2.1,2.8,2.8l-0.7,0.6
		c-0.6-0.8-1.7-2-2.6-2.8c-1,1.1-2.3,2.1-3.7,2.8l-0.6-0.6c1.5-0.6,2.9-1.7,3.9-2.8c0.6-0.7,1.3-1.9,1.6-2.7h-3.7c-0.3,0-0.9,0-1,0
		v-0.9c0.1,0,0.7,0.1,1,0.1H57c0.3,0,0.6,0,0.7-0.1L58.2,54.3z"/>
	<path class="st0" d="M66.9,60.7c0-0.1,0-0.3,0-0.5h-4.7c-0.4,0-0.8,0-1.1,0v-0.9c0.2,0,0.7,0.1,1.1,0.1h4.7v-4.5h-4.6
		c-0.4,0-0.8,0-1.1,0v-0.8c0.3,0,0.7,0.1,1,0.1H67c0.2,0,0.5,0,0.7,0c0,0.2,0,0.5,0,0.8v4.9c0,0.3,0,0.8,0,0.9H66.9z"/>
	<path class="st0" d="M69.8,60.4c0.8-0.6,1.4-1.4,1.7-2.3c0.3-0.9,0.3-2.8,0.3-3.8c0-0.3,0-0.5-0.1-0.7h0.9c0,0.1,0,0.4,0,0.7
		c0,1.1,0,3.1-0.3,4.1c-0.3,1-0.9,2-1.7,2.6L69.8,60.4z M74.2,60.5c0-0.2,0.1-0.3,0.1-0.5v-5.7c0-0.4,0-0.6-0.1-0.7h0.9
		c0,0.1,0,0.3,0,0.7v5.5c0.9-0.4,2.1-1.3,2.8-2.3l0.5,0.6c-0.8,1.1-2.1,2.1-3.3,2.6c-0.1,0.1-0.2,0.1-0.3,0.2L74.2,60.5z"/>
	<path class="st0" d="M80.6,53.5h0.9c0,0.2,0,0.5,0,0.8v2.2c1.1-0.3,2.6-0.7,3.6-1.2c0.3-0.1,0.6-0.3,0.8-0.4l0.3,0.8
		c-1.5,0.7-3.2,1.2-4.8,1.6v2.1c0,0.5,0.2,0.6,0.7,0.7c0.3,0,0.8,0.1,1.3,0.1c1,0,2.5-0.1,3.3-0.3v0.9c-0.8,0.1-2.3,0.2-3.3,0.2
		c-0.6,0-1.1,0-1.5-0.1c-0.7-0.1-1.1-0.5-1.1-1.2v-5.3C80.7,54,80.7,53.7,80.6,53.5z M85.8,53.2c0.2,0.3,0.6,0.9,0.8,1.3l-0.5,0.2
		c-0.2-0.4-0.5-1-0.8-1.3L85.8,53.2z M86.3,53l0.5-0.2c0.2,0.4,0.6,0.9,0.8,1.3l-0.5,0.2C86.9,53.9,86.6,53.4,86.3,53z"/>
	<path class="st0" d="M88.5,60.4c0.8-0.6,1.4-1.4,1.7-2.3c0.3-0.9,0.3-2.8,0.3-3.8c0-0.3,0-0.5-0.1-0.7h0.9c0,0.1,0,0.4,0,0.7
		c0,1.1,0,3.1-0.3,4.1c-0.3,1-0.9,2-1.7,2.6L88.5,60.4z M92.9,60.5c0-0.2,0.1-0.3,0.1-0.5v-5.7c0-0.4,0-0.6-0.1-0.7h0.9
		c0,0.1,0,0.3,0,0.7v5.5c0.9-0.4,2.1-1.3,2.8-2.3l0.5,0.6c-0.8,1.1-2.1,2.1-3.3,2.6c-0.1,0.1-0.2,0.1-0.3,0.2L92.9,60.5z"/>
	<path class="st0" d="M106.7,60.4c-0.4,0-0.6-0.2-0.6-0.7c0-1.1-0.2-3.8-0.4-5c-0.2,0.3-0.3,0.8-0.6,1.5l-1.1,3
		c-0.1,0.4-0.3,0.9-0.5,1.2h-0.2c-0.3,0-0.6-0.2-1.1-1.8l-0.8-2.6c-0.2-0.5-0.4-1-0.6-1.4c-0.3,1.9-0.4,4.3-0.4,5.7h-0.3
		c-0.3,0-0.6-0.2-0.6-0.7c0-1.9,0.4-4.6,0.6-6.1h0.3c0.9,0,1.3,0.8,1.5,1.5l0.9,2.7c0.1,0.5,0.3,1,0.4,1.4c0.1-0.4,0.3-0.9,0.4-1.4
		l0.9-2.4c0.3-0.7,0.7-1.5,0.9-1.7h0.2c0.6,0,0.9,0.4,1,1.3c0.2,1.7,0.3,3.9,0.4,5.5H106.7z"/>
	<path class="st0" d="M113.4,59.6c0,1.7-1.1,2.4-2.5,2.4c-0.8,0-1.7-0.4-1.7-1.1v-0.4h0.1c0.4,0.4,0.8,0.6,1.7,0.6
		c0.9,0,1.5-0.5,1.5-1.5c0-0.1-0.1-0.4-0.1-0.7v-0.3c-0.2,0.5-0.7,1-1.5,1c-1.2,0-2.2-0.8-2.2-2.1c0-1.3,0.8-2.6,2.5-2.6
		c1.2,0,2,0.7,2,2.3v1.5C113.4,58.9,113.4,59.4,113.4,59.6z M111.2,55.8c-0.9,0-1.5,0.8-1.5,1.6c0,1.1,0.6,1.5,1.4,1.5
		c0.9,0,1.4-0.6,1.4-1.4C112.5,56.3,112.1,55.8,111.2,55.8z"/>
	<path class="st0" d="M24.5,75c0-1.9,0.8-3.4,1.9-4.5l0.6,0.3c-1.1,1.1-1.8,2.6-1.8,4.3s0.7,3.1,1.8,4.2l-0.6,0.3
		C25.3,78.4,24.5,76.9,24.5,75z"/>
	<path class="st0" d="M29.1,71.5H30c0,0.2,0,0.5,0,0.8v2.2c1.1-0.3,2.6-0.7,3.6-1.2c0.3-0.1,0.6-0.3,0.8-0.4l0.3,0.8
		c-1.5,0.7-3.2,1.2-4.8,1.6v2.1c0,0.5,0.2,0.6,0.7,0.7c0.3,0,0.8,0.1,1.3,0.1c1,0,2.5-0.1,3.3-0.3v0.9c-0.8,0.1-2.3,0.2-3.3,0.2
		c-0.6,0-1.1,0-1.5-0.1c-0.7-0.1-1.1-0.5-1.1-1.2v-5.3C29.1,72,29.1,71.7,29.1,71.5z M34.3,71.2c0.2,0.3,0.6,0.9,0.8,1.3l-0.5,0.2
		c-0.2-0.4-0.5-1-0.8-1.3L34.3,71.2z M34.8,71l0.5-0.2c0.2,0.4,0.6,0.9,0.8,1.3l-0.5,0.2C35.4,71.9,35.1,71.4,34.8,71z"/>
	<path class="st0" d="M44.7,72.5c-0.1,0.1-0.2,0.4-0.2,0.5c-0.2,0.8-0.7,1.9-1.4,2.8c0.4,0.2,0.7,0.5,0.9,0.6l-0.5,0.7
		c-0.2-0.2-0.5-0.4-0.9-0.7c-0.9,1-2.1,1.9-3.7,2.5l-0.7-0.6c1.7-0.5,2.9-1.4,3.8-2.4c-0.7-0.5-1.5-1-2.1-1.3l0.5-0.6
		c0.5,0.3,1.4,0.7,2.1,1.2c0.6-0.8,1-1.8,1.2-2.6h-3.2c-0.6,0.8-1.5,1.8-2.5,2.5l-0.6-0.5c1.6-1,2.6-2.4,3.1-3.3
		c0.1-0.2,0.2-0.5,0.3-0.8l0.9,0.3c-0.2,0.2-0.3,0.6-0.4,0.8c-0.1,0.1-0.1,0.2-0.2,0.4h2.6c0.3,0,0.5,0,0.6-0.1L44.7,72.5z"/>
	<path class="st0" d="M52.4,78.2L52,78.9c-1.3-0.6-4.1-1.2-5.7-1.4l0.3-0.7C48.3,77,51.1,77.6,52.4,78.2z M52,75.1l-0.3,0.7
		c-1.1-0.4-3.4-1-4.8-1.2l0.3-0.7C48.5,74.2,50.8,74.6,52,75.1z M52.7,72.5l-0.3,0.7c-1.2-0.4-3.7-1-5-1.1l0.3-0.7
		C48.9,71.6,51.5,72.1,52.7,72.5z"/>
	<path class="st0" d="M58.5,76.7c1.5-0.9,2.6-2.3,3.2-3.5l0.4,0.8c-1.4,2.6-4.1,4.4-7,4.9l-0.5-0.8C56.4,77.8,57.6,77.2,58.5,76.7z
		 M58,73.6l-0.6,0.6c-0.5-0.5-1.7-1.5-2.4-2l0.5-0.6C56.2,72.1,57.4,73.1,58,73.6z"/>
	<path class="st0" d="M69.4,73.1c-0.4-0.6-1.1-0.8-1.7-0.8c-1.5,0-2.4,1-2.4,2.5c0,1.9,1.1,2.8,2.5,2.8c0.7,0,1.3-0.2,1.6-0.7h0v0.3
		c0,0.6-0.7,1.2-1.9,1.2c-1.8,0-3.2-1.4-3.2-3.5c0-1.8,1.2-3.5,3.4-3.5c1.1,0,1.7,0.7,1.7,1.3L69.4,73.1L69.4,73.1z"/>
	<path class="st0" d="M74.9,72.3v0.6h-3.2v-0.6H74.9z M74.6,76.1v2.7h-2v0.5H72v-3.2H74.6z M72.1,74.1v-0.6h2.6v0.6H72.1z
		 M72.1,75.4v-0.6h2.6v0.6H72.1z M74.6,71v0.6h-2.5V71H74.6z M74,76.7h-1.4v1.6H74V76.7z M80.2,76.5c0,0,0,0.2,0,0.3
		c-0.1,1.5-0.2,2.1-0.4,2.4c-0.1,0.2-0.3,0.2-0.6,0.2c-0.1,0-0.2,0-0.4,0c-0.2,0-0.5,0-0.7,0c0-0.2-0.1-0.4-0.2-0.6
		c0.4,0,0.7,0,1.1,0c0.1,0,0.2,0,0.2-0.1c0.1-0.2,0.2-0.6,0.3-1.7h-0.9c0,0.2-0.1,0.3-0.1,0.5l-0.6-0.1c0.1-0.4,0.2-0.9,0.3-1.5H77
		c-0.1,1.6-0.5,2.8-1.9,3.5c-0.1-0.2-0.3-0.4-0.4-0.5c1.2-0.6,1.5-1.5,1.6-2.9h-1v-0.6h3.5c0,0.4-0.1,0.8-0.2,1.1H80.2z M80.3,73.1
		h-1.7c0.5,0.7,1.2,1.3,1.9,1.6c-0.1,0.1-0.3,0.4-0.4,0.5c-0.7-0.4-1.5-1.2-2-1.9v1.8h-0.7v-1.7c-0.5,0.8-1.4,1.6-2.1,2
		c-0.1-0.2-0.3-0.4-0.4-0.5c0.7-0.3,1.5-1,2.1-1.7h-1.7v-0.6h2.3v-0.8c-0.7,0.1-1.3,0.1-2,0.1c0-0.1-0.1-0.4-0.2-0.5
		c1.4-0.1,3.2-0.3,4.2-0.5l0.5,0.5c-0.5,0.1-1.1,0.2-1.8,0.3v0.9h2.3V73.1z"/>
	<path class="st0" d="M88.3,76.9h2.1v0.6h-2.1v1.2c0,0.4-0.1,0.6-0.4,0.6c-0.3,0.1-0.8,0.1-1.6,0.1c0-0.2-0.1-0.4-0.2-0.6
		c0.3,0,0.5,0,0.7,0c0.3,0,0.5,0,0.6,0c0.2,0,0.2,0,0.2-0.2v-1.2h-3.7c0.5,0.3,1.1,0.8,1.4,1.1L84.8,79c-0.3-0.3-0.9-0.8-1.4-1.1
		l0.5-0.4h-2.1v-0.6h5.8v-0.6c-0.6,0-1.3,0-1.9,0c-1,0-1.7-0.3-2.2-0.9c-0.5,0.3-0.9,0.6-1.4,1l-0.3-0.6c0.4-0.2,0.9-0.5,1.3-0.8
		v-1.3h-1.3v-0.6h1.9v1.8c0.4,0.6,1.1,0.8,1.9,0.8c0.3,0,0.8,0,1.4,0c1.2,0,2.6,0,3.4-0.1c-0.1,0.1-0.2,0.4-0.2,0.6
		c-0.5,0-1.2,0-2,0V76.9z M83.4,72.5c-0.2-0.4-0.8-0.9-1.3-1.2l0.5-0.4c0.5,0.3,1,0.8,1.3,1.2L83.4,72.5z M84.9,72.5h1.7
		c0-0.1,0.1-0.3,0.1-0.5h-2.6v-0.5h1.6c-0.1-0.2-0.3-0.5-0.4-0.7l0.6-0.1c0.2,0.2,0.4,0.6,0.5,0.9h1.6c0.2-0.3,0.4-0.6,0.5-0.9
		l0.7,0.1c-0.2,0.3-0.4,0.5-0.5,0.7h1.6V72h-2.9l-0.2,0.5h2.3v2.8h-4.7V72.5z M88.9,73.3v-0.4h-3.3v0.4H88.9z M88.9,74.1v-0.4h-3.3
		v0.4H88.9z M88.9,74.9v-0.4h-3.3v0.4H88.9z"/>
	<path class="st0" d="M93.8,70.7l0.7,0.2c-0.2,0.7-0.5,1.4-0.8,2v6.5h-0.7v-5.3c-0.3,0.4-0.5,0.8-0.8,1.1c-0.1-0.2-0.3-0.5-0.4-0.7
		C92.6,73.6,93.3,72.1,93.8,70.7z M93.9,77.3c1-0.8,2-2.4,2.6-4.1h-2.2v-0.7h2.7v-1.9h0.7v1.9h2.8v0.7h-2.4c0.6,1.6,1.5,3.2,2.6,4
		c-0.2,0.1-0.4,0.4-0.5,0.6c-1-0.9-1.9-2.5-2.5-4.2V77h1.5v0.6h-1.5v1.7h-0.7v-1.7h-1.5V77h1.5v-3.2c-0.6,1.6-1.5,3.2-2.5,4.1
		C94.3,77.7,94,77.5,93.9,77.3z"/>
	<path class="st0" d="M104,75c0,1.9-0.8,3.4-1.9,4.5l-0.6-0.3c1.1-1.1,1.8-2.5,1.8-4.2s-0.7-3.1-1.8-4.3l0.6-0.3
		C103.2,71.6,104,73.2,104,75z"/>
</g>
</svg>

                        </div>
                        <!-- /.eyeCatch -->
                        <div class="childSummary">
                          <p>角質層にうるおいを与え、肌トラブルを防ぎ肌のハリを保つ。</p>
                        </div>
                        <!-- /.summary -->
                      </div>
                      <!-- /.inner -->
                    </div>
                    <!-- /.sec -->
                    <div class="sec">
                      <div class="inner">
                        <div class="eyeCatch">
                          <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px"
	 y="0px" viewBox="0 0 129 129" style="enable-background:new 0 0 129 129;" xml:space="preserve">
<path class="st0" d="M64.5,129v-1c35,0,63.5-28.5,63.5-63.5C128,29.5,99.5,1,64.5,1V0C100.1,0,129,28.9,129,64.5S100.1,129,64.5,129
	z"/>
<path class="st0" d="M64.5,129C28.9,129,0,100.1,0,64.5S28.9,0,64.5,0v1C29.5,1,1,29.5,1,64.5c0,35,28.5,63.5,63.5,63.5V129z"/>
<g>
	<path class="st0" d="M23.4,53h4v0.6h-1.2v1.1h1v1.4c0.7-0.9,1.2-2.2,1.6-3.5l0.7,0.1c-0.1,0.5-0.3,1-0.5,1.5h3v0.7h-1.9v1.4h1.7V57
		h-1.7v1.5H32v0.7h-1.8v2.3h-0.7v-6.5h-0.7c-0.3,0.6-0.6,1.2-1,1.7c-0.1-0.1-0.4-0.3-0.6-0.4v5h-0.6v-0.5h-2.5v0.6h-0.5v-6.6h1v-1.1
		h-1.2V53z M24.1,58.6h2.5v-0.9h-0.5c-0.4,0-0.5-0.1-0.5-0.6v-1.8h-0.5v0.8c0,0.6-0.1,1.3-0.7,1.9c-0.1-0.1-0.2-0.2-0.3-0.2V58.6z
		 M24.1,57.7c0.5-0.5,0.6-1.1,0.6-1.6v-0.8h-0.6V57.7z M24.1,59.1v1h2.5v-1H24.1z M25.1,53.6v1.1h0.6v-1.1H25.1z M26,57.2
		c0,0.1,0,0.1,0.1,0.1h0.3c0.1,0,0.1,0,0.1,0v-1.9H26V57.2z"/>
	<path class="st0" d="M33.5,53.7v-0.6h3.8v0.6h-1.1v1.2h1v1.8c0.9-0.3,1.2-0.8,1.3-1.7L37.4,55l0-0.6l0.8,0c0.3-0.5,0.6-1.2,0.8-1.7
		l0.7,0.2c-0.2,0.5-0.5,1-0.8,1.5l2.1-0.1c-0.2-0.2-0.4-0.5-0.6-0.6l0.5-0.3c0.5,0.5,1.1,1.2,1.4,1.6l-0.5,0.3
		c-0.1-0.1-0.2-0.3-0.3-0.5l-0.8,0.1v1.2c0,0.2,0,0.2,0.2,0.2h0.6c0.2,0,0.2-0.1,0.2-0.7c0.1,0.1,0.4,0.2,0.5,0.2
		c-0.1,0.8-0.2,1-0.7,1h-0.8c-0.6,0-0.8-0.2-0.8-0.8v-1.2l-0.8,0c-0.1,1.1-0.4,1.8-1.5,2.2c-0.1-0.1-0.2-0.4-0.4-0.5v2.2
		c0.8-0.5,1.5-1.3,1.9-2.2l0.6,0.2c-0.1,0.3-0.2,0.5-0.4,0.7h1.7l0.1,0l0.4,0.2c-0.3,0.9-0.8,1.6-1.4,2.2c0.6,0.4,1.2,0.8,2,0.9
		c-0.1,0.1-0.3,0.4-0.4,0.6c-0.8-0.2-1.5-0.6-2-1.1c-0.6,0.5-1.4,0.8-2.2,1.1c-0.1-0.2-0.2-0.4-0.4-0.5v0.4h-0.6v-0.5h-2.5v0.7h-0.6
		v-6.5h1v-1.2H33.5z M34.1,57.8v0.8h2.5v-1.1h-0.5c-0.4,0-0.5-0.1-0.5-0.5v-1.5h-0.5v0.7c0,0.6-0.1,1.3-0.7,1.8
		C34.3,57.9,34.2,57.8,34.1,57.8z M34.1,55.5v2.2c0.5-0.5,0.6-1,0.6-1.5v-0.7H34.1z M36.7,60.1v-1h-2.5v1H36.7z M35.1,54.9h0.5v-1.2
		h-0.5V54.9z M36.2,57.1h0.4c0.1,0,0.1,0,0.1,0v-1.6H36V57C36,57.1,36.1,57.1,36.2,57.1z M39.3,59.8c-0.3-0.4-0.6-0.7-0.8-1.2
		c-0.3,0.3-0.6,0.5-0.9,0.7c-0.1-0.1-0.2-0.3-0.4-0.4v1.8C38,60.6,38.7,60.3,39.3,59.8z M38.9,58.2c0.2,0.5,0.5,0.9,0.9,1.2
		c0.4-0.4,0.7-0.8,1-1.3L38.9,58.2L38.9,58.2z"/>
	<path class="st0" d="M45.6,53.3c0,0.3-0.1,0.7-0.1,1v1.6c1.3,0.4,3.1,1.1,4.1,1.6l-0.3,0.8c-1-0.6-2.7-1.2-3.7-1.5v3.2
		c0,0.3,0,0.8,0.1,1.1h-0.9c0-0.3,0.1-0.8,0.1-1.1v-5.6c0-0.3,0-0.7-0.1-1H45.6z"/>
	<path class="st0" d="M57.5,60.7c0-0.1,0-0.3,0-0.5h-4.7c-0.4,0-0.8,0-1.1,0v-0.9c0.2,0,0.7,0.1,1.1,0.1h4.7v-4.5h-4.6
		c-0.4,0-0.8,0-1.1,0v-0.8c0.3,0,0.7,0.1,1,0.1h4.7c0.2,0,0.5,0,0.7,0c0,0.2,0,0.5,0,0.8v4.9c0,0.3,0,0.8,0,0.9H57.5z"/>
	<path class="st0" d="M67.8,54.3c-0.1,0.1-0.1,0.3-0.1,0.5c-0.2,1-0.7,2.5-1.4,3.5c-0.9,1.1-2,2-3.8,2.6l-0.6-0.7
		c1.8-0.5,2.9-1.3,3.7-2.3c0.7-0.9,1.1-2.2,1.2-3.1h-4.9c-0.4,0-0.7,0-0.9,0v-0.8c0.3,0,0.6,0.1,0.9,0.1h4.8c0.1,0,0.3,0,0.5,0
		L67.8,54.3z"/>
	<path class="st0" d="M69.3,60.7v-0.8c0.2,0,0.5,0.1,0.7,0.1h2.2v-3.5h-1.8c-0.2,0-0.5,0-0.7,0v-0.8c0.2,0,0.5,0,0.7,0h4.4
		c0.2,0,0.5,0,0.7,0v0.8c-0.2,0-0.5,0-0.7,0h-1.9V60h2.3c0.2,0,0.5,0,0.6-0.1v0.8c-0.2,0-0.5,0-0.6,0H70
		C69.8,60.7,69.5,60.7,69.3,60.7z"/>
	<path class="st0" d="M78.2,59.6v-4.7c0-0.2,0-0.5,0-0.7c0.4,0,0.6,0,0.8,0h5.1c0.2,0,0.5,0,0.8,0c0,0.2,0,0.5,0,0.7v4.7
		c0,0.3,0,1,0,1.1h-0.8c0-0.1,0-0.3,0-0.5H79c0,0.2,0,0.5,0,0.5h-0.8C78.2,60.6,78.2,59.9,78.2,59.6z M79,54.9v4.5h5.2v-4.5H79z"/>
	<path class="st0" d="M87.7,56.5c0.3,0,0.8,0,1.3,0h5.2c0.5,0,0.8,0,1,0v0.9c-0.2,0-0.6,0-1,0H89c-0.5,0-1,0-1.3,0V56.5z"/>
	<path class="st0" d="M96.9,60.4c0.8-0.6,1.4-1.4,1.7-2.3c0.3-0.9,0.3-2.8,0.3-3.8c0-0.3,0-0.5-0.1-0.7h0.9c0,0.1,0,0.4,0,0.7
		c0,1.1,0,3.1-0.3,4.1c-0.3,1-0.9,2-1.7,2.6L96.9,60.4z M101.2,60.5c0-0.1,0.1-0.3,0.1-0.5v-5.7c0-0.4-0.1-0.6-0.1-0.7h0.9
		c0,0.1,0,0.3,0,0.7v5.5c0.9-0.4,2.1-1.3,2.8-2.3l0.5,0.6c-0.8,1.1-2.1,2.1-3.3,2.6c-0.1,0.1-0.2,0.1-0.3,0.2L101.2,60.5z"/>
	<path class="st0" d="M40.2,75c0-1.9,0.8-3.4,1.9-4.5l0.6,0.3c-1.1,1.1-1.8,2.6-1.8,4.3s0.7,3.1,1.8,4.2l-0.6,0.3
		C41,78.4,40.2,76.9,40.2,75z"/>
	<path class="st0" d="M44.8,71.5h0.9c0,0.2,0,0.5,0,0.8v2.2c1.1-0.3,2.6-0.7,3.6-1.2c0.3-0.1,0.6-0.3,0.8-0.4l0.3,0.8
		c-1.5,0.7-3.2,1.2-4.8,1.6v2.1c0,0.5,0.2,0.6,0.7,0.7c0.3,0.1,0.8,0.1,1.3,0.1c1,0,2.5-0.1,3.3-0.3v0.9c-0.8,0.1-2.3,0.2-3.3,0.2
		c-0.6,0-1.1,0-1.5-0.1c-0.7-0.1-1.1-0.5-1.1-1.2v-5.3C44.9,72,44.9,71.7,44.8,71.5z M50,71.2c0.2,0.3,0.6,0.9,0.8,1.3l-0.5,0.2
		c-0.2-0.4-0.5-1-0.8-1.3L50,71.2z M50.5,71l0.5-0.2c0.2,0.4,0.6,0.9,0.8,1.3l-0.5,0.2C51.1,71.9,50.8,71.4,50.5,71z"/>
	<path class="st0" d="M60.4,72.5c-0.1,0.1-0.2,0.4-0.2,0.5c-0.2,0.8-0.7,1.9-1.4,2.8c0.4,0.2,0.7,0.5,0.9,0.6l-0.5,0.7
		c-0.2-0.2-0.5-0.4-0.9-0.7c-0.9,1-2.1,1.9-3.7,2.5l-0.7-0.6c1.7-0.5,2.9-1.4,3.8-2.4c-0.7-0.5-1.5-1-2.1-1.3l0.5-0.6
		c0.5,0.3,1.4,0.7,2.1,1.2c0.6-0.8,1-1.8,1.2-2.6h-3.2c-0.6,0.8-1.5,1.8-2.5,2.5l-0.6-0.5c1.6-1,2.6-2.4,3.1-3.3
		c0.1-0.2,0.2-0.5,0.3-0.8l0.9,0.3c-0.2,0.2-0.3,0.6-0.4,0.7c-0.1,0.1-0.1,0.2-0.2,0.4h2.6c0.3,0,0.5,0,0.6-0.1L60.4,72.5z"/>
	<path class="st0" d="M68.1,78.2l-0.3,0.7c-1.3-0.6-4.1-1.2-5.7-1.4l0.3-0.7C64,77,66.8,77.6,68.1,78.2z M67.8,75.1l-0.3,0.7
		c-1.1-0.4-3.4-1-4.8-1.2l0.3-0.7C64.3,74.2,66.6,74.7,67.8,75.1z M68.4,72.5l-0.3,0.7c-1.2-0.4-3.7-1-5-1.1l0.3-0.7
		C64.6,71.6,67.2,72.1,68.4,72.5z"/>
	<path class="st0" d="M74.3,76.7c1.5-0.9,2.6-2.3,3.2-3.5l0.4,0.8c-1.4,2.6-4.1,4.4-7,4.9l-0.5-0.8C72.1,77.8,73.3,77.2,74.3,76.7z
		 M73.7,73.6l-0.6,0.6c-0.5-0.5-1.7-1.5-2.4-2l0.5-0.6C71.9,72.1,73.2,73.1,73.7,73.6z"/>
	<path class="st0" d="M83.5,78.4h-0.8c-1.7,0-2.5-1-2.5-2.8v-1.2c0-0.6,0.1-1.3,0.2-1.8c0.2-0.7,0.4-1,0.9-1h3.5V72
		c0,0.2-0.2,0.5-0.7,0.5h-2.8c-0.1,0.5-0.2,1.4-0.2,2.1h2.9v0.3c0,0.3-0.2,0.5-0.6,0.5h-2.4v0.5c0,1.4,0.5,1.8,1.9,1.8h0.5
		c0.5,0,1-0.1,1.3-0.2v0.3C84.8,78.2,84.7,78.4,83.5,78.4z"/>
	<path class="st0" d="M88.2,75c0,1.9-0.8,3.4-1.9,4.5l-0.6-0.3c1.1-1.1,1.8-2.5,1.8-4.2s-0.7-3.1-1.8-4.3l0.6-0.3
		C87.5,71.6,88.2,73.2,88.2,75z"/>
</g>
</svg>

                        </div>
                        <!-- /.eyeCatch -->
                        <div class="childSummary">
                          <p>肌を整え、外部からの刺激にもゆるがない肌を保つ。</p>
                        </div>
                        <!-- /.summary -->
                      </div>
                      <!-- /.inner -->
                    </div>
                    <!-- /.sec -->
                    <div class="sec">
                      <div class="inner">
                        <div class="eyeCatch">
                          <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px"
	 y="0px" viewBox="0 0 129 129" style="enable-background:new 0 0 129 129;" xml:space="preserve">
<g>
	<path class="st0" d="M64.5,129v-1c35,0,63.5-28.5,63.5-63.5C128,29.5,99.5,1,64.5,1V0C100.1,0,129,28.9,129,64.5
		S100.1,129,64.5,129z"/>
	<path class="st0" d="M64.5,129C28.9,129,0,100.1,0,64.5S28.9,0,64.5,0v1C29.5,1,1,29.5,1,64.5c0,35,28.5,63.5,63.5,63.5V129z"/>
	<g>
		<path class="st0" d="M52.4,55.8H50v-0.7h2.8l0.1,0l0.5,0.2c-0.5,2.5-1.6,4.3-3,5.2c-0.1-0.2-0.4-0.4-0.6-0.6
			C51,59.1,52,57.7,52.4,55.8z M53.2,60.6c0.2,0,0.3,0,0.4,0c0.2,0,0.3-0.1,0.3-0.3v-7.7h0.7v1.7c0.2,0.7,0.5,1.5,0.8,2.2
			c0.8-0.7,1.7-1.6,2.3-2.4l0.6,0.5c-0.8,0.8-1.8,1.8-2.6,2.5c0.7,1.3,1.7,2.3,3,2.9c-0.2,0.1-0.4,0.4-0.5,0.6
			c-1.7-0.8-2.8-2.4-3.6-4.4v4.1c0,0.5-0.1,0.7-0.5,0.9c-0.3,0.1-0.9,0.1-1.7,0.1c0-0.2-0.2-0.6-0.3-0.8
			C52.5,60.6,52.9,60.6,53.2,60.6z"/>
		<path class="st0" d="M60.3,55.3c0.6,0.2,1.3,0.6,1.7,0.9l-0.4,0.6c-0.3-0.3-1.1-0.7-1.7-1L60.3,55.3z M60.1,60.8
			c0.4-0.7,1.1-2,1.5-3.1l0.5,0.4c-0.4,1-1,2.2-1.5,3.1L60.1,60.8z M60.3,53.3l0.4-0.5c0.6,0.3,1.3,0.7,1.7,1L62,54.3
			C61.7,54,60.9,53.5,60.3,53.3z M65.1,56h0.7c0.7,1,1.9,2,3,2.5c-0.1,0.2-0.3,0.4-0.4,0.6c-0.2-0.1-0.4-0.3-0.7-0.4v2.6h-0.7V61
			h-2.8v0.4h-0.6v-2.7c-0.3,0.2-0.6,0.4-0.8,0.5c-0.1-0.2-0.2-0.4-0.4-0.6C63.4,58,64.5,57,65.1,56z M64.9,55
			c-0.5,0.7-1.1,1.4-1.8,1.9c-0.1-0.1-0.4-0.3-0.5-0.5c0.6-0.4,1.3-1,1.7-1.7L64.9,55z M62.6,53.8h2.5v-1.1h0.7v1.1h2.5v1.6h-0.7v-1
			h-4.4v1h-0.6V53.8z M67.1,58.4c-0.7-0.5-1.3-1.1-1.7-1.7c-0.4,0.6-0.9,1.2-1.6,1.7H67.1z M66.9,60.4V59h-2.8v1.4H66.9z M66.5,54.8
			c0.6,0.5,1.3,1,1.8,1.6l-0.5,0.4c-0.5-0.6-1.1-1.2-1.8-1.7L66.5,54.8z"/>
		<path class="st0" d="M69.8,56.9c0.2-0.6,0.4-1.7,0.5-2.4l0.5,0.1c-0.1,0.8-0.2,1.9-0.5,2.6L69.8,56.9z M71.9,52.7v8.7h-0.7v-8.7
			H71.9z M72,54.4l0.5-0.2c0.3,0.5,0.6,1.2,0.7,1.6L72.6,56C72.5,55.6,72.2,54.9,72,54.4z M72.7,61.1v-0.7h2.7V58h-2v-0.7h2v-2h-1.4
			c-0.2,0.6-0.4,1.1-0.7,1.5c-0.1-0.1-0.5-0.2-0.6-0.3c0.6-0.8,0.9-2.1,1.2-3.4l0.7,0.1c-0.1,0.5-0.2,1-0.3,1.5h1.2v-2h0.7v2h2.2
			v0.7h-2.2v2h1.9V58h-1.9v2.4h2.4v0.7H72.7z"/>
		<path class="st0" d="M34.4,72c0.1,0,0.2,0,0.3,0c0-0.1,0-0.2,0-0.3c0-0.6,0.5-1.1,1.1-1.1c0.6,0,1.1,0.5,1.1,1.1
			c0,0.6-0.5,1.1-1.1,1.1c-0.1,0-0.2,0-0.4-0.1l0,0.1c-0.2,1-0.7,2.5-1.4,3.5c-0.9,1.1-2,2-3.8,2.5l-0.6-0.7
			c1.9-0.5,2.9-1.3,3.7-2.3c0.7-0.9,1.1-2.2,1.2-3.1h-4.9c-0.4,0-0.7,0-1,0v-0.8c0.3,0,0.6,0.1,1,0.1H34.4z M36.4,71.7
			c0-0.3-0.3-0.6-0.6-0.6c-0.4,0-0.6,0.3-0.6,0.6c0,0.3,0.3,0.6,0.6,0.6C36.1,72.3,36.4,72,36.4,71.7z"/>
		<path class="st0" d="M38.6,77.4v-4.7c0-0.2,0-0.5,0-0.7c0.4,0,0.6,0,0.8,0h5.1c0.2,0,0.5,0,0.8,0c0,0.2,0,0.5,0,0.7v4.7
			c0,0.3,0,1,0,1.1h-0.8c0-0.1,0-0.3,0-0.5h-5.2c0,0.2,0,0.5,0,0.5h-0.8C38.6,78.5,38.6,77.8,38.6,77.4z M39.3,72.8v4.5h5.2v-4.5
			H39.3z"/>
		<path class="st0" d="M48.4,73.9h6.2c0.2,0,0.5,0,0.7,0v0.8c-0.2,0-0.5,0-0.7,0h-2.6c0,1-0.2,1.9-0.6,2.6c-0.3,0.6-1.1,1.3-1.9,1.7
			l-0.7-0.5c0.7-0.3,1.4-0.9,1.8-1.5c0.4-0.7,0.5-1.5,0.6-2.4h-2.9c-0.3,0-0.6,0-0.8,0v-0.8C47.9,73.9,48.1,73.9,48.4,73.9z
			 M48.8,71.5c0.3,0,0.5,0,0.9,0h3.9c0.3,0,0.6,0,0.9,0v0.8c-0.3,0-0.6,0-0.9,0h-3.9c-0.3,0-0.6,0-0.9,0V71.5z"/>
		<path class="st0" d="M56.9,77.2c1.9-0.9,3.6-2.5,4.4-3.7h-3.2c-0.3,0-0.6,0-0.9,0v-0.8c0.3,0,0.6,0,0.9,0h3.5c0-0.4,0-0.7,0-0.9
			c0-0.2,0-0.5-0.1-0.8h0.9c0,0.3-0.1,0.5-0.1,0.8l0,0.9h1.5c0.2,0,0.6,0,0.8,0v0.8c-0.2,0-0.5,0-0.8,0h-1.5c0,1.4,0.1,3.3,0.1,4.5
			c0,0.5-0.3,0.8-0.9,0.8c-0.5,0-1.1,0-1.5-0.1L60,78c0.5,0.1,1,0.1,1.3,0.1c0.3,0,0.3-0.1,0.3-0.4c0-0.8,0-2.2,0-3.5
			c-0.8,1.1-2.5,2.7-4.2,3.6L56.9,77.2z"/>
		<path class="st0" d="M71.8,72.5c0.3,0,0.5,0,0.6-0.1l0.6,0.4c-0.1,0.1-0.2,0.4-0.2,0.5c-0.2,1-0.8,2.3-1.7,3.3
			c-0.9,1.1-2,1.9-3.8,2.6l-0.7-0.6c1.8-0.5,2.9-1.4,3.8-2.4c0.8-0.9,1.3-2.1,1.5-3h-3.2c-0.6,0.8-1.4,1.7-2.4,2.3L65.7,75
			c1.6-1,2.6-2.4,3-3.2c0.1-0.2,0.2-0.5,0.3-0.8l0.9,0.3c-0.2,0.2-0.3,0.6-0.4,0.7c-0.1,0.1-0.1,0.3-0.2,0.4H71.8z M72.5,70.9
			c0.2,0.3,0.6,0.9,0.8,1.3l-0.5,0.2c-0.2-0.4-0.5-1-0.8-1.3L72.5,70.9z M73.5,70.5c0.2,0.3,0.6,0.9,0.8,1.3L73.8,72
			c-0.2-0.4-0.5-1-0.8-1.3L73.5,70.5z"/>
		<path class="st0" d="M76.7,71.3c0,0.2,0,0.5,0,0.7v3.2c0,0.2,0,0.6,0,0.7h-0.9c0-0.1,0-0.5,0-0.7V72c0-0.2,0-0.5,0-0.7H76.7z
			 M81.1,71.3c0,0.2,0,0.5,0,0.8v1.5c0,2.3-0.3,3-1,3.9c-0.6,0.7-1.6,1.1-2.3,1.4l-0.6-0.7c0.9-0.2,1.7-0.6,2.3-1.3
			c0.7-0.8,0.8-1.6,0.8-3.4v-1.5c0-0.3,0-0.6,0-0.8H81.1z"/>
		<path class="st0" d="M86.4,73.5h-1.6c-0.4,0-0.8,0-1.1,0v-0.8c0.3,0,0.7,0,1.1,0h1.7c0-0.3,0-0.6,0-1c0-0.2,0-0.6-0.1-0.8h0.9
			c0,0.2,0,0.5-0.1,0.8c0,0.3,0,0.7,0,1h2.3c0.2,0,0.5,0,0.6,0l0.5,0.3c0,0.2,0,0.4,0,0.5c0,0.9-0.2,3.7-0.6,4.6
			c-0.2,0.4-0.5,0.6-1,0.6c-0.5,0-1,0-1.5,0l-0.1-0.8c0.5,0.1,1,0.1,1.4,0.1c0.3,0,0.5-0.1,0.5-0.3c0.4-0.7,0.5-3.1,0.5-4.1h-2.7
			c-0.3,2.7-1.3,4.2-2.9,5.3l-0.7-0.6C85.3,77.3,86.1,75.4,86.4,73.5z"/>
		<path class="st0" d="M96.6,76.5c1.5-0.9,2.6-2.3,3.2-3.5l0.5,0.8c-1.4,2.6-4.1,4.4-7,4.9l-0.5-0.8C94.5,77.7,95.7,77.1,96.6,76.5z
			 M96.1,73.5l-0.6,0.6c-0.5-0.5-1.7-1.5-2.4-2l0.5-0.6C94.3,72,95.5,73,96.1,73.5z"/>
	</g>
</g>
</svg>

                        </div>
                        <!-- /.eyeCatch -->
                        <div class="childSummary">
                          <p>肌全体にうるおいを与え、皮膚の乾燥を防ぐ。</p>
                        </div>
                        <!-- /.summary -->
                      </div>
                      <!-- /.inner -->
                    </div>
                    <!-- /.sec -->
                  </div>
                  <!-- /.childWrap -->
                </div>
                <!-- /.inner -->
              </div>
              <!-- /.wrap -->
            </div>
            <!-- /.content -->
          </div>
          <!-- /.inner -->
        </div>
        <!-- /.heroStyle_04 -->
        <div class="heroStyle_05 setMrg_41">
          <div class="inner">
            <div class="bgImg">
              <div class="inner">
                
                
                  
<picture>
  <!--source
    data-srcset="{{ 'hero_img_19.webp' | file_url }}"
    media="(min-width: 768px)"
    type="image/webp"
  -->
  <source
    data-srcset="{{ 'hero_img_19.jpg' | file_url }}"
    media="(min-width: 768px)"
  >
  <!--source
    data-srcset="{{ 'hero_img_19_sp.webp' | file_url }} 1x,{{ 'hero_img_19_sp_2x.webp' | file_url }} 2x,{{ 'hero_img_19_sp_3x.webp' | file_url }} 3x"
    type="image/webp"
  -->
  <source
    data-srcset="{{ 'hero_img_19_sp.jpg' | file_url }}"
  >
  <img
    data-src="{{ 'hero_img_19.jpg' | file_url }}"
    alt=""
    class="lazyload"
  >
  <div class="loadImg"></div>
  <!-- /.loadImg -->
</picture>

                
              </div>
              <!-- /.inner -->
            </div>
            <!-- /.bgImg -->
            <div class="content style_05 way">
              <div class="wrap">
                <div class="inner">
                  <div class="col">
                    <p class="numbering">Point 1</p>
                    <h2>肌と、透過</h2>
                    <div class="summary">
                      <p>私たちの身体は、皮膚表面を覆っている油分のバリア機能により異物の侵入を防いでいます。本来は一定以上の高分子のものを吸収しなかったため、必要な成分が届きませんでした。NtDDS技術は成分と肌の親和性を高くすることにより、角質層に透過、 届けたい成分を浸透<span class="txStyle_02">（角質層まで）</span>させることができます。独自の高浸透技術で満ち足りた肌へ。</p>
                    </div>
                    <!-- /.summary -->
                  </div>
                  <!-- /.col -->
                </div>
                <!-- /.inner -->
              </div>
              <!-- /.wrap -->
            </div>
            <!-- /.content -->
          </div>
          <!-- /.inner -->
        </div>
        <!-- /.heroStyle_05 -->
        <div class="heroStyle_06 setMrg_41">
          <div class="inner">
            <div class="bgImg">
              <div class="inner">
                
                
                  
<picture>
  <!--source
    data-srcset="{{ 'hero_img_20.webp' | file_url }}"
    media="(min-width: 768px)"
    type="image/webp"
  -->
  <source
    data-srcset="{{ 'hero_img_20.jpg' | file_url }}"
    media="(min-width: 768px)"
  >
  <!--source
    data-srcset="{{ 'hero_img_20_sp.webp' | file_url }} 1x,{{ 'hero_img_20_sp_2x.webp' | file_url }} 2x,{{ 'hero_img_20_sp_3x.webp' | file_url }} 3x"
    type="image/webp"
  -->
  <source
    data-srcset="{{ 'hero_img_20_sp.jpg' | file_url }}"
  >
  <img
    data-src="{{ 'hero_img_20.jpg' | file_url }}"
    alt=""
    class="lazyload"
  >
  <div class="loadImg"></div>
  <!-- /.loadImg -->
</picture>

                
              </div>
              <!-- /.inner -->
            </div>
            <!-- /.bgImg -->
            <div class="content style_06 setStyle_01 way">
              <div class="wrap">
                <div class="inner">
                  <div class="col">
                    <p class="numbering">Point 2</p>
                    <h2>ビタミンC<span>（リン酸アスコルビルMg/整肌成分）</span>を<br>角質層へ、ダイレクトに</h2>
                    <div class="summary">
                      <p>一般論、肌の弾力を左右する繊維芽細胞はビタミンC<span class="txStyle_02">（リン酸アスコルビルMg/整肌成分）</span>を与えることで活性化。角質層まで保湿美容成分がダイレクトに浸透することで肌サイクルを取り戻し、肌にハリ・弾力を与えます。</p>
                    </div>
                    <!-- /.summary -->
                  </div>
                  <!-- /.col -->
                </div>
                <!-- /.inner -->
              </div>
              <!-- /.wrap -->
            </div>
            <!-- /.content -->
          </div>
          <!-- /.inner -->
        </div>
        <!-- /.heroStyle_06 -->
        <div class="heroStyle_06 setMrg_42">
          <div class="inner">
            <div class="bgImg">
              <div class="inner">
                
                
                  
<picture>
  <!--source
    data-srcset="{{ 'hero_img_21.webp' | file_url }}"
    media="(min-width: 768px)"
    type="image/webp"
  -->
  <source
    data-srcset="{{ 'hero_img_21.jpg' | file_url }}"
    media="(min-width: 768px)"
  >
  <!--source
    data-srcset="{{ 'hero_img_21_sp.webp' | file_url }} 1x,{{ 'hero_img_21_sp_2x.webp' | file_url }} 2x,{{ 'hero_img_21_sp_3x.webp' | file_url }} 3x"
    type="image/webp"
  -->
  <source
    data-srcset="{{ 'hero_img_21_sp.jpg' | file_url }}"
  >
  <img
    data-src="{{ 'hero_img_21.jpg' | file_url }}"
    alt=""
    class="lazyload"
  >
  <div class="loadImg"></div>
  <!-- /.loadImg -->
</picture>

                
              </div>
              <!-- /.inner -->
            </div>
            <!-- /.bgImg -->
            <div class="content style_06 setStyle_02 way">
              <div class="wrap style_01">
                <div class="inner">
                  <div class="col">
                    <p class="numbering">Point 3</p>
                    <h2>独自開発した<br class="sp">ナノ分散浸透技術が可能にする、<br>角質層すみずみへのアプローチ</h2>
                    <ul class="specList">
                      <li>NtDDS技術が必要な成分を<br class="sp">角質層までしっかり届ける</li>
                      <li>ビタミンC<span>（リン酸アスコルビルMg/整肌成分）</span>を<br class="sp">はじめとする<br class="pc">保湿美容成分が、肌サイクルを取り戻す</li>
                      <li>酸化することなく、クリアで<br class="sp">フレッシュな使用感が持続する</li>
                      <li>使い続けるほど実感する、なめらかな肌　</li>
                    </ul>
                    <!-- /.specList -->
                  </div>
                  <!-- /.col -->
                </div>
                <!-- /.inner -->
              </div>
              <!-- /.wrap -->
            </div>
            <!-- /.content -->
          </div>
          <!-- /.inner -->
        </div>
        <!-- /.heroStyle_06 -->
        <div class="heroStyle_07" id="skincare">
          <div class="inner">
            <div class="bgImg">
              <div class="inner">
                
                
                  
<picture>
  <!--source
    data-srcset="{{ 'hero_img_22.webp' | file_url }}"
    media="(min-width: 768px)"
    type="image/webp"
  -->
  <source
    data-srcset="{{ 'hero_img_22.jpg' | file_url }}"
    media="(min-width: 768px)"
  >
  <!--source
    data-srcset="{{ 'hero_img_22_sp.webp' | file_url }} 1x,{{ 'hero_img_22_sp_2x.webp' | file_url }} 2x,{{ 'hero_img_22_sp_3x.webp' | file_url }} 3x"
    type="image/webp"
  -->
  <source
    data-srcset="{{ 'hero_img_22_sp.jpg' | file_url }}"
  >
  <img
    data-src="{{ 'hero_img_22.jpg' | file_url }}"
    alt=""
    class="lazyload"
  >
  <div class="loadImg"></div>
  <!-- /.loadImg -->
</picture>

                
              </div>
              <!-- /.inner -->
            </div>
            <!-- /.bgImg -->
            <div class="content way">
              <div class="wrap">
                <div class="inner">
                  <div class="col">
                    <h2><span class="en">Skincare Routine</span><span class="ja">スキンケアルーティン</span></h2>
                    <div class="summary">
                      <p>ビタミンC<span class="txStyle_02">（リン酸アスコルビルMg/整肌成分）</span>をはじめとする<br class="pc">保湿美容成分を集中的に角質層のすみずみまで届けることで肌サイクルを取り戻す。<br class="pc">肌全体のコンディションを根本から整えたい方におすすめ。</p>
                    </div>
                    <!-- /.summary -->
                  </div>
                  <!-- /.col -->
                </div>
                <!-- /.inner -->
              </div>
              <!-- /.wrap -->
            </div>
            <!-- /.content -->
          </div>
          <!-- /.inner -->
        </div>
        <!-- /.heroStyle_07 -->
      </div>
      <!-- /.gallerySep -->
      <div class="gallerySep setMrg_16">
        <section class="secStyle_11 setMrg_19 way">
          <div class="inner">
            <div class="stepUnit">
              <div class="sec nullWay">
                <span class="circle"><span>STEP 1</span></span>
                <div class="inner">
                  <div class="cont">
                    <div class="col-content">
                      <h3><span class="en">BOOSTER OIL</span><span class="ja">（オイル & 美容液）</span></h3>
                      <h4>洗顔後すぐに<br class="sp">“オイル” の新習慣</h4>
                      <div class="summary">
                        <p>表皮と親和性の高いオイルで浸透<sup>※</sup>を高め、 柔らかくなった肌表面から<br class="pc">NtDDS技術で保湿美容成分を角質層まで届けます。<br class="pc">ベタつくことなくスーッと肌に馴染んでいくテクスチャーは、<br class="pc">その後のスキンケアやメイクの邪魔をしません。</p>
                        <p class="caution">※角質層まで</p>
                      </div>
                      <!-- /.summry -->
                      <div class="elemWrap"><a href="{{ routes.root_url }}products/booster-oil" class="btnStyle_08"><span>View the products</span></a></div>
                    </div>
                    <!-- /.col-content -->
                    <div class="col-img">
                      <div class="eyeCatch">
                        
                        
                          
<picture>
  <!--source
    data-srcset="{{ 'img_23.webp' | file_url }}"
    media="(min-width: 768px)"
    type="image/webp"
  -->
  <source
    data-srcset="{{ 'img_23.jpg' | file_url }}"
    media="(min-width: 768px)"
  >
  <!--source
    data-srcset="{{ 'img_23_sp.webp' | file_url }} 1x,{{ 'img_23_sp_2x.webp' | file_url }} 2x,{{ 'img_23_sp_3x.webp' | file_url }} 3x"
    type="image/webp"
  -->
  <source
    data-srcset="{{ 'img_23_sp.jpg' | file_url }}"
  >
  <img
    data-src="{{ 'img_23.jpg' | file_url }}"
    alt=""
    class="lazyload"
  >
  <div class="loadImg"></div>
  <!-- /.loadImg -->
</picture>

                        
                      </div>
                      <!-- /.eyeCatch -->
                    </div>
                    <!-- /.col-img -->
                  </div>
                  <!-- /.cont -->
                </div>
                <!-- /.inner -->
              </div>
              <!-- /.sec -->
              <div class="sec nullWay">
                <span class="circle"><span>STEP 2</span></span>
                <div class="inner">
                  <div class="cont">
                    <div class="col-content">
                      <h3><span class="en">MOISTURE SERUM</span><span class="ja">（化粧水 & 美容液）</span></h3>
                      <h4>化粧水なしで“セラム” だけ</h4>
                      <div class="summary">
                        <p>保湿美容成分を閉じ込めたオイルのカプセルをセラムで包み込むことで、<br class="pc">これまでにないうるおいを実現。バリア機能を担うセラミド配合<sup>※</sup>により、<br class="pc">肌にうるおいを蓄え、もっちりとした肌に。親油性が高いテクスチャーは、<br class="pc">オイルと併用しても弾かず馴染み、肌を整えます。</p>
                        <p class="caution">※セラミドEOP,セラミドNP,セラミドAP</p>
                      </div>
                      <!-- /.summry -->
                      <div class="elemWrap"><a href="{{ routes.root_url }}products/moisture-serum" class="btnStyle_08"><span>View the products</span></a></div>
                    </div>
                    <!-- /.col-content -->
                    <div class="col-img">
                      <div class="eyeCatch">
                        
                        
                          
<picture>
  <!--source
    data-srcset="{{ 'img_24.webp' | file_url }}"
    media="(min-width: 768px)"
    type="image/webp"
  -->
  <source
    data-srcset="{{ 'img_24.jpg' | file_url }}"
    media="(min-width: 768px)"
  >
  <!--source
    data-srcset="{{ 'img_24_sp.webp' | file_url }} 1x,{{ 'img_24_sp_2x.webp' | file_url }} 2x,{{ 'img_24_sp_3x.webp' | file_url }} 3x"
    type="image/webp"
  -->
  <source
    data-srcset="{{ 'img_24_sp.jpg' | file_url }}"
  >
  <img
    data-src="{{ 'img_24.jpg' | file_url }}"
    alt=""
    class="lazyload"
  >
  <div class="loadImg"></div>
  <!-- /.loadImg -->
</picture>

                        
                      </div>
                      <!-- /.eyeCatch -->
                    </div>
                    <!-- /.col-img -->
                  </div>
                  <!-- /.cont -->
                </div>
                <!-- /.inner -->
              </div>
              <!-- /.sec -->
              <div class="sec nullWay">
                <span class="circle"><span>STEP 3</span></span>
                <div class="inner">
                  <div class="cont">
                    <div class="col-content">
                      <h4>乳液 or クリーム</h4>
                      <div class="summary">
                        <p>お好みでプラスしてください。</p>
                      </div>
                      <!-- /.summry -->
                    </div>
                    <!-- /.inner -->
                  </div>
                  <!-- /.col-content -->
                </div>
                <!-- /.inner -->
              </div>
              <!-- /.sec -->
            </div>
            <!-- /.stepUnit -->
          </div>
          <!-- /.inner -->
        </section>
        <!-- /.secStyle_11 -->
        <section class="secStyle_01 setMrg_43">
          <div class="inner">
            <div class="heroStyle_08">
              <div class="inner">
                <div class="bgImg">
                  <div class="inner">
                    
                    
                      
<picture>
  <!--source
    data-srcset="{{ 'hero_img_23.webp' | file_url }}"
    media="(min-width: 768px)"
    type="image/webp"
  -->
  <source
    data-srcset="{{ 'hero_img_23.jpg' | file_url }}"
    media="(min-width: 768px)"
  >
  <!--source
    data-srcset="{{ 'hero_img_23_sp.webp' | file_url }} 1x,{{ 'hero_img_23_sp_2x.webp' | file_url }} 2x,{{ 'hero_img_23_sp_3x.webp' | file_url }} 3x"
    type="image/webp"
  -->
  <source
    data-srcset="{{ 'hero_img_23_sp.jpg' | file_url }}"
  >
  <img
    data-src="{{ 'hero_img_23.jpg' | file_url }}"
    alt=""
    class="lazyload"
  >
  <div class="loadImg"></div>
  <!-- /.loadImg -->
</picture>

                    
                  </div>
                  <!-- /.inner -->
                </div>
                <!-- /.bgImg -->
                <div class="content way">
                  <div class="wrap">
                    <div class="inner">
                      <div class="col">
                        <h2><span class="en">Sustainable Products</span><span class="ja">サステナブルプロダクツ</span></h2>
                        <div class="summary">
                          <p>tuiは梱包資材を紙製に統一するなど、<br class="pc">環境への配慮にも寄り添ったブランド構築を目指しています。</p>
                        </div>
                        <!-- /.summary -->
                      </div>
                      <!-- /.col -->
                    </div>
                    <!-- /.inner -->
                  </div>
                  <!-- /.wrap -->
                </div>
                <!-- /.content -->
              </div>
              <!-- /.inner -->
            </div>
            <!-- /.heroStyle_02 -->
          </div>
          <!-- /.inner -->
        </section>
        <!-- /.secStyle_01 -->
        <div class="secStyle_01">
  <div class="colStyle_04">
    <div class="col product_01Hide">
      <section class="articleStyle_03 way">
        <a href="{{ routes.root_url }}products/booster-oil">
          <div class="inner">
            <div class="eyeCatch">
              
              
                
<picture>
  <!--source
    data-srcset="{{ 'img_13.webp' | file_url }}"
    media="(min-width: 768px)"
    type="image/webp"
  -->
  <source
    data-srcset="{{ 'img_13.jpg' | file_url }}"
    media="(min-width: 768px)"
  >
  <!--source
    data-srcset="{{ 'img_13_sp.webp' | file_url }} 1x,{{ 'img_13_sp_2x.webp' | file_url }} 2x,{{ 'img_13_sp_3x.webp' | file_url }} 3x"
    type="image/webp"
  -->
  <source
    data-srcset="{{ 'img_13_sp.jpg' | file_url }}"
  >
  <img
    data-src="{{ 'img_13.jpg' | file_url }}"
    alt=""
    class="lazyload"
  >
  <div class="loadImg"></div>
  <!-- /.loadImg -->
</picture>

              
            </div>
            <!-- /.eyeCatch -->
            <div class="content">
              <div class="inner">
                <h2>BOOSTER OIL</h2>
              </div>
              <!-- /.inner -->
            </div>
            <!-- /.content -->
          </div>
          <!-- /.inner -->
        </a>
      </section>
      <!-- /.articleStyle_01 -->
    </div>
    <!-- /.col -->
    <div class="col product_02Hide">
      <section class="articleStyle_03 way">
        <a href="{{ routes.root_url }}products/moisture-serum">
          <div class="inner">
            <div class="eyeCatch">
              
              
                
<picture>
  <!--source
    data-srcset="{{ 'img_14.webp' | file_url }}"
    media="(min-width: 768px)"
    type="image/webp"
  -->
  <source
    data-srcset="{{ 'img_14.jpg' | file_url }}"
    media="(min-width: 768px)"
  >
  <!--source
    data-srcset="{{ 'img_14_sp.webp' | file_url }} 1x,{{ 'img_14_sp_2x.webp' | file_url }} 2x,{{ 'img_14_sp_3x.webp' | file_url }} 3x"
    type="image/webp"
  -->
  <source
    data-srcset="{{ 'img_14_sp.jpg' | file_url }}"
  >
  <img
    data-src="{{ 'img_14.jpg' | file_url }}"
    alt=""
    class="lazyload"
  >
  <div class="loadImg"></div>
  <!-- /.loadImg -->
</picture>

              
            </div>
            <!-- /.eyeCatch -->
            <div class="content">
              <div class="inner">
                <h2>MOISTURE SERUM</h2>
              </div>
              <!-- /.inner -->
            </div>
            <!-- /.content -->
          </div>
          <!-- /.inner -->
        </a>
      </section>
      <!-- /.articleStyle_01 -->
    </div>
    <!-- /.col -->
    <div class="col product_03Hide">
      <section class="articleStyle_03 way">
        <a href="{{ routes.root_url }}products/set-package">
          <div class="inner">
            <div class="eyeCatch">
              
              
                
<picture>
  <!--source
    data-srcset="{{ 'img_15.webp' | file_url }}"
    media="(min-width: 768px)"
    type="image/webp"
  -->
  <source
    data-srcset="{{ 'img_15.jpg' | file_url }}"
    media="(min-width: 768px)"
  >
  <!--source
    data-srcset="{{ 'img_15_sp.webp' | file_url }} 1x,{{ 'img_15_sp_2x.webp' | file_url }} 2x,{{ 'img_15_sp_3x.webp' | file_url }} 3x"
    type="image/webp"
  -->
  <source
    data-srcset="{{ 'img_15_sp.jpg' | file_url }}"
  >
  <img
    data-src="{{ 'img_15.jpg' | file_url }}"
    alt=""
    class="lazyload"
  >
  <div class="loadImg"></div>
  <!-- /.loadImg -->
</picture>

              
            </div>
            <!-- /.eyeCatch -->
            <div class="content">
              <div class="inner">
                <h2>SET PACKAGE</h2>
              </div>
              <!-- /.inner -->
            </div>
            <!-- /.content -->
          </div>
          <!-- /.inner -->
        </a>
      </section>
      <!-- /.articleStyle_01 -->
    </div>
    <!-- /.col -->
  </div>
  <!-- /.colStyle_04 -->
</div>
<!-- /.secStyle_01 -->

      </div>
      <!-- /.gallerySep -->
    </div>
    <!-- /#container -->
  </main>
  
  
  {% include 'footer-tui' %}
  
</div>
<!-- /#outerMenu -->
</div>
<!-- /#wrapper -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/gsap/latest/TweenMax.min.js"></script>

<script src="{{ 'master.js' | asset_url }}" type="text/javascript"></script>


<script>
  $(function() {
    
    setPhotoChanger ();
    
    startScroll ();
    
    setVideo();
    
  });
</script>

<script type="application/json" data-cart-routes>
  {
    "cartUrl": "{{ routes.cart_url }}",
    "cartAddUrl": "{{ routes.cart_add_url }}",
    "cartChangeUrl": "{{ routes.cart_change_url }}"
  }
</script>

<ul hidden>
  <li id="a11y-refresh-page-message">{{ 'general.accessibility.refresh_page' | t }}</li>
  <li id="a11y-selection-message">{{ 'general.accessibility.selection_help' | t }}</li>
</ul>



