

{% layout 'theme.tui' %}

<div id="outerMenu">
  
  <main role="main">
    <div id="container">
      <div class="secStyle_04 setMrg_27 way">
        <div class="inner">
          <section class="secStyle_06">
            <div class="inner">
              <h1 class="ttlStyle_08">特定商取引法に基づく表記</h1>
              <div class="setMrg_44">
                <div class="summaryStyle_04">
                  <div class="dlStyle_01">
                    <dl>
                      <dt>会社名</dt>
                      <dd>株式会社 tui beauty</dd>
                    </dl>
                    <dl>
                      <dt>運営責任者</dt>
                      <dd>福山　正之</dd>
                    </dl>
                    <dl>
                      <dt>住所</dt>
                      <dd>〒150-0001<br>東京都渋谷区神宮前5-46-1</dd>
                    </dl>
                    <dl>
                      <dt>電話番号</dt>
                      <dd><a href="tel:0364271591" class="linkStyle_01">03-6427-1591</a></dd>
                    </dl>
                    <dl>
                      <dt>メールアドレス</dt>
                      <dd><a href="mailto:info@tui-beauty.com" class="linkStyle_01">info@tui-beauty.com</a></dd>
                    </dl>
                    <dl>
                      <dt>URL</dt>
                      <dd><a href="https://tui-beauty.com/" class="linkStyle_01">https://tui-beauty.com/</a></dd>
                    </dl>
                  </div>
                  <!-- /.dlStyle_01 -->
                </div>
                <!-- /.summaryStyle_04 -->
              </div>
              <div class="setMrg_30">
                <h3 class="ttlStyle_12">商品の価格</h3>
                <div class="summaryStyle_04">
                  <p>各商品毎に表示<br>※販売価格には消費税が含まれています。</p>
                </div>
                <!-- /.summaryStyle_04 -->
              </div>
              <!-- /.setMrg_30 -->
              <div class="setMrg_30">
                <h3 class="ttlStyle_12">商品以外の必要代金</h3>
                <div class="summaryStyle_04">
                  <p>【配送料】<br>国内への発送：一律　税込550円<br>※定期販売の場合は、商品発送毎にお支払いが発生いたします。</p>
                </div>
                <!-- /.summaryStyle_04 -->
              </div>
              <!-- /.setMrg_30 -->
              <div class="setMrg_30">
                <h3 class="ttlStyle_12">代金の支払い方法</h3>
                <div class="summaryStyle_04">
                  <p class="style_01">インターネット（https://tui-beauty.com/）でのご注文</p>
                  <ul class="listStyle_03">
                    <li>クレジットカード決済（Visa・Mastercard・American Express・JCB）</li>
                    <li>AmazonPay</li>
                  </ul>
                </div>
                <!-- /.summaryStyle_04 -->
              </div>
              <!-- /.setMrg_30 -->
              <div class="setMrg_30">
                <h3 class="ttlStyle_12">お支払い時期</h3>
                <div class="summaryStyle_04">
                  <p>【クレジットカード決済／ AmazonPay】<br>ご注文完了時に決済処理をいたします。</p>
                </div>
                <!-- /.summaryStyle_04 -->
              </div>
              <!-- /.setMrg_30 -->
              <div class="setMrg_30">
                <h3 class="ttlStyle_12">お届け時期</h3>
                <div class="summaryStyle_04">
                  <p>ご注文完了後、通常、約3営業日から5営業日での発送となります。<br>※定期販売の場合は、指定された配送日を基準に、配送間隔毎にお届けいたします。<br>※クレジットカード支払いの場合、処理状況により配送が遅れる場合がございますのでご了承ください。</p>
                  <ul class="listStyle_03">
                    <li>祝・土日を除く、月曜から金曜の発送になります。商品購入時の、配達日時指定はできません。</li>
                  </ul>
                </div>
                <!-- /.summaryStyle_04 -->
              </div>
              <!-- /.setMrg_30 -->
              <div class="setMrg_30">
                <h3 class="ttlStyle_12">同梱発送について</h3>
                <div class="summaryStyle_04">
                  <p>システム上の理由から予約商品と通常商品の同梱、又は、ご注文番号の異なる通常商品同士の同梱はいたしかねます。 配送センターとのやり取りや、同梱発送のご準備により発送全体に遅延が生じかねませんため、そのようにさせていただいております。何卒ご了承くださいませ。</p>
                </div>
                <!-- /.summaryStyle_04 -->
              </div>
              <!-- /.setMrg_30 -->
              <div class="setMrg_30">
                <h3 class="ttlStyle_12">キャンセル・返品・交換について</h3>
                <div class="summaryStyle_04">
                  <p>別途「<a href="https://tui-beauty.com/policies/refund-policy" >キャンセル・返品・交換ポリシー</a>」をご参照ください。</p>
                </div>
                <!-- /.summaryStyle_04 -->
              </div>
              <!-- /.setMrg_30 -->
              <div class="setMrg_30">
                <h3 class="ttlStyle_11">【住所の間違いや長期不在、受取拒否にて商品が返送された場合】</h3>
                <div class="summaryStyle_04">
                  <p>お客様には配送費として「往復分の送料」の実費を請求させていただきます。<br>その際、弊社からの連絡にご返信をいただけない場合は内容証明郵便の送付及び法的手続きを行う場合がございます。<br>ご注文の際は住所に記載漏れ等がないかをご確認いただくようお願いいたします。</p>
                </div>
                <!-- /.summaryStyle_04 -->
              </div>
              <!-- /.setMrg_30 -->
              <div class="setMrg_30">
                <h3 class="ttlStyle_12">申込の有効期限</h3>
                <div class="summaryStyle_04">
                    <p>キャンペーン等の特定の申込有効期限がある場合は、商品表示時に併せて記載いたします。</p>
                </div>
                <!-- /.summaryStyle_04 -->
              </div>
              <!-- /.setMrg_30 -->
              <div class="setMrg_30">
                <h3 class="ttlStyle_12">特別の販売条件</h3>
                <div class="summaryStyle_04">
                    <p>販売数量の制限その他、特別の販売条件がある場合は、商品表示に併せて記載いたします。</p>
                </div>
                <!-- /.summaryStyle_04 -->
              </div>
              <!-- /.setMrg_30 -->
            </div>
            <!-- /.inner -->
          </section>
          <!-- /.secStyle_06 -->
        </div>
        <!-- /.inner -->
      </div>
      <!-- /.secStyle_04 -->
    </div>
    <!-- /#container -->
  </main>
  
  
  {% include 'footer-tui' %}
  
</div>
<!-- /#outerMenu -->
</div>
<!-- /#wrapper -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/gsap/latest/TweenMax.min.js"></script>

<script src="{{ 'master.js' | asset_url }}" type="text/javascript"></script>


<script>
  $(function() {
    
    
    
  });
</script>

<script type="application/json" data-cart-routes>
  {
    "cartUrl": "{{ routes.cart_url }}",
    "cartAddUrl": "{{ routes.cart_add_url }}",
    "cartChangeUrl": "{{ routes.cart_change_url }}"
  }
</script>

<ul hidden>
  <li id="a11y-refresh-page-message">{{ 'general.accessibility.refresh_page' | t }}</li>
  <li id="a11y-selection-message">{{ 'general.accessibility.selection_help' | t }}</li>
</ul>



