

{% layout 'theme.tui' %}

<div id="outerMenu">
  
  <main role="main">
    <div id="container">
      <div class="secStyle_04 setMrg_27 way">
        <div class="inner">
          <section class="secStyle_06">
            <div class="inner counterTtl">
              <h1 class="ttlStyle_08">利用規約</h1>
              <div class="setMrg_28">
                <div class="summaryStyle_04">
                  <p>株式会社tui beauty（以下、「当社」といいます）は、自ら管理運営するサイトである「tui」（PCサイト、タブレットサイトおよびスマートフォンサイト等によるご提供を含み、以下、総称して、「当サイト」といいます）の利用規約（以下、「本規約」といいます）を次のとおり定めるものとします。お客様が当サイトを利用及び当サイトで商品を購入される場合は、この規約に同意されたものとみなされますので、本規約をよくお読みください。</p>
                </div>
                <!-- /.summaryStyle_04 -->
              </div>
              <!-- /.setMrg_28 -->
              <div class="setMrg_28">
                <h3 class="ttlStyle_09">個人情報保護について</h3>
                <div class="summaryStyle_04">
                  <p>個人情報保護方針・プライバシーポリシーは、お客様が当サイトを利用される場合に適用されます。よくお読みになり、ご理解いただきますようお願いいたします。<br><a href="{{ routes.root_url }}pages/privacy-policy" class="linkStyle_01">プライバシーポリシーについて</a></p>
                </div>
                <!-- /.summaryStyle_04 -->
              </div>
              <!-- /.setMrg_28 -->
              <div class="setMrg_28">
                <h3 class="ttlStyle_09">電子的コミュニケーション</h3>
                <div class="summaryStyle_04">
                  <p>お客様が当サイトにアクセスし、または、当社にEメールを送信するときは、お客様は当社と電子的にコミュニケーションをとっていることになります。お客様は、当社から電子的な方法で連絡を受けることに同意するものとします。当社からお客様へのご連絡は、Eメールまたは当サイトにお知らせを掲載する方法で行います。お客様は、全ての合意、お知らせ、情報開示その他のご連絡を当社がお客様に電子的な方法で行うことをもって、それらのご連絡を書面で行うことを求める法的要請を充たしているものとすることに同意することとします。</p>
                </div>
                <!-- /.summaryStyle_04 -->
              </div>
              <!-- /.setMrg_28 -->
              <div class="setMrg_28">
                <h3 class="ttlStyle_09">ご注文方法</h3>
                <div class="summaryStyle_04">
                  <p>商品のご注文は、当サイト上に記載されている必要事項を記入し、これをオンラインで当社に送信する方法により行っていただきます。<br>当社は、ご注文の際にご入力いただいた情報をもとに、ご注文から配送までの手続きを行いますので、ご入力の際はくれぐれもお間違いのないようお願いいたします。</p>
                </div>
                <!-- /.summaryStyle_04 -->
              </div>
              <!-- /.setMrg_28 -->
              <div class="setMrg_28">
                <h3 class="ttlStyle_09">ご注文方法</h3>
                <div class="summaryStyle_04">
                  <p>商品のご注文は、当サイト上に記載されている必要事項を記入し、これをオンラインで当社に送信する方法により行っていただきます。<br>当社は、ご注文の際にご入力いただいた情報をもとに、ご注文から配送までの手続きを行いますので、ご入力の際はくれぐれもお間違いのないようお願いいたします。</p>
                </div>
                <!-- /.summaryStyle_04 -->
              </div>
              <!-- /.setMrg_28 -->
              <div class="setMrg_28">
                <h3 class="ttlStyle_09">契約の成立</h3>
                <div class="summaryStyle_04">
                  <p>当サイトにて商品をご注文いただくと、ご注文の受領確認とご注文内容を記載した「ご注文の確認」メールが当サイトから送信されます。お客様からのご注文は、商品購入についての契約の申込となります。当社が販売する商品をご注文いただいた場合、当サイトから「ご注文の発送」メールがお客様に送信されたときにお客様の契約申込は承諾され、契約が成立します。<br>一度に複数の商品をご注文いただいた際、一括で商品が出荷されない場合があります。その場合は、それぞれ商品が出荷されるタイミングで「ご注文の発送」メールが送信され、その送信をもって各々の契約が成立するものとします。</p>
                </div>
                <!-- /.summaryStyle_04 -->
              </div>
              <!-- /.setMrg_28 -->
              <div class="setMrg_28" id="subscription">
                <h3 class="ttlStyle_09">定期購入サービス</h3>
                <div class="summaryStyle_04">
                  <p>当サイトにて商品をご注文いただくと、ご注文の受領確認とご注文内容を記載した「ご注文の確認」メールが当サイトから送信されます。お客様からのご注文は、商品購入についての契約の申込となります。当社が販売する商品をご注文いただいた場合、当サイトから「ご注文の発送」メールがお客様に送信されたときにお客様の契約申込は承諾され、契約が成立します。<br>一度に複数の商品をご注文いただいた際、一括で商品が出荷されない場合があります。その場合は、それぞれ商品が出荷されるタイミングで「ご注文の発送」メールが送信され、その送信をもって各々の契約が成立するものとします。</p>
                </div>
                <!-- /.summaryStyle_04 -->
                <div class="numSection">
                  <div class="sec">
                    <h4>定期購入サービスの概要</h4>
                    <div class="summaryStyle_04">
                      <p class="style_02">定期購入サービスは、一度お手続きいただくだけで、以後定期的（月1回）に、当社が定期購入サービスの対象とする商品のうち、ご注文いただいた商品をお届けするサービスです。</p>
                      <ul class="listStyle_03">
                        <li>定期購入サービスは、ご注文を自動的に作成するサービスであり、売買契約成立、返品・交換、その他購入に関する事項については、本規約を適用します。</li>
                        <li>定期購入サービスでは、解約に必要な購入回数を２回(初回購入後１回の定期配送)に設定しています。購入回数が解約に必要な回数に達するまで、定期購入サービスを解約することはできません。定期購入サービスにおいては、お客様から解約の申出がない限り、回数の制限なく、自動的に売買契約が成立します。</li>
                        <li>決済不成立、システム障害、その他理由の如何を問わず、注文が完了しなかった場合、該当回はスキップされ、商品をご購入いただくことができません。この場合、解約に必要な購入回数にはカウントされません。</li>
                        <li>お客様が申込中の定期購入サービスは、商品提供体制の変更、システム更改、その他の当サイトの都合により、終了することがあります。当サイトは、この場合において、やむを得ない事由があるときは、事前に予告または通知することなく直ちに当該定期購入サービスを終了することができるものとします。なお、当該定期購入サービスが終了した場合であっても、既に発送済の商品については、代金をお支払いいただきます。</li>
                      </ul>
                    </div>
                    <!-- /.summaryStyle_04 -->
                  </div>
                  <!-- /.sec -->
                  <div class="sec">
                    <h4>登録内容の変更</h4>
                    <div class="summaryStyle_04">
                      <p class="style_02">定期購入サービスの利用に当たりご登録いただいた内容は、当サイトの<a href="{{ routes.root_url }}account" target="_blank" class="linkStyle_01">会員マイページ</a>（以下「マイページ」といいます。）からご変更いただけます。登録内容の変更は次回お届け予定日の20日前までに行うことで次回注文に反映されます。<br>（通信状況等の要因により次回発送が終了してから反映される場合があります。）</p>
                    </div>
                    <!-- /.summaryStyle_04 -->
                  </div>
                  <!-- /.sec -->
                </div>
                <!-- /.numSection -->
              </div>
              <!-- /.setMrg_28 -->
              <div class="setMrg_28">
                <h3 class="ttlStyle_09">注文内容の変更・キャンセル</h3>
                <div class="summaryStyle_04">
                  <p>当社は、原則として、お客様からのご注文を受信後ただちに商品の出荷処理を行いますので、商品のご注文後の変更およびキャンセルはできません。ただし、次回お届け予定日の20日前に限り、オンラインで注文内容の変更またはキャンセルをすることができます。</p>
                </div>
                <!-- /.summaryStyle_04 -->
              </div>
              <!-- /.setMrg_28 -->
              <div class="setMrg_28">
                <h3 class="ttlStyle_09">契約の解除</h3>
                <div class="summaryStyle_04">
                  <p class="style_02">当社は、お客様が以下の各号の何れかに該当することが判明した場合、当社が「ご注文の発送」メールを送信せず契約の成立をさせない場合があるほか、契約が成立した後でも、事前に催告することなく売買契約の解除をすることができるものとします。</p>
                  <ul class="listStyle_03 style_02">
                    <li>親権者の同意を得ていない未成年者が購入した場合</li>
                    <li>過去に本規約およびその他の当社規約や法令に対する違反が認められた場合</li>
                    <li>利用時の申告事項に、悪質な虚偽、または重大な誤記、記入漏れがあった場合</li>
                    <li>当社へのお支払を怠ったことがある場合</li>
                    <li>商品の購入にあたり、当社の与信審査の結果、お支払方法の変更を依頼した場合に、お客様が指定の支払方法に変更できない場合</li>
                    <li>当社または提携企業の業務遂行を妨げる行為を行った場合</li>
                    <li>合理的な理由なく返品または受取拒否を繰り返し行ったことがある場合</li>
                    <li>商品が品切れになり、容易にお届けができない場合</li>
                  </ul>
                  <p>上記各号の一つに準ずる事由が認められた場合（過去のお客様と当社との取引において、上記各号の一つにお客様が該当していた場合を含みます）、その他当社が不適当であると判断した場合</p>
                </div>
                <!-- /.summaryStyle_04 -->
              </div>
              <!-- /.setMrg_28 -->
              <div class="setMrg_28">
                <h3 class="ttlStyle_09">配送</h3>
                <div class="summaryStyle_04">
                  <p>当社は、ご注文受付後、一部商品を除いて、定形外郵便、ゆうパケット、クリックポスト、レターパック、ネコポスで3～7営業日内（離島はこの限りではありません）で商品をポストに投函、もしくはゆうパック、クロネコ宅急便、飛脚宅急便、エコ配、カンガルー便で配送します。<br>配送地域、自然災害、交通状況や、ご注文商品に空輸禁止商品が含まれている場合等の様々な事情によりお届けが遅れる場合があります。また、商品の供給不足等により、商品を発送するまでに時間がかかったり、ご注文を受けられなかったりする場合がありますので、予めご了承ください。商品の在庫状況や大きさによっては、ご注文いただいたお荷物を2口以上に分けてお送りする場合があります。長期にわたりご注文商品を受け取っていただけない場合は、当該ご注文をキャンセルさせていただくことがあります。</p>
                </div>
                <!-- /.summaryStyle_04 -->
              </div>
              <!-- /.setMrg_28 -->
              <div class="setMrg_28">
                <h3 class="ttlStyle_09">配送地域</h3>
                <div class="summaryStyle_04">
                  <p>日本国外への発送は受け付けておりません。</p>
                </div>
                <!-- /.summaryStyle_04 -->
              </div>
              <!-- /.setMrg_28 -->
              <div class="setMrg_28">
                <h3 class="ttlStyle_09">所有権の移転・危険負担</h3>
                <div class="summaryStyle_04">
                  <p>商品に関する所有権と危険負担は、当社が商品を配送業者に引き渡した時点でお客様に移ります。ただし、当該ご注文商品のお支払方法にて「クレジットカード決済」をご選択時、お客様と決済サービス提供会社間の立替払契約に基づく債務が完済されるまで当該ご注文商品の所有権は当社から当該決済サービス提供会社へと移転し、当該決済サービス提供会社に留保されます。</p>
                </div>
                <!-- /.summaryStyle_04 -->
              </div>
              <!-- /.setMrg_28 -->
              <div class="setMrg_28">
                <h3 class="ttlStyle_09">お支払方法</h3>
                <div class="summaryStyle_04">
                  <p>当サイトでご利用いただけるお支払方法は、クレジットカード決済、AmazonPayの２通りとなります。それぞれにかかる手数料は違いますのでご確認ください。</p>
                </div>
                <!-- /.summaryStyle_04 -->
              </div>
              <!-- /.setMrg_28 -->
              <div class="setMrg_28">
                <h3 class="ttlStyle_09">返品</h3>
                <div class="summaryStyle_04">
                  <p class="style_02">当社は、原則として返品を受け付けません。ただし、商品に次のような不具合があり、且つ商品到着後から8日以内にホームページ内の<a href="{{ routes.root_url }}pages/contact" class="linkStyle_01">お問い合わせフォーム</a>よりご連絡いただいた場合に限り、返品をお受けいたします。この場合の返品送料は当社が負担します。返品は原則交換での対応となりますが、交換在庫の無いもの、交換が不適当と当社が判断する場合は返金するものとします。</p>
                  <ul class="listStyle_03 style_02">
                    <li>配送中の事故による商品の破損がある場合（ただし、追跡番号の発行された配送物の破損については、その限りではありません）<br>※追跡番号の発行された配送物の破損については、配送業者へお問い合わせください。</li>
                    <li>商品が不良品だった場合</li>
                    <li>ご注文内容と異なる商品が届いた場合</li>
                    <li>その他、当社が返品・交換の必要があると認める場合</li>
                  </ul>
                  <p class="style_02">以下に該当する場合は、商品の返品および良品との交換を承れませんのでご注意ください。</p>
                  <ul class="listStyle_03 style_02">
                    <li>商品到着後８日を経過してからご連絡いただいた場合</li>
                    <li>使用後に汚れ、傷、はがれ、破損、汚損等が生じた商品</li>
                    <li>当サイトでお買い求めでない商品</li>
                    <li>インターネット環境や「間違って注文してしまった」等のお客様のご都合によるもの</li>
                    <li>メーカー様の都合による商品のパッケージが変更になる場合（パッケージの相違）や、外装の汚れ・傷・はがれ等がある場合でも、商品自体に明らかな破損・汚損等が認められない場合</li>
                    <li>代引き決済によるご注文で、お客様からのご連絡が無い場合の受取拒否や、お客様のご都合による長期不在等での返品</li>
                  </ul>
                  <p>なお、返品制限対象商品と明記されている商品は、未開封品に限り返品をお受けいたしますが、商品の性質（衛生商品等）上、上記の条件を満たしていても返品をお受けできないことがあります。</p>
                </div>
                <!-- /.summaryStyle_04 -->
              </div>
              <!-- /.setMrg_28 -->
              <div class="setMrg_28">
                <h3 class="ttlStyle_09">商品説明</h3>
                <div class="summaryStyle_04">
                  <p>当社は、商品説明または当サイトその他のコンテンツに関して、可能な限り正確性を保つように努めております。しかし、当社は、商品説明または当サイトその他のコンテンツ全てが正確である、完全である、信頼性がある、最新のものである、または誤りがないことを確実に保証するものではありません。ご使用の前には、商品の外包に記載される説明や添付されている説明書をいまいちどご確認ください。</p>
                </div>
                <!-- /.summaryStyle_04 -->
              </div>
              <!-- /.setMrg_28 -->
              <div class="setMrg_28">
                <h3 class="ttlStyle_09">価格、仕様等の改定</h3>
                <div class="summaryStyle_04">
                  <p>当サイトに掲載される商品等の販売価格、参考価格及び仕様等につきましては、予告なく変更され、もしくは取り扱いが中止される場合がございます。</p>
                </div>
                <!-- /.summaryStyle_04 -->
              </div>
              <!-- /.setMrg_28 -->
              <div class="setMrg_28">
                <h3 class="ttlStyle_09">商品の価格</h3>
                <div class="summaryStyle_04">
                  <p>当サイトの「価格」欄には当サイトでの「販売価格」を表示しています。「参考価格」欄が表示されている場合には、別段の記載が無い限り、メーカー等が広く消費者に告知している価格（商品パッケージやカタログ等への表記によるもので一般にメーカー希望小売価格と呼ばれるもの）または広く小売業者に告知している価格（一般に参考小売価格等と呼ばれるもの）を表示しています。一つの商品について二種類の価格を表示し、その一方が取り消し線つきで表示されている場合、取り消し線つきのものが「参考価格」であり、他方が「販売価格」です。表示されている価格が一つしかない場合はそれが当サイトでの「販売価格」になります。</p>
                  <p>当社は、本サイト上の全ての商品及び価格情報が正確であるように努めますが、システム障害によるエラーや人為的誤表記等の障害およびエラーが発生し、商品の販売価格及び参考価格等に誤りがある場合があります。<br>万が一商品の誤った販売価格がサイト上に表示されていた場合は、次のように価格調整をさせていただきます。ただし、一部の商品については、販売価格がエラーにより不正確だった場合でも、当社はご注文を承諾する義務を負いません。<br>・商品の正しい販売価格が、当サイトに表示されていた販売価格より低い場合は、その低い方の販売価格で請求させていただきます。<br>・商品の正しい販売価格が、当サイトに表示されていた販売価格より高い場合は、発送前にお客様に正しい販売価格をお知らせした上で、そのまま購入されるか、ご注文をキャンセルされるかを選択していただきます。正しい販売価格のお知らせ後、2週間経過するまでお客様からのご連絡がない場合は、ご注文をキャンセルされたものとみなします。</p>
                </div>
                <!-- /.summaryStyle_04 -->
              </div>
              <!-- /.setMrg_28 -->
              <div class="setMrg_28">
                <h3 class="ttlStyle_09">著作権</h3>
                <div class="summaryStyle_04">
                  <p>当サイト上に表示してある写真・文章その他の著作権等全ての権利は当社または当社に権利を許諾した第三者に属します。著作権法等の法律に明示的に認められる場合を除き、無断での複写・転載・加工その他の使用をすることはできません。</p>
                </div>
                <!-- /.summaryStyle_04 -->
              </div>
              <!-- /.setMrg_28 -->
              <div class="setMrg_28">
                <h3 class="ttlStyle_09">商標</h3>
                <div class="summaryStyle_04">
                  <p>当サイト上で使用される商標（トレードマーク、サービスマーク）は、当社または当社に使用を許諾した権利者に帰属します。また、当社の商標は、お客様に混同を生ずるおそれのある方法や、当社の名誉または信用を傷つける方法で、当社のものではない製品またはサービスに関して用いることはできませんのでご注意ください。</p>
                </div>
                <!-- /.summaryStyle_04 -->
              </div>
              <!-- /.setMrg_28 -->
              <div class="setMrg_28">
                <h3 class="ttlStyle_09">アカウント</h3>
                <div class="summaryStyle_04">
                  <ul class="listStyle_02">
                    <li>マイページの登録を希望されるお客様は、本規約を承諾していただいた上で、当社が別途指定する手続に従って会員情報を登録していただきます。</li>
                    <li>氏名、住所、電話番号、その他当社に登録している内容に変更が生じた場合には、速やかに当社所定の方法にて変更の届出をするものとします。</li>
                    <li>当サイトをご利用になる場合、お客様はご自分のアカウントおよびパスワードの管理責任を負うものとします。また、お客様のアカウントおよびパスワードを他人に譲渡・貸与することはできません。アカウントおよびパスワードの不正利用により生じた損害について当社は一切の責任を負わないものとします。お客様は、アカウントおよびパスワードが第三者によって不正に使用されていることが判明した場合には、直ちに当社に連絡するものとします。</li>
                    <li>会員情報の登録を取消す場合には、所定の方法にて当社に届出るものとします。</li>
                    <li>会員情報を登録されたお客様が以下の何れかに該当する場合、当社は、事前に通知することなく、直ちに当該お客様の本サイトの利用の停止、その他当社が適当と考える措置を講ずることができるものとします。また、当サイトを利用できなくなる等の当社による措置により、当該お客様または第三者に損害が発生したとしても、当社は一切の責任を負いません。
                      <ul class="listStyle_03">
                        <li>登録内容に虚偽があった場合</li>
                        <li>決済手段として当該お客様が届出たクレジットカードが、クレジット会社による利用契約の解除その他の理由により、利用が認められなくなった場合</li>
                        <li>過去に当社の提供する何らかのサービスに関して、正当な理由なく、料金等の支払債務の履行遅延または不履行があった場合</li>
                        <li>会員情報を登録されたお客様との連絡が取れなくなった場合</li>
                        <li>その他本規約に違反した場合</li>
                        <li>その他不適切と当社が判断した場合</li>
                      </ul>
                    </li>
                    <li>会員情報を登録されるお客様は、以下の行為を行ってはならないものとします。
                      <ul class="listStyle_03">
                        <li>虚偽の登録内容を申請する行為</li>
                        <li>本サイトの運営を妨げ、その他支障をきたすおそれのある行為</li>
                        <li>クレジットカードを不正使用して本サイトを利用する行為</li>
                        <li>アカウントおよびパスワードを不正に使用する行為</li>
                        <li>当社の著作権、商標権、プライバシーその他の権利を侵害する行為、またはそれらのおそれのある行為</li>
                        <li>その他当社が不適当と判断する行為</li>
                      </ul>
                    </li>
                  </ul>
                </div>
                <!-- /.summaryStyle_04 -->
              </div>
              <!-- /.setMrg_28 -->
              <div class="setMrg_28">
                <h3 class="ttlStyle_09">免責事項</h3>
                <div class="summaryStyle_04">
                  <p>当社は、天災・天候・ハッカー等の不正アクセス等の第三者による不当行為・システムトラブルその他の予期せぬ事情によってお客様または第三者に生じた損害について、責任を負いかねますので、あらかじめご了承ください。</p>
                  <p>当社は、当サイト、情報、コンテンツ、材料、商品、サイト上に含まれるあるいは提供されるサービス、サーバー、当サイトから送信されたEメールが、コンピュータウイルス等の有害なものが含まれていないことを保証いたしません。<br>当サイトに記載されたテキスト、商品、価格、画像、ファイル、メニュー、デザイン、機能、URL、その他全てのコンテンツは予告無く、追加または変更、削除される場合があります。<br>万が一、当サイトのご利用により、お客様または第三者に損害が発生した場合、本規約・その他の規定等で明示的に定める場合または当社の故意・重過失により損害が発生した場合を除いて、いかなる損害に対しても責任を負いかねますので、あらかじめご了承ください。<br>情報の提供、サービスの提供、商品の販売などを目的として、当社以外の第三者が管理するウェブサイトにリンクする場合があります。当社は、そのサイトに含まれている情報、サービス等については、評価、保証はいたしません。</p>
                </div>
                <!-- /.summaryStyle_04 -->
              </div>
              <!-- /.setMrg_28 -->
              <div class="setMrg_28">
                <h3 class="ttlStyle_09">本規約等の変更</h3>
                <div class="summaryStyle_04">
                  <p>当社は随時本規約を変更することができるものとします。本規約または個々のサービスにおける規約に別段の定めがある場合を除き、本規約を改定した場合は、あらかじめ当サイトに改定内容および効力発生日等を告知します。効力発生日以降にお客様が本サービスを利用した場合、お客様が改定後の本規約に同意したものとみなします。改定後の本規約は、効力発生日から効力を生じるものとします。</p>
                </div>
                <!-- /.summaryStyle_04 -->
              </div>
              <!-- /.setMrg_28 -->
              <div class="setMrg_28">
                <h3 class="ttlStyle_09">利用契約上の地位の譲渡等</h3>
                <div class="summaryStyle_04">
                  <p>お客様は、当社の書面による事前の承諾なく、利用契約の地位または本規約にもとづく権利もしくは義務につき、第三者に対し、譲渡、移転、担保設定、その他の処分をすることはできません。<br>当社は、当サイトにかかる事業を他社に譲渡した場合には、当概事業譲渡に伴い、利用契約上の地位、本規約にもとづく権利および義務ならびにお客様の登録事項その他の顧客情報を当概事業譲渡の譲受人に譲渡することができるものとし、お客様は、かかる譲渡につき本項において予め同意したものとします。なお、本項に定める事業譲渡には、通常の事業譲渡のみならず、会社分割その他事業が移転するあらゆる場合を含むものとします。</p>
                </div>
                <!-- /.summaryStyle_04 -->
              </div>
              <!-- /.setMrg_28 -->
              <div class="setMrg_28">
                <h3 class="ttlStyle_09">分離可能性</h3>
                <div class="summaryStyle_04">
                  <p>本規約の規定の一部が、消費者契約法その他の法令等または裁判所により違法または執行不能と判断された場合であっても、当該規定のその他の部分および本規約の残りの規定は、継続して完全に効力を有するものとします。</p>
                </div>
                <!-- /.summaryStyle_04 -->
              </div>
              <!-- /.setMrg_28 -->
              <div>
                <h3 class="ttlStyle_09">準拠法・裁判管轄</h3>
                <div class="summaryStyle_04">
                  <p>本規約の準拠法は日本法とします。なお、国際物品売買契約に関する国際連合条約の適用を排除することに合意します。<br>本サイトに関連する一切の紛争については、東京地方裁判所を第一審の専属的合意管轄裁判所とします。</p>
                </div>
                <!-- /.summaryStyle_04 -->
              </div>
              <!-- /.setMrg_28 -->
            </div>
            <!-- /.inner -->
          </section>
          <!-- /.secStyle_06 -->
        </div>
        <!-- /.inner -->
      </div>
      <!-- /.secStyle_04 -->
    </div>
    <!-- /#container -->
  </main>
  
  
  {% include 'footer-tui' %}
  
</div>
<!-- /#outerMenu -->
</div>
<!-- /#wrapper -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/gsap/latest/TweenMax.min.js"></script>

<script src="{{ 'master.js' | asset_url }}" type="text/javascript"></script>


<script>
  $(function() {
    
    startScroll ();
    
  });
</script>

<script type="application/json" data-cart-routes>
  {
    "cartUrl": "{{ routes.cart_url }}",
    "cartAddUrl": "{{ routes.cart_add_url }}",
    "cartChangeUrl": "{{ routes.cart_change_url }}"
  }
</script>

<ul hidden>
  <li id="a11y-refresh-page-message">{{ 'general.accessibility.refresh_page' | t }}</li>
  <li id="a11y-selection-message">{{ 'general.accessibility.selection_help' | t }}</li>
</ul>



